@import '../config/variables.css';

/* Specific stuff */
.video-container iframe { max-width: 100%; }
/* Random spacing fix (jobb) */
.object-description .r-margin p {
    margin-left: 0;
    margin-right: 0;
}
.hover-background a:hover { background-color: #F4F7FA; }
/* Market hover */

.market-selector {
    border-left: 1px solid rgba(0,0,0,.05);
    border-radius: 2px;
    margin-right: 10px;
}
.market-selector a {
    display: block;
    height: auto;
}
.market-selector .mod { margin: 0 0 0 0 !important; }
.market-selector .mod.shadow > .inner { border-left: 0; }
@media (--small-screen) {
    .market-selector { margin-right: 2px; }
}

.scroll-container {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.list-line:not(:last-child) { border-bottom: 1px solid var(--pale); }
/* footer specific, default is collapsed for old phones, temporary fix? */
.horizontal-list.default1col li { display: block; }
@media not all and (--small-screen) {
    .horizontal-list.default1col li { display: inline; }
    /* should we make a generic thing for vertical dividers. this one is for the footer */
    .verticalhr li:not(:last-child) { border-right: 1px solid var(--pale); }
}


@media not all and (--small-screen) {
    .fixedfilters .scrollbar::-webkit-scrollbar {
        width: 5px;
        background: transparent;
    }
    .fixedfilters .scrollbar:hover::-webkit-scrollbar { }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--lt-gray);
        border-radius: 5px;
    }
    .fixedfilters .scrollbar:hover::-webkit-scrollbar-thumb { background-color: #CCCCCC; }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb:hover { background-color: #BBBBBB; }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb:active { background-color: #AAAAAA; }
    .fixedfilters .scrollbar {
        max-height: 600px;
        margin-right: 5px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media (--small-screen) {
    body,
    .scroll-container {
        padding-bottom: 30px; /* Avoid the issue of toolbars showing up when clicking too close to the bottom toolbar on iOS 7. */
    }
}

.skiplink {
    /* This has opacity 0 instead of display: none to avoid layout when it's focused */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: var(--white);
    color: var(--black);
    padding: 5px 10px;
    z-index: -1;
}

.skiplink:focus {
    opacity: 1;
    z-index: 5;
}

.actionFeedback {
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    transition: all 1s ease-in-out 0.5s;
}
