<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <pre><code>{{{example-1}}}</code></pre>
            <p>{{{example-1-plain}}}</p>


                <p class="opaque"><strong>Note:</strong> The order of the elements is important in this one; <code>.popover-position</code> must be placed before <code>.popover-link</code> in order to make sure the popover positions itself correctly relative to the link.</p>

            <p class="opaque">Pop-<strong>under</strong>:<p>
                                <pre class="prettyprint linenums">&lt;p&gt;
    heisann
    &lt;span class=&quot;popover-container&quot;&gt;
        &lt;span class=&quot;popover-position&quot;&gt;
            &lt;span class=&quot;popover-content under hidden&quot;&gt;
                &lt;span&gt;text and &lt;a href=&quot;http://finn.no&quot; target=&quot;_blank&quot;&gt;links&lt;/a&gt; and&lt;/span&gt;&lt;br&gt;
                &lt;button class=&quot;primary&quot;&gt;things&lt;/button&gt; and &lt;button&gt;stuff&lt;/button&gt;
            &lt;/span&gt;
        &lt;/span&gt;
        &lt;a class=&quot;popover-link&quot; href=&quot;#&quot;&gt;hoppsann&lt;/a&gt;
    &lt;/span&gt;
    heisann
&lt;/p&gt;</pre></details>
            <p class="opaque">Usage: Display brief additional information or interaction on click. May contain (a limited amount of) inline elements like spans, links, buttons, etc. Toggle visibility by removing or adding <code>.hidden</code> from/to <code>.popover-content</code> (no js provided for the time being).</p>


        </div>
    </div>
</div>
