.popover-position {
    position: absolute;
    height: 0;
    display: inline;
}
.popover-content {
    position: absolute;
    left: 0;
    bottom: .75em;
    background: var(--pale);
    border-radius: 4px;
    padding: 10px;
    width: 15em;
    z-index: 2;
    box-shadow: 3px 3px 4px rgba(0,0,0,.05);
}
@media (min-width: 460px) {
    .popover-content.under {
        bottom: auto;
        top: 2.5em;
    }
}
.popover-content:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    left: 15px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid var(--pale);
    z-index: 1;
}
.popover-content.under:after {
    bottom: auto;
    top: -7px;
    border-top: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid var(--pale);
}

@media (--mini-screen) {
    .popover-content {
        display: inline-block;
        position: fixed;
        left: 10%;
        width: 80%;
        top: 25%;
        bottom: auto;
    }
    .popover-content:after { display: none; }
}
