@custom-media --mini-screen (width <= 459px);
@custom-media --small-but-not-mini-screen (width >= 460px) and (width <= 767px);
@custom-media --small-screen (width <= 767px);

:root {
    --black: #000000;
    --white: #FFFFFF;
    --dk-gray: #666666;
    --lt-gray: #EEEEEE;
    --pale-gray: #F5F5F5;
    --dkdk-blue: #000066;
    --dk-blue: #0099FF;
    --dk-blue: var(--blue-dk);
    --lt-blue: #DDEEFF;
    --pale-blue: #F1F8FF;
    --contrast: #444444;
    --firm: #FF6600;
    --snotgreen: #D2E286;
    --pissyellow: #FFFF99;
    --sharp: #04253C;
    --sharp: var(--grey-xdk);
    --opaque: #4F6676;
    --opaque: var(--grey-dk);
    --neutral: #9BA8B1;
    --pale: #CDD3D8;
    --bare: #EDF0F1;
    --bare-lt: #F4F7FA;
    --bright: #FFFFFF;
    --blue-dk: #0077EE;
    --blue: #0099FF;
    --blue: var(--blue-dk);
    --blue-lt: #4CB7FF;
    --blue-lt: var(--blue);
    --blue-ltlt: #99D6FF;
    --blue-xlt: #E5F5FF;
    --blue-xxlt: #F2FAFF;
    --blue-greyish: #E9EFF5;
    --blue-greyish-lt: #F4F7FB;
    --lilac: #7863C8;
    --lilac-lt: #C9C1E9;
    --lilac-xlt: #F1EFF9;
    --purple: #8B31E7;
    --purple-lt: #D1ADF5;
    --purple-xlt: #E8D6FA;
    --candy: #FF3BCF;
    --candy-lt: #FFB1EC;
    --candy-xlt: #FFEBFA;
    --red: #E7384A;
    --red: var(--red-dk);
    --red-lt: #EE7380;
    --red-lt: var(--red);
    --red-xlt: #FBE3E6;
    --lemon: #FBDD25;
    --lemon-lt: #FDF1A8;
    --lemon-lt: var(--yellow-lt);
    --lemon-xlt: #FEF8E4;
    --rust: #E78007;
    --rust-lt: #FE8D08;
    --rust-xlt: #FEEFD2;
    --lime: #CAD522;
    --lime-lt: #EEF1B6;
    --lime-xlt: #F6F8DA;
    --green: #3B7908;
    --green-lt: #7BB02D;
    --green-xlt: #E4EFD4;
    --green-xlt: var(--green-lt);

    /* New Identity 2016*/
    --blue: #06BEFB;
    --blue-dk: #0063FB;
    --blue-lt: #B6F0FF;
    --blue-xlt: #F1F9FF;
    --red: #FF5844;
    --red-dk: #DA2400;
    --pink: #FFBDC9;
    --yellow: #FFEC99;
    --yellow-lt: #FFF2B7;
    --green: #28CD94;
    --green-lt: #CCFFEC;
    --green-xlt:#e6fef7;
    --green-dk: #028256;
    --navy: #0000B5;
    --blue-greyish: #E8EFF4;
    --grey: #A6A4A5;
    --grey-dk: #666364;
    --grey-xdk: #474445;
    --grey-xxdk: #353233;
}
