@import '../../config/variables.css';
/* **************** BLOCK SKINS ***************** */
/* ====== Contour blocks ====== */
/* ----- internal (extends mod) ----- */
/* ----- used for modules containing our own content ----- */
.mod .inner { border-radius: 2px; }
.mod .inner .hd { border-radius: 2px 2px 0 0 ; }
.mod .inner .ft { border-radius: 0 0 2px 2px ; }
/* ====== Background blocks ====== */

.mod .inner { background-color: var(--bright); }

.mod.transparent > .inner { background: transparent; }
.mod.transparent .hd,
.mod.transparent .ft { border-radius: 2px; }

.mod.listing hr { margin: 0; }
.mod.listing hr:last-child { display: none; }
.mod.listing.shadow > .inner {
    padding-top: 0px;
    padding-bottom: 0px;
}
.mod.navblock .bd {
    display: inline-table;
    width: 100%;
}
.mod.navblock a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 50px;
}
.mod.navblock.toolbar a { height: 60px; }
.mod.navblock .inner:hover, .mod.navblock .inner:focus { background-color: #FAFAFB !important; }

/* UserFriendly clickable blocks */
a.mod.clickable:focus .inner,
a.mod.clickable:hover .inner { background-color: #F4F7FA; }


/* Green mod skin (Broadcast etc) mod */
.mod.green-skin .inner{
  background-color: var(--green-xlt);
  border:2px solid;
  border-color:var(--green);
  border-radius:2px;
}
@media not all and (--small-screen) {
    .mod.green-skin > .inner {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
