<div class="t4 centerify r-margin">
    <a rel="start" href="#" class="mrm pam" aria-label="Første">
        <svg height="1em" viewBox="0 0 18 16" class="valign-middle">
            <switch>
                <g fill="none" stroke="#07E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="8,2 2,8 8,14"/>
                    <polyline points="16,2 10,8 16,14"/>
                </g>
                <text>&lt;&lt;</text>
            </switch>
        </svg><!-- No line break here
        --></a>
    <a rel="prev" href="#" class="pam" aria-label="Forrige">
        <svg height="1em" viewBox="0 0 10 16" class="valign-middle">
            <switch>
                <polyline points="8,2 2,8 8,14" fill="none" stroke="#07E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <text>&lt;</text>
            </switch>
        </svg><!-- No line break here
    --></a>
    <span class="hidegt768">
        Side 3
    </span>
    <span class="hidelt768">
        <a href="#" class="phs valign-middle">1</a>
        <a href="#" class="phs valign-middle">2</a>
        <b class="phs valign-middle">3</b>
        <a href="#" class="phs valign-middle">4</a>
        <a href="#" class="phs valign-middle">5</a>
        <a href="#" class="phs valign-middle">6</a>
        <a href="#" class="phs valign-middle">7</a>
        <a href="#" class="phs valign-middle">8</a>
        <a href="#" class="phs valign-middle">9</a>
        <a href="#" class="phs valign-middle">10</a>
    </span>
    <span>
        <a rel="next" href="#" class="pam" aria-label="Neste"><span class="hidegt768 valign-middle mrs">Neste</span><!-- No line break here
            --><svg height="1em" viewBox="0 0 10 16" class="valign-middle">
                <switch>
                    <polyline points="2,2 8,8 2,14" fill="none" stroke="#07E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <text>&gt;</text>
                </switch>
            </svg>
        </a>
    </span>
</div>
