.pagination {
    white-space: nowrap;
}
.pagination li {
    display: inline;
}
.pagination li a,
.pagination li.current span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid var(--pale);
    border-radius: 2px;
    background-color: var(--bright);
    text-decoration: none;
}
.pagination li a:hover {
    background-color: var(--pale);
}
.pagination li.current span {
    background-color: var(--bare-lt);
    color: var(--opaque);
    font-weight: bold;
}

@media (--small-screen) {
    .pagination li a,
    .pagination li.current span {
        padding: 5px 10px;
        font-size: 16px;
    }
    .pagination li:not(:first-child):not(:last-child):not(.current) {
        display: none;
    }
}
