/* Paging */
.paging a, .paging span {
    border: 1px solid #A2D2EE;
    padding: 3px 6px;
    text-align: center;
    background-color: white;
    border-radius: 2px;
}
.paging span {
    background-color: #A2D2EE;
    color: white;
}

.paging.bare a { border: 1px solid white; }
.paging.bare span {
    background-color: #A2D2EE;
    color: white;
}

.pagination { text-align: right; }
.pagination li { display: inline; }
.pagination a,
.pagination span {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    padding: 4px 8px;
    text-align: center;
    background-color: var(--bare);
    border-radius: 2px;
}
.pagination a:hover {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
    background-color: var(--pale);
    color: white;
    text-decoration: none;
}
.pagination .current {
    color: var(--blue);
    font-weight: bold;
}

.pager .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #DDDDDD;
    margin-left: 3px;
    margin-right: 3px;
}
.dot.active { background-color: var(--dk-gray); }

@media (--small-screen) {
    .pagination a,
    .pagination span { padding: 6px 15px; }
    .pagination li a { display: none; }
    .pagination .firstItem,
    .pagination .lastItem { display: inline; }
}
