/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

.hljs-comment,
.hljs-quote {
  color: #586e75;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

:root {

    /* New Identity 2016*/
}

html, body {
    background-color: white;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *             Håndtering av venstremeny               *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.leftmenu {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 4;

    -webkit-transform: translateZ(0);

            transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: left, -webkit-transform;
    transition-property: transform, left;
    transition-property: transform, left, -webkit-transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1249px) {
    .leftmenu {
        left: -241px;
        visibility: hidden;
    }
}

@media (min-width: 1250px) {
    .leftmenu {
        display: block;
        visibility: visible;
    }
}

.leftmenu.show {
    left: 0;
    visibility: visible;
}

.leftmenu.show .lm-button {
    position: absolute;
    left: 260px;
}

.topmenu.fixed+.lm-wrapper {
    margin-top: 65px;
}

.lm-button {}

.leftmenu dt {
    color: #333;
    font-weight: bold;
}

.leftmenu dl, .leftmenu dt {
    margin: 0;
}

.leftmenu dt {
    padding: 7px 0 7px 20px;
}

.leftmenu dl a {
    display: block;
    padding: 7px 0 7px 40px;
}

.leftmenu a.nav-active {
    color: 4CB7FF;
}

.leftmenu a.nav-active:link {
    color: #0063fb
}

.leftmenu a.nav-active:visited {
    color: #0063fb;
}

.leftmenu a.nav-active:hover {
    color: #0063fb;
}

.leftmenu .nav-active {
    color: 4CB7FF;
}

.lm-wrapper{
    margin-top:-1px;
}

@media (max-width: 1249px) {}

@media (min-width: 1250px) {
    .lm-wrapper {
        padding-left: 250px;

    }
    .lm-button {
        display: none
    }
}

/* Bigger vertical distance between each section for better readabillity in the doc */

.mbxxl {
    margin-bottom: 60px!important;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *           Overstyringer for hvit bakgrunn           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.topmenu{
    background-color: rgba(255,255,255,0.85);
    border-bottom: 1px solid #dddddd;
}

.outlines.container {
    outline: 1px solid blue;
}

.outlines .page {
    outline: 1px solid red;
}

.outlines .inner {
    outline: 1px solid green;
}

.outlines .mod.skinned>.inner p, .outlines .mod.skinned>.inner, .outlines p {
    outline: 1px dotted red;
}

.wrapper>.inner {
    padding: 10px;
}

.wrapper .mod.skinned {
    margin: 10px!important;
    margin-bottom: 20px!important;
}

.mod.skinned>.inner {
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper p {
    margin: 10px;
}

/*# sourceMappingURL=style.css.map */
