<div class="line">
    <div class="unit r-size1of1">
        <div class="mod shadow">
            <div class="inner">
                <div class="bd">
                    <details>
                        <summary class="r-margin clickable h3 normal">Stylized blockquote</summary>
<pre class="prettyprint linenums">&lt;blockquote class=&quot;stylized-blockquote&quot;&gt;
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada dui in commodo dapibus. Nunc interdum non nisl eu hendrerit. Fusce bibendum augue tincidunt odio elementum rutrum id nec diam. Ut porta arcu ut ligula sollicitudin, varius elementum diam condimentum. Aliquam fermentum in justo non feugiat.
&lt;/blockquote&gt;</pre>
                    </details>

                    <blockquote class="stylized-blockquote">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada dui in commodo dapibus. Nunc interdum non nisl eu hendrerit. Fusce bibendum augue tincidunt odio elementum rutrum id nec diam. Ut porta arcu ut ligula sollicitudin, varius elementum diam condimentum. Aliquam fermentum in justo non feugiat.
                    </blockquote>

                </div>
            </div>
        </div>
    </div>
</div>
