<!-- fonts -->
<div class="mod shadow" >
    <div class="inner">
        <div class="bd">

            <p>All pages should now use the FINNType font and nothing else unless extreme fallback situations.  This font is included and default on all elements from spaden v.5.1.0 </p>
            <h2>Sizes</h2>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Default</summary>
                        <pre class="prettyprint linenums">
&lt;p&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
&lt;p class=&quot;normal&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p>The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">smalltext</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;smalltext&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="smalltext">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">largetext</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;largetext&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="largetext">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">t1</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;t1&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="t1">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">t2</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;t2&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="t2">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">t3</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;t3&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="t3">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">t4</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;t4&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="t4">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">t5</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;t5&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="t5">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">b1</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;b1&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="b1">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">d1</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;d1&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="d1">The quick brown fox jumps over the lazy dog</p>

            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">d2</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;d2&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="d2">The quick brown fox jumps over the lazy dog</p>
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <h2>Headings</h2>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">h1</summary>
                        <pre class="prettyprint linenums">
&lt;h1&gt;The quick brown fox jumps over the lazy dog&lt;/h1&gt;
</pre>
            </details>
            <h1>The quick brown fox jumps over the lazy dog</h1>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">h2</summary>
                        <pre class="prettyprint linenums">
&lt;h2&gt;The quick brown fox jumps over the lazy dog&lt;/h2&gt;
</pre>
            </details>
            <h2>The quick brown fox jumps over the lazy dog</h2>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">h3</summary>
                        <pre class="prettyprint linenums">
&lt;h3&gt;The quick brown fox jumps over the lazy dog&lt;/h3&gt;
</pre>
            </details>
            <h3>The quick brown fox jumps over the lazy dog</h3>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">h4</summary>
                        <pre class="prettyprint linenums">
&lt;h4&gt;The quick brown fox jumps over the lazy dog&lt;/h4&gt;
</pre>
            </details>
            <h4>The quick brown fox jumps over the lazy dog</h4>

            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">h5</summary>
                        <pre class="prettyprint linenums">
&lt;h5&gt;The quick brown fox jumps over the lazy dog&lt;/h5&gt;
</pre>
            </details>
            <h5>The quick brown fox jumps over the lazy dog</h5>

        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <h2>Font Styles</h2>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Normal (default)</summary>
                        <pre class="prettyprint linenums">
&lt;p&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>

                <pre class="prettyprint linenums">
&lt;p class=&quot;normal&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p>The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Italic</summary>
                        <pre class="prettyprint linenums">
&lt;em&gt;The quick brown fox jumps over the lazy dog&lt;/em&gt;
</pre>

                <pre class="prettyprint linenums">
&lt;p class=&quot;em&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p><em>The quick brown fox jumps over the lazy dog</em></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Strong</summary>
                        <pre class="prettyprint linenums">
&lt;strong&gt;The quick brown fox jumps over the lazy dog&lt;/strong&gt;
</pre>

                <pre class="prettyprint linenums">
&lt;p class=&quot;strong&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p><strong>The quick brown fox jumps over the lazy dog</strong></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Strikethrough</summary>
                <pre class="prettyprint linenums">
&lt;p class=&quot;strikethrough&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="strikethrough">The quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Capitalize</summary>
                <pre class="prettyprint linenums">
&lt;p class=&quot;capitalize&quot;&gt;the quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="capitalize">the quick brown fox jumps over the lazy dog</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Uppercase</summary>
                <pre class="prettyprint linenums">
&lt;p class=&quot;uppercase&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="uppercase">The quick brown fox jumps over the lazy dog</p>
        </div>
    </div>
</div>


<div class="mod shadow" id="links">
    <div class="inner">
        <div class="bd">
            <h2>Links</h2>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Default link</summary>
                        <pre class="prettyprint linenums">
&lt;a href=&quot;#&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/a&gt;
</pre>
            </details>
            <p><a href="#">The quick brown fox jumps over the lazy dog</a></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">User history</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;userhistory&quot;&gt;&lt;a href=&quot;#&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/a&gt;&lt;/p&gt;
</pre>
            </details>
            <p class="userhistory"><a href="http://www.finn.no">The quick brown fox jumps over the lazy dog</a></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Neutral</summary>
                        <pre class="prettyprint linenums">
&lt;a class=&quot;neutral&quot; href=&quot;#&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/a&gt;
</pre>
            </details>
            <p><a class="neutral" href="#">The quick brown fox jumps over the lazy dog</a></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Contrast</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;bg-contrast&quot;&gt;&lt;a class=&quot;contrast&quot; href=&quot;#&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/a&gt;&lt;/p&gt;
</pre>
            </details>
            <p class="bg-contrast"><a class="contrast" href="#">The quick brown fox jumps over the lazy dog</a></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Secondary</summary>
                        <pre class="prettyprint linenums">
&lt;a class=&quot;secondary-links&quot; href=&quot;#&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/a&gt;
</pre>
            </details>
            <p><a class="secondary-links" href="#">The quick brown fox jumps over the lazy dog</a></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Dark</summary>
                        <pre class="prettyprint linenums">
&lt;a class=&quot;dark-links&quot; href=&quot;#&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/a&gt;
</pre>
            </details>
            <p><a class="dark-links" href="#">The quick brown fox jumps over the lazy dog</a></p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Linkblock</summary>
                        <pre class="prettyprint linenums">
&lt;a class=&quot;linkblock&quot; href=&quot;#&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/a&gt;
</pre>
            </details>
            <p><a class="linkblock" href="#">The quick brown fox jumps over the lazy dog</a></p>
        </div>
    </div>
</div>

<div class="mod shadow" id="flytorini">
    <div class="inner">
        <div class="bd">
            <h2>Text-flow</h2>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Leftify</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;leftify&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="leftify bg-lt-gray pam">The quick brown fox jumps over the lazy dog</p>
            <p class="pale">Text-align left.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Rightify</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;rightify&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="rightify bg-lt-gray pam">The quick brown fox jumps over the lazy dog</p>
            <p class="pale">Text-align right.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Centerify</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;centerify&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="centerify bg-lt-gray pam">The quick brown fox jumps over the lazy dog</p>
            <p class="pale">Text-align center.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Valign-top</summary>
                        <pre class="prettyprint linenums">
&lt;span&gt;The quick brown fox.... &lt;/span&gt;<br/>&lt;img class=&quot;valign-top&quot; src=&quot;...&quot;&gt;
</pre>
            </details>
            <span class="bg-lt-gray rmargin mrn">The quick brown fox jumps over the lazy dog</span><img class="valign-top" src="//placekitten.com/g/24/32">
            <p class="pale">Vertical align top.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Valign-middle</summary>
                        <pre class="prettyprint linenums">
&lt;span&gt;The quick brown fox.... &lt;/span&gt;<br/>&lt;img class=&quot;valign-middle&quot; src=&quot;...&quot;&gt;
</pre>
            </details>
            <span class="bg-lt-gray rmargin mrn">The quick brown fox jumps over the lazy dog</span><img class="valign-middle" src="//placekitten.com/24/32">
            <p class="pale">Vertical align middle.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Valign-bottom</summary>
                        <pre class="prettyprint linenums">
&lt;span&gt;The quick brown fox.... &lt;/span&gt;<br/>&lt;img class=&quot;valign-bottom&quot; src=&quot;...&quot;&gt;
</pre>
            </details>
            <span class="bg-lt-gray rmargin mrn">The quick brown fox jumps over the lazy dog</span><img class="valign-bottom" src="//placekitten.com/24/32">
            <p class="pale">Vertical align bottom.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Word-break</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;word-break&quot;&gt;ThequickbrownfoxjumpsoverthelazydogThequickbrownfoxjumpsoverthelazydog&lt;/p&gt;
</pre>
            </details>
            <p class="word-break bg-lt-gray pam" style="width: 150px">ThequickbrownfoxjumpsoverthelazydogThequickbrownfoxjumpsoverthelazydog</p>
            <p class="pale">Breaks on overflow even if there are no spaces.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">No-break</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;no-break&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="no-break bg-lt-gray pam" style="width: 150px">The quick brown fox jumps over the lazy dog</p>
            <p class="pale">Never breaks even with whitespace.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Justify</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;justify&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="justify bg-lt-gray pam" style="width: 150px">The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog</p>
            <p class="pale">Justifies spaces between words so each line spans the whole width.</p>
            <hr>

            <details>
                <summary class="r-margin clickable h3 normal">Truncate (ellipsis)</summary>
                        <pre class="prettyprint linenums">
&lt;p class=&quot;truncate&quot;&gt;The quick brown fox jumps over the lazy dog&lt;/p&gt;
</pre>
            </details>
            <p class="truncate bg-lt-gray pam" style="width: 150px">The quick brown fox jumps over the lazy dog</p>
            <p class="pale">Cuts the text when it is longer than the width of the parent element.</p>
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <h2>Text Formatting</h2>
            <hr>

            <h3>Dates and time</h3>

            <h4>Specified time</h4>
            <p>In Finn we display time and dates the following way:</p>
            <div class="r-margin">
                <ul class="bullets">
                    <li>11. okt 2015 (without time)</li>
                    <li>11. okt 2015 23:59 (with time)</li>
                </ul>
            </div>

            <h4>Relative time</h4>
            <p>If it's less than 3 days you can show relative time like this:</p>
            <div class="r-margin">
                <ul class="bullets">
                    <li>Et øyeblikk siden</li>
                    <li>1 minutt siden</li>
                    <li>59 minutter siden</li>
                    <li>1 time siden</li>
                    <li>23 timer siden</li>
                    <li>1 dag siden</li>
                    <li>2 dager siden</li>
                </ul>
            </div>

            <h3>Phone numbers</h3>
            <div class="r-margin">
                <ul class="bullets mbl">
                    <li>Mobil: 998 87 766</li>
                    <li>Fasttelefon: 22 33 44 55</li>
                </ul>
            </div>

            <h3>Prices</h3>
            <div class="r-margin">
                <ul class="bullets">
                    <li>198 kr</li>
                    <li>1 198 kr</li>
                    <li>1 198 198 kr</li>
                </ul>
            </div>
        </div>
    </div>
</div>
