<!-- fonts -->
<div class="mod mbxxl" >
    <div class="inner">
        <div class="bd">
            <p>All pages should now use the FINNType font and nothing else unless extreme fallback situations.  This font is included and default on all elements from spaden v.5.1.0 </p>
            <h3 class="mtl">Sizes</h3>
            <div class="r-margin">
                <table class="outerborder collapse">
                    <tr>
                        <th scope="row">Default, <code>.b1</code></th>
                        <td><p>The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.smalltext</code></th>
                        <td><p class="smalltext">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.largetext</code></th>
                            <td><p class="largetext">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.t5, .h5, &lt;h5&gt;</code></th>
                        <td><p class="t5">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.t4, .h4, &lt;h4&gt;</code></th>
                        <td><p class="t4">The quick brown fox is to lazy to jump over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.t3, .h3, &lt;h3&gt;</code></th>
                        <td><p class="t3">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.t2, .h2, &lt;h2&gt;</code></th>
                        <td><p class="t2">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.t1, .h1, &lt;h1&gt;</code></th>
                        <td><p class="t1">The quick brown fox is lazy</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.d1</code></th>
                        <td><p class="d1">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.d2</code></th>
                        <td><p class="d2">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>

                </table>
            </div>
            <h3 class="mtl">Font styles</h3>
            <div class="r-margin">
                <table class="outerborder collapse">
                    <tr>
                        <th scope="row">Normal (Default)</th>
                        <td><p>The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.italics, &lt;em&gt;</code></th>
                        <td><p><Em>The quick brown fox jumps over the lazy dog</em></p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.strong, &lt;strong&gt;</code></th>
                        <td><p><strong>The quick brown fox jumps over the lazy dog</strong></p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.strikethrough</code></th>
                            <td><p class="strikethrough">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.capitalize</code></th>
                            <td><p class="capitalize">the quick brown fox is to lazy to jump over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.uppercase</code></th>
                            <td><p class="uppercase">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>

                </table>
            </div>

            <h3 class="mtl">Link styles/behaviour</h3>
            <div class="r-margin">
                <table class="outerborder collapse">
                    <tr>
                        <th scope="row">Default link</th>
                        <td><p><a href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.userhistory</code></th>
                        <td><p class="userhistory"><a href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.neutral</code></th>
                        <td><p><a class="neutral" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.contrast</code></th>
                        <td><p class="bg-navy"><a class="contrast" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.dark-links</code></th>
                        <td><p><a class="dark-links" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.linkblock</code></th>
                        <td><p><a class="linkblock" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>

                </table>
            </div>

            <h3 class="mtl">Link styles/behaviour</h3>
            <div class="r-margin">
                <table class="outerborder collapse">
                    <tr>
                        <th scope="row"><code>.leftify</code></th>
                        <td><p class="leftify">The quick brown fox jumps arround</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.rightify</code></th>
                        <td><p class="rightify">The quick brown fox jumps arround</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.centerify</code></th>
                        <td><p class="centerify">The quick brown fox jumps arround</p></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.valign-top</code></th>
                        <td><span class="prl">The fox hangs arround</span><img class="valign-top" height="80px" src="dist/img/dummies/shovelface.jpg" /></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.valign-middle</code></th>
                        <td><span class="prl">The fox hangs arround</span><img class="valign-middle" height="80px" src="dist/img/dummies/shovelfacelady.jpg" /></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.valign-bottom</code></th>
                        <td><span class="prl">The fox hangs arround</span><img class="valign-bottom" height="80px" src="dist/img/dummies/shovelface.jpg" /></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.word-break</code><br>Breaks on overflow even if there are no spaces.</th>
                        <td><p class="word-break" style="width:150px;">ThequickbrownfoxjumpsoverthelazydogThequickbrownfoxjumpsoverthelazydog</td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.no-break</code><br>Never breaks even with whitespace.</th>
                        <td><p class="no-break" style="width:150px;">The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog</td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.justify</code><br>Justifies spaces between words so each line spans the whole width.</th>
                        <td><p class="justify" style="width:150px;">The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog</td>
                    </tr>
                    <tr>
                        <th scope="row"><code>.truncate</code> (ellipsis)<br>Cuts the text when it is longer than the width of the parent element.</th>
                        <td><p class="truncate" style="width:150px;">The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog</td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</div>
