<!-- fonts -->
<div class="mod mbxxl" >
    <div class="inner">
        <div class="bd">
            <p>All pages should now use the FINNType font and nothing else unless extreme fallback situations.  This font is included and default on all elements from spaden v.5.1.0 </p>
            <h3 class="mtl">Sizes</h3>
            <div class="r-margin">
                <table class="outerborder">
                    <tr>
                        <td>Default, <code>.b1</code></td><td><p>The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.smalltext</code></td><td><p class="smalltext">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.largetext</code></td><td><p class="largetext">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.t5, .h5, &lt;h5&gt;</code></td><td><p class="t5">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.t4, .h4, &lt;h4&gt;</code></td><td><p class="t4">The quick brown fox is to lazy to jump over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.t3, .h3, &lt;h3&gt;</code></td><td><p class="t3">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.t2, .h2, &lt;h2&gt;</code></td><td><p class="t2">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.t1, .h1, &lt;h1&gt;</code></td><td><p class="t1">The quick brown fox is lazy</p></td>
                    </tr>
                    <tr>
                        <td><code>.d1</code></td><td><p class="d1">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.d2</code></td><td><p class="d2">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>

                </table>
            </div>
            <h3 class="mtl">Font styles</h3>
            <div class="r-margin">
                <table class="outerborder">
                    <tr>
                        <td>Normal (Default)</td><td><p>The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.italics, &lt;em&gt;</code></td><td><p><Em>The quick brown fox jumps over the lazy dog</em></p></td>
                    </tr>
                    <tr>
                        <td><code>.strong, &lt;strong&gt;</code></td><td><p><strong>The quick brown fox jumps over the lazy dog</strong></p></td>
                    </tr>
                    <tr>
                        <td><code>.strikethrough</code></td><td><p class="strikethrough">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.capitalize</code></td><td><p class="capitalize">the quick brown fox is to lazy to jump over the lazy dog</p></td>
                    </tr>
                    <tr>
                        <td><code>.uppercase</code></td><td><p class="uppercase">The quick brown fox jumps over the lazy dog</p></td>
                    </tr>


                </table>
            </div>

            <h3 class="mtl">Link styles/behaviour</h3>
            <div class="r-margin">
                <table class="outerborder">
                    <tr>
                        <td>Default link</td><td><p><a href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <td><code>.userhistory</code></td><td><p class="userhistory"><a href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <td><code>.neutral</code></td><td><p><a class="neutral" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <td><code>.contrast</code></td><td><p class="bg-navy"><a class="contrast" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <td><code>.dark-links</code></td><td><p><a class="dark-links" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>
                    <tr>
                        <td><code>.linkblock</code></td><td><p><a class="linkblock" href="#">The quick brown fox jumps over the lazy dog</a></p></td>
                    </tr>

                </table>
            </div>

            <h3 class="mtl">Link styles/behaviour</h3>
            <div class="r-margin">
                <table class="outerborder">
                    <tr>
                        <td><code>.leftify</code></td><td><p class="leftify">The quick brown fox jumps arround</p></td>
                    </tr>
                    <tr>
                        <td><code>.rightify</code></td><td><p class="rightify">The quick brown fox jumps arround</p></td>
                    </tr>
                    <tr>
                        <td><code>.centerify</code></td><td><p class="centerify">The quick brown fox jumps arround</p></td>
                    </tr>
                    <tr>
                        <td><code>.valign-top</code></td><td><span class="prl">The quick brown fox Hangs arround</span><img class="valign-top" height="80px" src="dist/img/dummies/shovelface.jpg" /></td>
                    </tr>
                    <tr>
                        <td><code>.valign-middle</code></td><td><span class="prl">The quick brown fox Hangs arround</span><img class="valign-middle" height="80px" src="dist/img/dummies/shovelfacelady.jpg" /></td>
                    </tr>
                    <tr>
                        <td><code>.valign-bottom</code></td><td><span class="prl">The quick brown fox Hangs arround</span><img class="valign-bottom" height="80px" src="dist/img/dummies/shovelface.jpg" /></td>
                    </tr>
                    <tr>
                        <td><code>.word-break</code><br>Breaks on overflow even if there are no spaces.</td><td><p class="word-break" style="width:150px;">ThequickbrownfoxjumpsoverthelazydogThequickbrownfoxjumpsoverthelazydog</td>
                    </tr>
                    <tr>
                        <td><code>.no-break</code><br>Never breaks even with whitespace.</td><td><p class="no-break" style="width:150px;">The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog</td>
                    </tr>
                    <tr>
                        <td><code>.justify</code><br>Justifies spaces between words so each line spans the whole width.</td><td><p class="justify" style="width:150px;">The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog</td>
                    </tr>
                    <tr>
                        <td><code>.truncate</code> (ellipsis)<br>Cuts the text when it is longer than the width of the parent element.</td><td><p class="truncate" style="width:150px;">The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog</td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</div>
