<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <p class="red">Needs to be updated to ni2016 (Should probably be green)</p>
            <pre><code>{{{example-1}}}</code></pre>
            <div class="mll mrl">
                <table class="outerborder">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><code>.context-box</code></th>
                            <td>Main context-box container. Accepts background color-classes.</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.up .down .left .right</code></th>
                            <td>Point at stuff in any direction, arrow is always centered. In certain cases you need to set ekstra margin on the arrow side to stop it from been hidden by overflow:hidden.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p class="centerify t3">Somethin</p>
            <div class="bg-bare context-box up mal">
                <div class="inlineblockify">
                    <h3>Something about somethin</h3>
                    <p>...........</p>
                </div>
            </div>
            <div class="line r-cols2to4">
                <div class="unit">
                    <div class="bg-bare context-box up mal">
                        <div class="inlineblockify">
                            <h3>Viste du at ...</h3>
                            <p>...........</p>
                        </div>
                    </div>
                </div>
                <div class="unit">
                    <div class="bg-bare context-box right mal">
                        <div class="inlineblockify">
                            <h3>Viste du at ...</h3>
                            <p>...........</p>
                        </div>
                    </div>
                </div>
                <div class="unit">
                    <div class="bg-bare context-box down mal">
                        <div class="inlineblockify">
                            <h3>Viste du at ...</h3>
                            <p>...........</p>
                        </div>
                    </div>
                </div>
                <div class="unit">
                    <div class="bg-bare context-box left mal">
                        <div class="inlineblockify">
                            <h3>Viste du at ...</h3>
                            <p>...........</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
