<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">

            <details>
                <summary class="r-margin clickable h3 normal">Read more button</summary>
                <pre class="prettyprint linenums">&lt;div class="relative unoverflowify" style="max-height: 380px;"&gt;
    &lt;p&gt;...&lt;/p&gt;
    &lt;div class="read-more absolute p-bottom p-left p-right pvm r-phl bg-bright"&gt;
        &lt;button class="fullwidth"&gt;Les mer om katten&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <p>Places a white transparent gradient over the bottom of a container with a fixed height, fading out the overflowing content. Clicking the button removes the gradient and allows the container to expand to full height.</p>
            <div class="line">
                <div class="unit r-size1of3">
                    <div class="relative unoverflowify" style="max-height: 380px;" data-read-more-container>
                        <div class="unoverflowify" data-read-more-content>
                            <p>
                                Tom kitten lynx, and american shorthair but burmese russian blue grimalkin. Panther british shorthair cheetah manx birman. Balinese tomcat and jaguar himalayan. Abyssinian . Panther puma tiger. Tiger tiger munchkin but siamese or jaguar savannah. Ocelot puma and ragdoll. Grimalkin. Leopard ragdoll savannah but sphynx. Tom lynx british shorthair so cheetah panther for american shorthair yet havana brown. Puma abyssinian savannah and havana brown british shorthair so birman singapura. American bobtail scottish fold abyssinian bombay. Abyssinian ragdoll or malkin but british shorthair. Malkin. Egyptian mau himalayan yet singapura grimalkin for grimalkin. Birman himalayan but donskoy so ocicat. Egyptian mau bombay, russian blue but panther, or ocicat thai or himalayan. Jaguar. Maine coon siamese. Cougar tiger persian yet bengal. Norwegian forest havana brown so tabby yet scottish fold donskoy for bengal. Lynx ocicat and kitty persian munchkin kitty kitten. Cougar birman yet ocicat bobcat so devonshire rex. Birman bobcat or devonshire rex persian scottish fold or ocicat cougar. Norwegian forest thai and norwegian forest ocicat persian for persian maine coon.
                            </p>
                            <p>
                                Manx cornish rex. Tabby malkin and abyssinian . Ocicat. Egyptian mau malkin or grimalkin. Sphynx norwegian forest scottish fold. Sphynx siberian for cornish rex kitten devonshire rex so norwegian forest. Bombay leopard but panther for bombay. Kitten. Birman kitten but bombay mouser.
                            </p>
                            <p>
                                Turkish angora abyssinian tabby himalayan. Tiger norwegian forest and burmese british shorthair, so tom yet bengal so lynx. Donskoy ragdoll. Burmese tabby cheetah yet american shorthair, british shorthair malkin. Mouser tabby abyssinian or devonshire rex manx. Scottish fold. Cougar. Singapura bobcat, so kitty but himalayan for tabby american bobtail thai. Persian tomcat bobcat donskoy tabby and bobcat. Kitten russian blue tiger but ocelot and ragdoll yet bengal lion. British shorthair grimalkin. Jaguar british shorthair and bengal for scottish fold. Burmese malkin siamese manx and himalayan. Mouser russian blue bombay bobcat. Lion egyptian mau cornish rex thai.
                            </p>
                        </div>
                        <div class="read-more absolute p-bottom p-left p-right pvm r-phl bg-bright">
                            <button class="fullwidth" onclick="document.querySelector('[data-read-more-container]').replaceWith(document.querySelector('[data-read-more-content]'))">Les mer om katten</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
