@import '../../config/variables.css';

/* Gråskala */
.sharp, a.sharp { color: var(--sharp); }
.opaque, a.opaque { color: var(--opaque); }
.neutral, a.neutral { color: var(--neutral); }
.pale, a.pale { color: var(--pale); }
.bare, a.bare { color: var(--bare); }
.bare-lt { color: var(--bare-lt); }
.bright, .contrast, a.bright, a.contrast { color: var(--bright); }

.bg-sharp { background-color: var(--sharp) !important; }
.bg-opaque { background-color: var(--opaque) !important; }
.bg-neutral { background-color: var(--neutral) !important; }
.bg-pale { background-color: var(--pale) !important; }
.bg-bare { background-color: var(--bare) !important; }
.bg-bare-lt { background-color: var(--bare-lt) !important; }
.bg-bright { background-color: var(--bright) !important; }

.border-sharp { border-color: var(--sharp); }
.border-opaque { border-color: var(--opaque); }
.border-neutral { border-color: var(--neutral); }
.border-pale { border-color: var(--pale); }
.border-bare { border-color: var(--bare); }
.border-bare-lt { border-color: var(--bare-lt); }
.border-bright { border-color: var(--bright); }

/* Blåskala */
/*.blue-dk, a.blue-dk { color: var(--blue-dk); }
.blue, a.blue { color: var(--blue); }
.blue-lt, a.blue-lt { color: var(--blue-lt); }*/
.blue-ltlt, a.blue-ltlt { color: var(--blue-ltlt); }
/*.blue-xlt, a.blue-xlt { color: var(--blue-xlt); }*/
.blue-xxlt, a.blue-xxlt { color: var(--blue-xxlt); }
/*.blue-greyish, a.blue-greyish { color: var(--blue-greyish); }*/
.blue-greyish-lt { color: var(--blue-greyish-lt); }

/*.bg-blue-dk { background-color: var(--blue-dk) !important; }
.bg-blue { background-color: var(--blue) !important; }
.bg-blue-lt { background-color: var(--blue-lt) !important; }*/
.bg-blue-ltlt { background-color: var(--blue-ltlt) !important; } /* Disabled knapp, markeringer?  */
/*.bg-blue-xlt { background-color: var(--blue-xlt) !important; }*/
.bg-blue-xxlt { background-color: var(--blue-xxlt) !important; }
/*.bg-blue-greyish { background-color: var(--blue-greyish) !important; }*/ /* Finn main-bg */
.bg-blue-greyish-lt { background-color: var(--blue-greyish-lt) !important; } /* Finn hover-bg */

.border-blue-dk { border-color: var(--blue-dk); }
.border-blue { border-color: var(--blue); }
.border-blue-lt { border-color: var(--blue-lt); }
.border-blue-ltlt { border-color: var(--blue-ltlt); }
.border-blue-xlt { border-color: var(--blue-xlt); }
.border-blue-xxlt { border-color: var(--blue-xxlt); }
.border-blue-greyish { border-color: var(--blue-greyish); }
.border-blue-greyish-lt { border-color: var(--blue-greyish-lt); }

/* Sekundærfarger */
.lilac, a.lilac { color: var(--lilac); }
.lilac-lt, a.lilac-lt { color: var(--lilac-lt); }
.lilac-xlt, a.lilac-xlt { color: var(--lilac-xlt); }

.bg-lilac { background-color: var(--lilac) !important; }
.bg-lilac-lt { background-color: var(--lilac-lt) !important; }
.bg-lilac-xlt { background-color: var(--lilac-xlt) !important; }

.border-lilac { border-color: var(--lilac); }
.border-lilac-lt { border-color: var(--lilac-lt); }
.border-lilac-xlt { border-color: var(--lilac-xlt); }


.purple, a.purple { color: var(--purple); }
.purple-lt, a.purple-lt { color: var(--purple-lt); }
.purple-xlt, a.purple-xlt { color: var(--purple-xlt); }

.bg-purple { background-color: var(--purple) !important; }
.bg-purple-lt { background-color: var(--purple-lt) !important; }
.bg-purple-xlt { background-color: var(--purple-xlt) !important; }

.border-purple { border-color: var(--purple); }
.border-purple-lt { border-color: var(--purple-lt); }
.border-purple-xlt { border-color: var(--purple-xlt); }


.candy, a.candy { color: var(--candy); }
.candy-lt, a.candy-lt { color: var(--candy-lt); }
.candy-xlt, a.candy-xlt { color: var(--candy-xlt); }

.bg-candy { background-color: var(--candy) !important; }
.bg-candy-lt { background-color: var(--candy-lt) !important; }
.bg-candy-xlt { background-color: var(--candy-xlt) !important; }

.border-candy { border-color: var(--candy); }
.border-candy-lt { border-color: var(--candy-lt); }
.border-candy-xlt { border-color: var(--candy-xlt); }


/*.red, .negative, a.red, .negative, a.negative { color: var(--red); }*/
.red-lt, a.red-lt { color: var(--red-lt); }
.red-xlt, a.red-xlt { color: var(--red-xlt); }

/*.bg-red, .bg-negative { background-color: var(--red) !important; }*/
.bg-red-lt { background-color: var(--red-lt) !important; }
.bg-red-xlt { background-color: var(--red-xlt) !important; }

.border-red { border-color: var(--red); }
.border-red-lt { border-color: var(--red-lt); }
.border-red-xlt { border-color: var(--red-xlt); }


.lemon, a.lemon { color: var(--lemon); }
.lemon-lt, a.lemon-lt { color: var(--lemon-lt); }
.lemon-xlt, a.lemon-xlt { color: var(--lemon-xlt); }

.bg-lemon { background-color: var(--lemon) !important; }
.bg-lemon-lt { background-color: var(--lemon-lt) !important; }
.bg-lemon-xlt { background-color: var(--lemon-xlt) !important; }

.border-lemon { border-color: var(--lemon); }
.border-lemon-lt { border-color: var(--lemon-lt); }
.border-lemon-xlt { border-color: var(--lemon-xlt); }


.rust, a.rust { color: var(--rust); }
.rust-lt, a.rust-lt { color: var(--rust-lt); }
.rust-xlt, a.rust-xlt { color: var(--rust-xlt); }

.bg-rust { background-color: var(--rust) !important; }
.bg-rust-lt { background-color: var(--rust-lt) !important; }
.bg-rust-xlt { background-color: var(--rust-xlt) !important; }

.border-rust { border-color: var(--rust); }
.border-rust-lt { border-color: var(--rust-lt); }
.border-rust-xlt { border-color: var(--rust-xlt); }


.lime, a.lime { color: var(--lime); }
.lime-lt, a.lime-lt { color: var(--lime-lt); }
.lime-xlt, a.lime-xlt { color: var(--lime-xlt); }

.bg-lime { background-color: var(--lime) !important; }
.bg-lime-lt { background-color: var(--lime-lt) !important; }
.bg-lime-xlt { background-color: var(--lime-xlt) !important; }

.border-lime { border-color: var(--lime); }
.border-lime-lt { border-color: var(--lime-lt); }
.border-lime-xlt { border-color: var(--lime-xlt); }


/*.green, a.green, .positive, a.positive { color: var(--green); }
.green-lt, a.green-lt { color: var(--green-lt); }*/
.green-xlt, a.green-xlt { color: var(--green-xlt); }

/*.bg-green, .bg-positive { background-color: var(--green) !important; }
.bg-green-lt { background-color: var(--green-lt) !important; }*/
.bg-green-xlt { background-color: var(--green-xlt) !important; }

.border-green { border-color: var(--green); }
.border-green-lt { border-color: var(--green-lt); }
.border-green-xlt { border-color: var(--green-xlt); }


/* New Identity 2016 */
.blue-dk, a.blue-dk { color: var(--blue-dk); }
.bg-blue-dk { background-color: var(--blue-dk) !important; }
.blue, a.blue { color: var(--blue); }
.bg-blue { background-color: var(--blue) !important; }
.blue-lt, a.blue-lt { color: var(--blue-lt); }
.bg-blue-lt { background-color: var(--blue-lt) !important; }
.blue-xlt, a.blue-xlt { color: var(--blue-xlt); }
.bg-blue-xlt { background-color: var(--blue-xlt) !important; }
.red, .negative, a.red, a.negative { color: var(--red); }
.bg-red, .bg-negative { background-color: var(--red) !important; }
.pink, a.pink { color: var(--pink); }
.bg-pink { background-color: var(--pink) !important; }
.yellow, a.yellow { color: var(--yellow); }
.bg-yellow { background-color: var(--yellow) !important; }
.yellow-lt, a.yellow-lt { color: var(--yellow-lt); }
.bg-yellow-lt { background-color: var(--yellow-lt) !important; }
.green, .positive, a.green, a.positive { color: var(--green); }
.bg-green, .bg-positive { background-color: var(--green) !important; }
.green-lt, a.green-lt { color: var(--green-lt); }
.bg-green-lt { background-color: var(--green-lt) !important; }
.green-dk, a.green-dk { color: var(--green-dk); }
.bg-green-dk { background-color: var(--green-dk) !important; }
.red-dk, a.red-dk { color: var(--red-dk); }
.bg-red-dk { background-color: var(--red-dk) !important; }
.navy, a.navy { color: var(--navy); }
.bg-navy { background-color: var(--navy) !important; }
.blue-greyish, a.blue-greyish { color: var(--blue-greyish); }
.bg-blue-greyish { background-color: var(--blue-greyish) !important; }
.grey, a.grey { color: var(--grey); }
.bg-grey { background-color: var(--grey) !important; }
.grey-dk, a.grey-dk { color: var(--grey-dk); }
.bg-grey-dk { background-color: var(--grey-dk) !important; }
.grey-xdk, a.grey-xdk { color: var(--grey-xdk); }
.bg-grey-xdk { background-color: var(--grey-xdk) !important; }
.grey-xxdk, a.grey-xxdk { color: var(--grey-xxdk); }
.bg-grey-xxdk { background-color: var(--grey-xxdk) !important; }

/* Vise farge for energiklasse pa eiendom objektsider */
.energylabel.morkegronn { background-color: #009247; }
.energylabel.lysegronn  { background-color: #92CB51; }
.energylabel.gul        { background-color: #E2CB23; }
.energylabel.oransje    { background-color: #F18C31; }
.energylabel.rod        { background-color: #CA3743; }
