<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">

            <div class="line r-cols1to3">
            {{#each cols}}
                <div class="unit">
                    {{#each .}}
                        <div class="media pbs">
                            <div class="roundify img pam {{bg}}">
                                <code class="bright blockify pbt pts">{{color}}</code>
                            </div>
                            <div class="bd phm">
                                <code class="blockify pts pbt">.{{main}}</code>
                                <code class="blockify">.{{bg}}</code>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>
