<div class="mod shadow mtl">
    <div class="inner pan">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Exoandable content</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;bg-bare context-box up&quot;&gt;
    ....
&lt;/div&gt;</pre>
            </details>
            <div class="mll mrl">
                <table>
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><code>.context-box</code></th>
                            <td>Main context-box container. Accepts background color-classes.</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.up .down .left .right</code></th>
                            <td>Point at stuff in any direction, arrow is always centered. In certain cases you need to set ekstra margin on the arrow side to stop it from been hidden by overflow:hidden.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <details class="customds1 animate-vs">
                Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content
                <summary>
                    Header
                </summary>
            </details>
            <details class="customds2 animate-vs">
                Header
                <summary>
                    Content
                </summary>
            </details>
            <details class="customds3 animate-vs">
                Header
                <summary>
                    Content
                </summary>
            </details>
            <details class="animate-vs">
                Header
                <summary>
                    Content
                </summary>
            </details>
        </div>
    </div>
</div>