<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">

            <div class="r-margin">
                <span class="red-dk">Detailssummary needs some love, look and feel after ni2016 is unclear. If you are implementing this now, please make contact.</span>
                <details class="customds">
                    Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content
                    <summary>
                        customds
                    </summary>
                </details>

                <details class="customds1 animate-vs">
                    Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content<br/>Content
                    <summary>
                        customds1
                    </summary>
                </details>

                <details class="customds2 animate-vs">
                    Header
                    <summary>
                        cutomds2
                    </summary>
                </details>

                <details class="customds3 animate-vs">
                    Header
                    <summary>
                        customds3
                    </summary>
                </details>

                <details class="animate-vs">
                    Header
                    <summary>
                        animate-vs
                    </summary>
                </details>
            </div>

        </div>
    </div>
</div>
