


<div class="container">
    <div class="page">


        <div class="mod green-skin">
        	<div class="inner">
        		<div class="bd">
        			<p>Forms testpage</p>
        		</div>
        	</div>
        </div>

        <div class="mod listing shadow">
            <div class="inner">
                <div class="bd">
                    <h1>Hover, Active, Focus test</h1>
                    <div class="line r-margin">
                        <div class="unit prm">
                            <input type="text" placeholder="text">
                        </div>
                        <div class="unit prm">
                            <select>
                                <option>select</option>
                                <option disabled>disabled option</option>
                            </select>
                        </div>
                        <div class="unit prm">
                            <button class="">button</button>
                        </div>
                        <div class="unit prm">
                            <button class="primary">button</button>
                        </div>
                        <div class="unit prm">
                            <button class="order">button</button>
                        </div>
                        <div class="unit">
                            <a tabindex="0" class="button">a som button</a>
                        </div>
                        <div class="unit">
                            <a tabindex="0">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mod listing transparent">
            <div class="inner">
                <div class="bd">
                    <h1>Hover, Active, Focus test</h1>
                    <div class="line r-margin">
                        <div class="unit prm">
                            <input type="text" placeholder="text">
                        </div>
                        <div class="unit prm">
                            <select>
                                <option>select</option>
                                <option disabled>disabled option</option>
                            </select>
                        </div>
                        <div class="unit prm">
                            <button class="">button</button>
                        </div>
                        <div class="unit prm">
                            <button class="primary">button</button>
                        </div>
                        <div class="unit prm">
                            <button class="order">button</button>
                        </div>
                        <div class="unit">
                            <a tabindex="0" class="button">a som button</a>
                        </div>
                        <div class="unit">
                            <a tabindex="0">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="unit r-size1of3">
                <a href="#" class="mod clickable linkblock shadow">
                    <div class="inner ">
                        <div class="bd">
                            <h1>Hoverblock</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="unit r-size1of3">
                <a href="#" class="mod clickable linkblock shadow">
                    <div class="inner ">
                        <div class="bd">
                            <h1>Hoverblock</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="unit r-size1of3">
                <a href="#" class="mod clickable linkblock shadow">
                    <div class="inner ">
                        <div class="bd">
                            <h1>Hoverblock</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="mod listing shadow">
            <div class="inner">
                <div class="bd">
                    <h1>Tagwords display</h1>
                    <p>
                        <a class="tagword" href="#">Borrrrrr</a>
                        <a class="tagword" href="#">Baive</a>
                        <a class="tagword" href="#">oddasat</a>
                        <a class="tagword" href="#">sne</a>
                        <a class="tagword" href="#">mannpip</a>
                    </p>
                    <h1>Tagwords input</h1>
                    <p class="editable">
                        <a class="tagword" href="#">Borrrrrr</a>
                        <a class="tagword" href="#">Baive</a>
                        <a class="tagword" href="#">oddasat</a>
                        <a class="tagword" href="#">sne</a>
                        <a class="tagword" href="#">mannpip</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="mod listing shadow">
            <div class="inner">
                <div class="bd">
                <h1>Height matching</h1>
                <div class="line r-margin">
                    <div class="unit prm">
                        <input type="text" placeholder="text">
                    </div>
                    <div class="unit prm">
                        <select>
                            <option>select</option>
                            <option disabled>disabled option</option>
                        </select>
                    </div>
                    <div class="unit prm">
                        <button class="primary">button</button>
                    </div>
                    <div class="unit">
                        <a tabindex="0" class="button primary">a</a>
                    </div>
                </div>
                <div class="line r-margin">
                    <div class="unit prm">
                        <input class="small" type="text" placeholder="text">
                    </div>
                    <div class="unit prm">
                        <select class="small">
                            <option>select</option>
                            <option disabled>disabled option</option>
                        </select>
                    </div>
                    <div class="unit prm">
                        <button class="primary small">button</button>
                    </div>
                    <div class="unit">
                        <a tabindex="0" class="button primary small">a</a>
                    </div>
                </div>
                <div class="line r-margin mbl">
                    <div class="unit prm">
                        <input class="large" type="text" placeholder="text">
                    </div>
                    <div class="unit prm">
                        <select class="large">
                            <option>select</option>
                            <option disabled>disabled option</option>
                        </select>
                    </div>
                    <div class="unit prm">
                        <button class="primary large">button</button>
                    </div>
                    <div class="unit">
                        <a tabindex="0" class="button primary large">a</a>
                    </div>
                </div>
                <h1>Input states</h1>
                    <table class="mbl">
                        <thead>
                            <tr>
                                <th class="pll">Type</th>
                                <th>Default</th>
                                <th>Disabled</th>
                                <th>Invalid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pll">type="text"</td>
                                <td><input type="text" placeholder="Placeholder"></td>
                                <td><input type="text" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="text" placeholder="Placeholder"></td>
                            </tr>

                            <tr>
                                <td class="pll">type="search"</td>
                                <td><input type="search" placeholder="Placeholder"></td>
                                <td><input type="search" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="search" placeholder="Placeholder"></td>
                            </tr>

                            <tr>
                                <td class="pll">type="email"</td>
                                <td><input type="email" placeholder="Placeholder"></td>
                                <td><input type="email" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="email" placeholder="Placeholder"></td>
                            </tr>

                            <tr>
                                <td class="pll">type="url"</td>
                                <td><input type="url" placeholder="Placeholder"></td>
                                <td><input type="url" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="url" placeholder="Placeholder"></td>
                            </tr>

                            <tr>
                                <td class="pll">type="tel"</td>
                                <td><input type="tel" placeholder="Placeholder"></td>
                                <td><input type="tel" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="tel" placeholder="Placeholder"></td>
                            </tr>

                            <tr>
                                <td class="pll">type="number"</td>
                                <td><input type="number" placeholder="Placeholder"></td>
                                <td><input type="number" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="number" placeholder="Placeholder"></td>
                            </tr>

                            <tr>
                                <td class="pll">type="date"</td>
                                <td><input type="date" placeholder="Placeholder"></td>
                                <td><input type="date" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="date" placeholder="Placeholder"></td>
                            </tr>
                            <tr class="bg-bare">
                                <td class="pll">type="range"</td>
                                <td><input type="range" placeholder="Placeholder"></td>
                                <td><input type="range" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="range" placeholder="Placeholder"></td>
                            </tr>
                            <tr class="bg-bare">
                                <td class="pll">type="month"</td>
                                <td><input type="month" placeholder="Placeholder"></td>
                                <td><input type="month" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="month" placeholder="Placeholder"></td>
                            </tr>

                            <tr class="bg-bare">
                                <td class="pll">type="week"</td>
                                <td><input type="week" placeholder="Placeholder"></td>
                                <td><input type="week" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="week" placeholder="Placeholder"></td>
                            </tr>

                            <tr class="bg-bare">
                                <td class="pll">type="time"</td>
                                <td><input type="time" placeholder="Placeholder"></td>
                                <td><input type="time" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="time" placeholder="Placeholder"></td>
                            </tr>

                            <tr class="bg-bare">
                                <td class="pll">type="datetime"</td>
                                <td><input type="datetime" placeholder="Placeholder"></td>
                                <td><input type="datetime" placeholder="Placeholder" disabled></td>
                                <td class="invalid"><input type="datetime" placeholder="Placeholder"></td>
                            </tr>

                            <tr class="bg-bare">
                                <td class="pll">type="color"</td>
                                <td><input type="color"></td>
                                <td><input type="color"disabled></td>
                                <td class="invalid"><input type="color"></td>
                            </tr>
                            <tr class="">
                                <td class="pll">type="checkbox"</td>
                                <td><label><input type="checkbox" class="mrm">Checkbox 1</label></td>
                                <td><label><input type="checkbox" disabled class="mrm" >Checkbox 1</label></td>
                                <td class="invalid"><label><input type="checkbox" class="mrm">Checkbox 1</label></td>
                            </tr>
                            <tr class="">
                                <td class="pll">type="checkbox"</td>
                                <td><label><input checked type="checkbox" class="mrm">Checkbox 1</label></td>
                                <td><label><input checked type="checkbox" disabled class="mrm" >Checkbox 1</label></td>
                                <td class="invalid"><label><input checked type="checkbox" placeholder="Placeholder" class="mrm">Checkbox 1</label></td>
                            </tr>
                            <tr class="">
                                <td class="pll">type="radio"</td>
                                <td><label><input type="radio" name="groupA" class="mrm">radio 1</label></td>
                                <td><label><input type="radio" name="groupA" disabled class="mrm" >radio 1</label></td>
                                <td class="invalid"><label><input type="radio" name="groupA" placeholder="Placeholder" class="mrm">radio 1</label></td>
                            </tr>
                            <tr class="">
                                <td class="pll">type="radio"</td>
                                <td><label><input  type="radio" name="groupB" class="mrm">radio 1</label></td>
                                <td><label><input  type="radio" name="groupB" disabled class="mrm" >radio 1</label></td>
                                <td class="invalid"><label><input type="radio" name="groupB" class="mrm">radio 1</label></td>
                            </tr>

                            <tr>
                                <td class="pll">textarea</td>
                                <td><textarea placeholder="Placeholder"></textarea></td>
                                <td><textarea placeholder="Placeholder" disabled></textarea></td>
                                <td class="invalid"><textarea placeholder="Placeholder"></textarea></td>
                            </tr>
                            <tr>
                                <td class="pll">select</td>
                                <td>
                                    <select id="select">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="select" disabled>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td class="invalid">
                                    <select id="select">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>


                            <tr>
                                <td class="pll">multiselect</td>
                                <td>
                                    <select multiple="multiple" size="5"  id="select">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select multiple="multiple" size="5"  id="select" disabled>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td class="invalid">
                                    <select multiple="multiple" size="5"  id="select">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="pll">type="file"</td>
                                <td>
                                    <a class="button file-input-button relative" tabindex="0" role="button">
                                        <span>Last opp bilde</span>
                                        <input type="file" name="files" accept="image/jpeg, image/png, image/gif" autocomplete="off" tabindex="-1" aria-hidden="true">
                                        <!-- autocomplete="off" fixes https://bugzilla.mozilla.org/show_bug.cgi?id=654072 -->
                                    </a>
                                </td>
                                <td>
                                    <a class="button file-input-button relative disabled"  tabindex="0" role="button">
                                        <span>Last opp bilde</span>
                                        <input disabled type="file" name="files" accept="image/jpeg, image/png, image/gif" autocomplete="off" tabindex="-1" aria-hidden="true">
                                        <!-- autocomplete="off" fixes https://bugzilla.mozilla.org/show_bug.cgi?id=654072 -->
                                    </a>
                                </td>
                                <td class="invalid">
                                    <a class="button file-input-button relative invalid" tabindex="0" role="button">
                                        <span>Last opp bilde</span>
                                        <input type="file" name="files" accept="image/jpeg, image/png, image/gif" autocomplete="off" tabindex="-1" aria-hidden="true">
                                        <!-- autocomplete="off" fixes https://bugzilla.mozilla.org/show_bug.cgi?id=654072 -->
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h1>Buttons</h1>
                    <table>
                        <thead>
                            <tr>
                                <th class="pll"> </th>
                                <th>Default</th>
                                <th>Primary</th>
                                <th>Order</th>
                                <th>Disabled</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pll">button</td>
                                <td><button>Yea</button></td>
                                <td><button class="primary">Yea</button></td>
                                <td><button class="order">Yea</button></td>
                                <td><button disabled>Yea</button></td>

                            </tr>
                            <tr>
                                <td class="pll">a</td>
                                <td><a class="button">Yea</a></td>
                                <td><a class="button primary">Yea</a></td>
                                <td><a class="button order">Yea</a></td>
                                <td><a class="button disabled">Yea</a></td>
                            </tr>
                            <tr>
                                <td class="pll">button small</td>
                                <td><button class="small">Yea</button></td>
                                <td><button class="primary small">Yea</button></td>
                                <td><button class="order small">Yea</button></td>
                                <td><button disabled class="small">Yea</button></td>

                            </tr>
                            <tr>
                                <td class="pll">a small</td>
                                <td><a class="button small">Yea</a></td>
                                <td><a class="button primary small">Yea</a></td>
                                <td><a class="button order small">Yea</a></td>
                                <td><a class="button disabled small">Yea</a></td>
                            </tr>
                            <tr>
                                <td class="pll">button large</td>
                                <td><button class="large">Yea</button></td>
                                <td><button class="primary large">Yea</button></td>
                                <td><button class="order large">Yea</button></td>
                                <td><button disabled class="large">Yea</button></td>

                            </tr>
                            <tr>
                                <td class="pll">a large</td>
                                <td><a class="button large">Yea</a></td>
                                <td><a class="button primary large">Yea</a></td>
                                <td><a class="button order large">Yea</a></td>
                                <td><a class="button disabled large">Yea</a></td>
                            </tr>
                        </tbody>

                    </table>

                    <p>Misc</p>


                </div>
            </div>
        </div>
    </div>
</div>
