<div class="mod">
    <div class="inner">
        <div class="bd">
            <p>This is used to display error messages/important information to the user.</p>
            <p>When you have to display multiple error messages on the same page you display multiple Broadcast blocks.</p>
            <pre><code>{{{example-1}}}</code></pre>
        </div>
    </div>
</div>

<div class="r-margin mbxxl">{{{example-1-plain}}}</div>
