


<div class="container">
    <div class="page">
        <div class="mod green-skin">
        	<div class="inner">
        		<div class="bd">
        			<p>Experimental example</p>
        		</div>
        	</div>
        </div>

            <div class="mod shadow profile profile-large">
    <div class="inner pvn">
        <div class="bd profilebg profilebg-blue">
            <div class="line r-margin">
                <div class="unit r-size1of5">
                    <div class="profileimg centerify">
                        <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
                    </div>
                </div>
                <div class="unit profiletxt r-size4of5">
                    <h2 class="centerify-lt768 verified">Gjærmund Emanuelle Spøttabotten</h2>
                    <p>Hei jeg heter Gjærmund og hjertelig velkommen til min internett-profil. Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="line r-margin">
                <div class="unit r-size1of5">
                    <div class="centerify r-mtm ratings">
                        <span class="rating-stars medium-stars">
                            <span class="stars" style="width: 80%;"></span>
                        </span>
                        <p class="centerify d2 mtm"><a href="#">18 vurderinger</a></p>
                    </div>
                </div>
                <div class="unit r-size4of5">
                    <div class="line r-cols3to7 mbn centerify opaque">
                        <div class="unit r-mbl">
                            <div class="t2">19</div>
                            <div class="d2">Måneder på<br aria-hidden="true"> småjobber</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">0</div>
                            <div class="d2">Småjobber<br aria-hidden="true"> vunnet</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">3</div>
                            <div class="d2">Småjobber<br aria-hidden="true"> lagt ut</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">63</div>
                            <div class="d2">Salg på<br aria-hidden="true"> Torget</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">14</div>
                            <div class="d2">Kjøp på<br aria-hidden="true"> Torget</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">97</div>
                            <div class="d2">Følgere på<br aria-hidden="true"> FINN</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">8</div>
                            <div class="d2">År på<br aria-hidden="true"> FINN</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<div class="line">
    <div class="unit r-size1of3">
        <div class="mod shadow listing">
            <div class="inner ptn">
                <div class="bd largetext">
                    <h3>Min FINN</h3>
                    <hr role="presentation">
                    <a href="#" class="blockify truncate r-margin ">Meldinger</a>
                    <a href="#" class="blockify truncate r-margin ">Vurderinger</a>
                    <a href="#" class="blockify truncate r-margin ">Annonser</a>
                    <a href="#" class="blockify truncate r-margin ">Karriere/CV</a>
                    <a href="#" class="blockify truncate r-margin ">Endre profil</a>
                    <a href="#" class="blockify truncate r-margin ">Instillinger</a>
                    <hr role="presentation">
                    <a href="#" class="blockify truncate r-margin ">Favoritter</a>
                    <a href="#" class="blockify truncate r-margin ">Lagrede søk</a>
                </div>
            </div>
        </div>
    </div>
    <div class="unit r-size1of3">

        <div class="mod shadow listing">
            <div class="inner ptn">
                <div class="bd">
                    <h3>Aktivitet</h3>
                    <hr role="presentation">

                            <div class="media r-pvl mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/60x45">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="t4 truncate pvt">---- -- - ----- ----</div>
                                    </div>

                                </div>
                            </div>
                            <hr role="presentation">
                            <div class="media r-pvl mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/60x45">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="t4 truncate pvt">---- -- - ----- ----</div>
                                    </div>

                                </div>
                            </div>
                            <!--
                            <div style="background-color:#f4f7fa" class="leftify">
                                <div class="media mvn pvm">
                                    <div class="imgExt"><button class="">slett</button></div>
                                    <div class="bd"><button class="">kopier</button><button class="">Statistikk</button></div>
                                </div>

                            </div>
                            -->
                            <hr role="presentation">
                            <div class="media r-pvl mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/60x45">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="t4 truncate pvt">---- -- - ----- ----</div>
                                    </div>

                                </div>
                            </div>
                            <hr role="presentation">
                            <div class="media r-pvl mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/60x45">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="t4 truncate pvt">---- -- - ----- ----</div>
                                    </div>

                                </div>
                            </div>
                            <hr role="presentation">
                            <div class="media r-pvl mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/60x45">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="t4 truncate pvt">---- -- - ----- ----</div>
                                    </div>

                                </div>
                            </div>
                            <hr role="presentation">
                    <hr role="presentation">
                </div>
            </div>
        </div>
    </div>
    <div class="unit r-size1of3">

                <div class="mod shadow listing">
                    <div class="inner ptn">
                        <div class="bd">
                            <h3>Påbegynte annonser</h3>
                            <hr role="presentation">

                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="truncate pvt">Sjark selkes pga mangel på hav</div>
                                    </div>

                                </div>
                            </a>
                            <hr role="presentation">
                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">

                                      <div class="truncate pvt">Brudekjole for menn</div>
                                    </div>

                                </div>
                            </a>

                            <hr role="presentation">
                        </div>
                    </div>
                </div>

                <div class="mod shadow listing">
                    <div class="inner ptn">
                        <div class="bd">
                            <h3>Kontrolleres</h3>
                            <hr role="presentation">

                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="truncate pvt">Triumph Chopper 1968. kr 70 000,-</div>
                                    </div>
                                </div>
                            </a>
                            <hr role="presentation">
                            <a href="#" class="media r-pvm mvn mrn ribbon2">
                                <span class="ribbon-content red">AVVIST</span>
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">

                                      <div class="truncate pvt">Svigermor gis bort så og si kratis!</div>
                                    </div>

                                </div>
                            </a>

                            <hr role="presentation">
                        </div>
                    </div>
                </div>

<!-- -->
                <div class="mod shadow listing">
                    <div class="inner ptn">
                        <div class="bd">
                            <h3>Aktive annonser</h3>
                            <hr role="presentation">

                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="truncate pvt">Trek 7.5 FX hybridsykkel selges</div>
                                    </div>

                                </div>
                            </a>
                            <hr role="presentation">
                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="truncate pvt">Roland RD800</div>
                                    </div>

                                </div>
                            </a>
                            <hr role="presentation">
                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="truncate pvt">Prada solbrille billig</div>
                                    </div>

                                </div>
                            </a>
                            <hr role="presentation">
                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="truncate pvt">Heta Tipi Utepeis</div>
                                    </div>

                                </div>
                            </a>
                            <hr role="presentation">
                            <a href="#" class="media r-pvm mvn">
                                <div class="img">
                                    <img style="max-width:100%" src="http://placehold.it/40x30">
                                </div>
                                <div class="bd r-pll">
                                    <div class="bd result-body">
                                      <div class="truncate pvt">Canon EOS 600D Speilreflekskamera selges billig</div>
                                    </div>

                                </div>
                            </a>
                            <hr role="presentation">
                        </div>
                    </div>
                </div>
<!-- -->


                <div class="mod shadow listing">
                    <div class="inner ptn">
                        <div class="bd">
                            <h3>--- -- - -</h3>

                            <hr role="presentation">
                            <div class="t4 truncate r-margin">---- -- - ----- ----</div>

                            <hr role="presentation">
                            <div class="t4 truncate r-margin">---- -- - ----- ----</div>

                            <hr role="presentation">
                            <div class="t4 truncate r-margin">---- -- - ----- ----</div>

                            <hr role="presentation">
                            <div class="t4 truncate r-margin">---- -- - ----- ----</div>

                            <hr role="presentation">
                            <div class="t4 truncate r-margin">---- -- - ----- ----</div>

                            <hr role="presentation">
                            <div class="t4 truncate r-margin">---- -- - ----- ----</div>

                            <hr role="presentation">
                        </div>
                    </div>
                </div>
                </div>


                </div>






    </div>
</div>
<style>

    .context-box{
        position:relative;
    }
    .context-box:before{
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height:20px;
        background-color: inherit;
        transform: rotate(45deg);
    }
    .context-box.up:before,.context-box.down:before{
        left:50%;
        margin:0 -10px;
    }
    .context-box.left:before,.context-box.right:before{
        top:50%;
        margin:-10px 0;
    }
    .context-box.up:before{
        top:-10px;
    }
    .context-box.down:before{
        bottom:-10px;
    }
    .context-box.left:before{
        left:-10px;
    }
    .context-box.right:before{
        right:-10px;
    }

    /*
    .context-box{
        position:relative;
    }
    .context-box:before{
        content: "";
        position: absolute;
        border-style: solid;
        border-color: #c9c1e9;
        display: block;
        width: 0;
    }
    .context-box.bg-opaque:before{ border-color:#4f6676; }
    .context-box.bg-green-xlt:before{ border-color:#e4efd4; }
    .context-box.bg-candy-xlt:before{ border-color:#ffebfa; }

    .context-box.up:before,.context-box.down:before{
        left:50%;
        margin:0 -10px;
         border-left-color:transparent;
        border-right-color:transparent;
    }
    .context-box.left:before,.context-box.right:before{
        top:50%;
        margin:-10px 0;
        border-top-color:transparent;
        border-bottom-color:transparent;
    }
    .context-box.up:before{
        border-width: 0 10px 10px;
        top:-10px;
    }
    .context-box.down:before{
        border-width: 10px 10px 0;
        bottom:-10px;
    }
    .context-box.left:before{
        border-width: 10px 10px 10px 0;
        left:-10px;

    }
    .context-box.right:before{
        border-width: 10px 0 10px 10px;
        right:-10px;
    }
    */

</style>
