



<div class="container">
<div class="page">


    <div class="mod green-skin">
    	<div class="inner">
    		<div class="bd">
    			<p>Experimental example</p>
    		</div>
    	</div>
    </div>
<!-- -->
<style>
@media (min-width: 769px){
    .image.small {
        width: 220px!important;
    }
}
</style>
<div class="mod listing shadow">
    <div class="inner">
        <div class="bd">
            <h2>Påbegynte</h2>
            <hr role="presentation">
            <div class="" data-controller="searchResult searchResultTracking searchGalleryCount" data-result-url="/user/ads.html" data-result-hit-count="18" data-automation-id="adList">
                <a id="54070443" href="http://beta.m.finn.no/bap/forsale/ad.html?finnkode=54070443&amp;ref=ads&amp;myad=54070443&amp;searchclickthrough=true" class="media linkblock man r-pal  " data-search-resultitem="" data-fth-event="searchclickthrough">
                    <div class="size1of3 img image small result">
                        <img alt="" src="http://finncdn.no/dynamic/300x225c/2014/8/vertical-2/11/7/506/630/07_495314854.jpg" style="width: 100%;">
                     </div>
                    <div class="bd r-pll result-body">
                        <div class="truncate t3 blue-dk" data-automation-id="titleRow">Annonsetittel</div>
                        <div class="mtn r-mbm strong truncate pbs sharp">
                            <span data-automation-id="bodyRow" class="prs">Eiendom</span>
                        </div>
                        <div class="d1 truncate">
                           <span data-automation-id="bottomRow" class="neutral">Oppdatert: 08.12.2014</span>
                        </div>
                    </div>
                </a>
                <hr class="man">
                <a id="53747473" href="http://beta.m.finn.no/bap/forsale/ad.html?finnkode=53747473&amp;ref=ads&amp;myad=53747473&amp;searchclickthrough=true" class="media linkblock man r-pal  " data-search-resultitem="" data-fth-event="searchclickthrough">
                    <div class="size1of3 img image small result">
                        <img alt="" src="http://finncdn.no/dynamic/300x225c/2014/8/vertical-2/11/7/506/630/07_495314854.jpg" style="width: 100%;">
                    </div>
                    <div class="bd r-pll result-body">
                        <div class="truncate t3 blue-dk" data-automation-id="titleRow">Annonsetittel</div>
                        <div class="mtn r-mbm strong truncate pbs sharp">
                            <span data-automation-id="bodyRow" class="prs">Eiendom</span>
                        </div>
                        <div class="d1 truncate">
                           <span data-automation-id="bottomRow" class="neutral">Oppdatert: 25.11.2014</span>
                        </div>
                    </div>
                </a>
                <hr class="man">
                <div class="blocker" data-controller="preventInteraction"></div>
            </div>
        </div>
    </div>
</div>
<!-- -->
<div class="mod shadow hide-ht768">
    <div class="inner">
        <div class="bd">
            <div class="centerify r-margin">
                <button class="primary">Privatperson</button>
                <button>Bedrift/Forhandler</a>
            </div>
        </div>
    </div>
</div>



    <div class="line">
        <div class="unit r-size1of2">
            <div class="mod shadow listing">
                <div class="inner filters">
                    <div class="bd">
                        <h2 class="hide-lt768">Privatperson</h2>
                        <p>Hva skal du annonsere?</p>
                        <!-- -->
                        <hr role="presentation">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Torget</div>
                        </div>
                        <hr role="presentation">
                                                <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Bil</div>
                        </div>
                        <hr role="presentation">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Båt</div>
                        </div>
                        <hr role="presentation">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">MC</div>
                        </div>
                        <hr role="presentation">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Oppdrag</div>
                        </div>
                        <hr role="presentation">
                                                <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Småjobber</div>
                        </div>
                        <hr role="presentation">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Jobb</div>
                        </div>
                        <hr role="presentation">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Eiendom</div>
                        </div>
                        <hr role="presentation">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Næring</div>
                        </div>
                        <hr role="presentation">
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
        <div class="unit r-size1of2">
            <div class="mod shadow listing hide-lt768">
                <div class="inner">
                    <div class="bd">
                        <h2 class="hide-lt768">Bedrift/Forhandler</h2>
                        <p>Har du foretaksnummer og annonserer jevnlig på Finn? En bedriftsavtale git deg fordeler som annonsør.</p>
                        <ul class="bullets pll">
                            <li>Betaling med faktura</li>
                            <li>Lavere pris per annonse</li>
                            <li>Firmalogo på resultat- og annonsesider</li>
                            <li>Lenke til egen nettside</li>
                        </ul>
                                                <!-- -->
                        <hr role="presentation">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Bil/Båt/MC</div>
                        </div>
                        <hr role="presentation">
                                                <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Eiendom</div>
                        </div>
                        <hr role="presentation">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Jobb</div>
                        </div>
                        <hr role="presentation">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Oppdrag</div>
                        </div>
                        <hr role="presentation">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Reise</div>
                        </div>
                        <hr role="presentation">
                                                <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Torget</div>
                        </div>
                        <hr role="presentation">
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>








    </div>
<!-- -->
       <div class="mod shadow ">
        <div class="inner filters">
            <div class="bd">
                <div class="line">
                    <div class="unit r-size1of2">

                        <h2 class="hide-lt768">Privatperson</h2>
                        <p>Hva skal du annonsere?</p>
                        <!-- -->
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Torget</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Bil</div>
                        </div>
                        <hr role="presentation" class="r-margin">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Båt</div>
                        </div>
                        <hr role="presentation" class="r-margin">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">MC</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Oppdrag</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Småjobber</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Jobb</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Eiendom</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Næring</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <!-- -->

        </div>
        <div class="unit r-size1of2 hide-lt768">

                        <h2 class="hide-lt768">Bedrift/Forhandler</h2>
                        <p>Har du foretaksnummer og annonserer jevnlig på Finn? En bedriftsavtale git deg fordeler som annonsør.</p>
                        <ul class="bullets pll">
                            <li>Betaling med faktura</li>
                            <li>Lavere pris per annonse</li>
                            <li>Firmalogo på resultat- og annonsesider</li>
                            <li>Lenke til egen nettside</li>
                        </ul>
                                                <!-- -->
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Bil/Båt/MC</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Eiendom</div>
                        </div>
                        <hr role="presentation" class="r-margin">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Jobb</div>
                        </div>
                        <hr role="presentation" class="r-margin">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Oppdrag</div>
                        </div>
                        <hr role="presentation" class="r-margin">

                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Reise</div>
                        </div>
                        <hr role="presentation" class="r-margin">
                        <div class="pvs r-margin t4">
                            <div class="list-icon fright">
                                <div class="decoration arrowhead-right rightify"></div>
                            </div>
                            <div data-label="Område" class="truncate">Torget</div>
                        </div>
                        <hr role="presentation">
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>








    </div>

<!-- -->
</div>
</div>
