<div class="mod">
  <div class="inner">
    <div class="bd">
        <p>Most pages on finn.no runs on the same <code>.container</code> > <code>.page</code> structure, these give the current widths to fit within the banners, and also the correct margins and responsive behaviour.</p>
        <details>
            <summary class="r-margin clickable h3 normal">Basic template</summary>
            <pre><code>{{{example}}}</code></pre>
        </details>
        <p>You can start with this basic HTML template.</p>
    </div>
  </div>
</div>
