<!DOCTYPE html>
<html lang="no" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>FINN</title>
        <link rel="stylesheet" href="//static.finncdn.no/bb/latest/css/spaden/5.x/spaden.min.css">
        <!--[if IE 9]>
        <link rel="stylesheet" href="/static/ie9.e7628c1e.css">
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="page">
                <!-- page content -->
                <div class="line">
                    <div class="unit r-size2of3">
                        ...
                    </div>
                    <div class="unit r-size1of3">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
