@import '../../config/variables.css';

img { max-width: 100%; }

.roundedborder, .rounded-border { border-radius: 50%; }

.stream-img {
    width: 33%;
    min-height: 75px;
    min-width: 100px;
}

@media (width >= 990px) {
    .stream-img { width: 25%; }
}

/* responsive image formats */
.format1by1,
.format4by3,
.format3by2,
.format16by9,
.format2by1,
.format1by1-lt768,
.format4by3-lt768,
.format3by2-lt768,
.format16by9-lt768,
.format2by1-lt768,
.normal-image-holder,
.widescreen-image-holder {
    overflow: hidden;
    position: relative;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.format1by1 {
    padding-top: 100%; /* 1:1 ratio */
}
.format4by3,
.normal-image-holder {
    padding-top: 75%; /* 4:3 ratio */
}
.format3by2 {
    padding-top: 66.6666%; /* 3:2 ratio */
}
.format16by9,
.widescreen-image-holder {
    padding-top: 56.25%; /* 16:9 ratio */
}
.format2by1 {
    padding-top: 50%; /* 2:1 ratio */
}

@media (--small-screen) {
    .format1by1-lt768 {
        padding-top: 100%; /* 1:1 ratio */
    }
    .format4by3-lt768 {
        padding-top: 75%; /* 4:3 ratio */
    }
    .format3by2-lt768 {
        padding-top: 66.6666%; /* 3:2 ratio */
    }
    .format16by9-lt768 {
        padding-top: 56.25%; /* 16:9 ratio */
    }
    .format2by1-lt768 {
        padding-top: 50%; /* 2:1 ratio */
    }
}

.centered-image {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.islandscape,
.crop-vertical {
    width: 100%;
    height: auto;
    max-height: none;
}

.isportrait,
.crop-horizontal {
    height: 100%;
    width: auto;
    max-width: none;
}
