<div class="line" id="tables">
    <div class="unit r-size2of3">

        <div class="mod mbxxl">
            <div class="inner">
                <div class="bd">

                    <div class="r-margin">
                        <table class="outerborder collapse">
                            <thead class="t4">
                            <tr>
                                <th>Property</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd">
                                <th scope="row"><code>.condensed</code></th>
                                <td>Tighter table layout, half padding.</td>
                            </tr>
                            <tr class="even">
                                <th scope="row"><code>.super-condensed</code></th>
                                <td>Even tighter table layout.</td>
                            </tr>
                            <tr class="odd">
                                <th scope="row"><code>.outerborder</code></th>
                                <td>Adds an external border.</td>
                            </tr>
                            <tr class="even">
                                <th scope="row"><code>.innerborder</code></th>
                                <td>Adds vertical inner borders</td>
                            </tr>
                            <tr class="odd">
                                <th scope="row"><code>.hover-rows</code></th>
                                <td>Adds hover effect on a full table row.</tr></td>
                            </tr>

                            <tr class="even">
                                <th scope="row"><code>.hover-cells</code></th>
                                <td>Adds hover effect on a cellular level.</td>
                            </tr>
                            <tr class="odd">
                                <th scope="row"><code>.zebra-stripes</code></th>
                                <td>Adds zebra-stripes </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>


                    <details>
                        <summary class="r-margin clickable h5">Default table</summary>
                        <pre><code>{{{example-1}}}</code></pre>
                    </details>
                    <p>All tables will be automatically styled with only the essential borders to ensure readability and maintain structure. No need to add extra classes or attributes.</p>
                    <div class="r-margin mbl">
                        {{{example-1-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Condensed table</summary>
                        <pre><code>{{{example-2}}}</code></pre>
                    </details>
                    <p>For tables that require more data in tighter spaces, use the condensed flavor that cuts padding in half. It can also be used in conjunction with borders and zebra-stripes, just like the default table styles.</p>
                    <div class="r-margin">
                        {{{example-2-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Super-condensed table</summary>
                        <pre><code>{{{example-3}}}</code></pre>
                    </details>
                    <p>For small tables with a lot of data in small spaces, use the super-condensed class.</p>
                    <div class="r-margin">
                        {{{example-3-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Zebra-striped table</summary>
                        <pre><code>{{{example-4}}}</code></pre>
                    </details>
                    <p>Get a little fancy with your tables by adding zebra-striping. Just add the <code>.zebra-striped</code> class.</p>
                    <div class="r-margin">
                        {{{example-4-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Outer border</summary>
                        <pre><code>{{{example-5}}}</code></pre>
                    </details>
                    <div class="r-margin">
                        {{{example-5-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Inner border</summary>
                        <pre><code>{{{example-6}}}</code></pre>
                    </details>
                    <div class="r-margin">
                        {{{example-6-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Inner border</summary>
                        <pre><code>{{{example-7}}}</code></pre>
                    </details>
                    <div class="r-margin">
                        {{{example-7-plain}}}
                    </div>

                    <div class="r-margin mbl multicol col-count1upto480 col-count2upto990 col-count3from990">
                        <ul class="man ">
                            <li><code>.border-black</code></li>
                            <li><code>.border-dk-gray</code></li>
                            <li><code>.border-lt-gray</code></li>
                            <li><code>.border-pale-gray</code></li>
                            <li><code>.border-white</code></li>
                            <li><code>.border-dkdk-blue</code></li>
                            <li><code>.border-dk-blue</code></li>
                            <li><code>.border-blue</code></li>
                            <li><code>.border-lt-blue</code></li>
                            <li><code>.border-pale-blue</code></li>
                            <li><code>.border-contrast</code></li>
                            <li><code>.border-firm</code></li>
                            <li><code>.border-positive</code></li>
                            <li><code>.border-negative</code></li>
                        </ul>
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Hover effects</summary>
                        <pre><code>{{{example-8}}}</code></pre>
                    </details>
                    <div class="r-margin">
                        {{{example-8-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Sorting in table headers</summary>
                        <pre><code>{{{example-9}}}</code></pre>
                    </details>
                    <div class="r-margin">
                        {{{example-9-plain}}}
                    </div>

                    <details>
                        <summary class="r-margin clickable h5">Centered content</summary>
                        <pre><code>{{{example-10}}}</code></pre>
                    </details>
                    <p>Center all content within the table's body.</p>
                    <div class="r-margin">
                        {{{example-10-plain}}}
                    </div>





                </div>
            </div>
        </div>

    </div>
    <div class="unit r-size1of3 hide-lt768">

        <div class="mod shadow">
            <div class="inner">
                <div class="bd">

                    <h2>Building tables</h2>
                    <p>
                        <code>&lt;table&gt;</code>
                        <code>&lt;thead&gt;</code>
                        <code>&lt;tbody&gt;</code>
                        <code>&lt;tr&gt;</code>
                        <code>&lt;th&gt;</code>
                        <code>&lt;td&gt;</code>
                        <code>&lt;colspan&gt;</code>
                        <code>&lt;caption&gt;</code>
                    </p>
                    <p>Tables are great for a lot of things. Great tables, however, need a bit of markup love to be useful, scalable, and readable (at the code level). Here are a few tips to help:</p>
                    <p>Always wrap your column headers in a <code>&lt;thead&gt;</code> such that hierarchy is <code>&lt;thead&gt;</code> &gt; <code>&lt;tr&gt;</code> &gt; <code>&lt;th&gt;</code>.</p>
                    <p>Similar to the column headers, all your table?s body content should be wrapped in a <code>&lt;tbody&gt;</code> so your hierarchy is <code>&lt;tbody&gt;</code> &gt; <code>&lt;tr&gt;</code> &gt; <code>&lt;td&gt;</code>.</p>

                </div>
            </div>
        </div>

    </div>
</div>
