<div class="line" id="tables">
    <div class="unit size2of3">
<div class="mod shadow">
<div class="inner">
<div class="bd">
<div class="r-margin">
    <table>
        <thead class="t4">
        <tr>
            <th>Property</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd">
            <th scope="row"><code>.condensed</code></th>
            <td>Tighter table layout, half padding.</td>
        </tr>
        <tr class="even">
            <th scope="row"><code>.super-condensed</code></th>
            <td>Even tighter table layout.</td>
        </tr>
        <tr class="odd">
            <th scope="row"><code>.outerborder</code></th>
            <td>Adds an external border.</td>
        </tr>
        <tr class="even">
            <th scope="row"><code>.innerborder</code></th>
            <td>Adds vertical inner borders</td>
        </tr>
        <tr class="odd">
            <th scope="row"><code>.hover-rows</code></th>
            <td>Adds hover effect on a full table row.</tr></td>
        </tr>

        <tr class="even">
            <th scope="row"><code>.hover-cells</code></th>
            <td>Adds hover effect on a cellular level.</td>
        </tr>
        <tr class="odd">
            <th scope="row"><code>.zebra-stripes</code></th>
            <td>Adds zebra-stripes </td>
        </tr>

        </tbody>
    </table>
</div>
<div class="">
<hr>

<details>
<summary class="r-margin clickable h3 normal">Default table</summary>
<pre class="prettyprint linenums">
&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;#&lt;/th&gt;
            &lt;th&gt;First Name&lt;/th&gt;
            &lt;th&gt;Last Name&lt;/th&gt;
            &lt;th&gt;Language&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;1&lt;/td&gt;
            &lt;td&gt;Some&lt;/td&gt;
            &lt;td&gt;One&lt;/td&gt;
            &lt;td&gt;English&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;2&lt;/td&gt;
            &lt;td&gt;Joe&lt;/td&gt;
            &lt;td&gt;Sixpack&lt;/td&gt;
            &lt;td&gt;English&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;3&lt;/td&gt;
            &lt;td&gt;Stu&lt;/td&gt;
            &lt;td&gt;Dent&lt;/td&gt;
            &lt;td&gt;Code&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</pre>
</details>

<p>All tables will be automatically styled with only the essential borders to ensure readability and maintain structure. No need to add extra classes or attributes.</p>
<div class="r-margin">
    <table>
        <thead class="t4">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Condensed table</summary>
<pre class="prettyprint linenums">
&lt;table class=&quot;condensed&quot;&gt;
    ...
&lt;/table&gt;</pre>
</details>

<p>For tables that require more data in tighter spaces, use the condensed flavor that cuts padding in half. It can also be used in conjunction with borders and zebra-stripes, just like the default table styles.</p>
<div class="r-margin">
    <table class="condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1</th>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <th>3</th>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Super-condensed table</summary>
<pre class="prettyprint linenums">
&lt;table class=&quot;super-condensed&quot;&gt;
    ...
&lt;/table&gt;</pre>
</details>
<p>For small tables with a lot of data in small spaces, use the super-condensed class.</p>
<div class="r-margin">

    <table class="super-condensed size1of3 mrl hover-cells innerborder outerborder smalltext centerify">
        <thead>
            <tr>
                <th>Man</th>
                <th>Tir</th>
                <th>Ons</th>
                <th>Tor</th>
                <th>Fre</th>
                <th>Lør</th>
                <th>Søn</th>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
        </tr>
        <tr>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
        </tr>
        <tr>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
        </tr>
        <tr>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Zebra-striped table</summary>
<pre class="prettyprint linenums">
&lt;table class=&quot;zebra-striped&quot;&gt;
    ...
&lt;/table&gt;</pre>
</details>

<p>Get a little fancy with your tables by adding zebra-striping. Just add the <code>.zebra-striped</code> class.</p>
<div class="r-margin">
    <table class="outerborder zebra-striped">
        <thead class="t4">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        <tr>
            <td colspan="4">
                span 4 columns
            </td>
        </tr>
        <tr>
            <td colspan="2">
                span 2 columns
            </td>
            <td colspan="2">
                span 2 columns
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p><strong>Note:</strong> Zebra-striping is a progressive enhancement not available for older browsers like IE8 and below.</p>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Outer border</summary>
<pre class="prettyprint linenums">
&lt;table class=&quot;outerborder&quot;&gt;
    ...
&lt;/table&gt;</pre>
</details>

<div class="r-margin">
    <table class="outerborder">
        <thead class="t4">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1</th>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <th>3</th>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Inner border</summary>
<pre class="prettyprint linenums">
&lt;table class=&quot;innerborder&quot;&gt;
    ...
&lt;/table&gt;</pre>
</details>

<div class="r-margin">
    <table class="innerborder">
        <thead class="t4">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Border-colors</summary>
<pre class="prettyprint linenums">
&lt;table class=&quot;outerborder innerborder border-positive&quot;&gt;
    ...
&lt;/table&gt;</pre>

    <div class="r-margin mbl">
        <ul class="bullets bullets-bg-black mvn"><li><code>.border-black</code></li></ul>
        <ul class="bullets bullets-bg-dk-gray mvn"><li><code>.border-dk-gray</code></li></ul>
        <ul class="bullets bullets-bg-lt-gray mvn"><li><code>.border-lt-gray</code></li></ul>
        <ul class="bullets bullets-bg-pale-gray mvn"><li><code>.border-pale-gray</code></li></ul>
        <ul class="bullets bullets-bg-white mvn"><li><code>.border-white</code></li></ul>
        <ul class="bullets bullets-bg-dkdk-blue mvn"><li><code>.border-dkdk-blue</code></li></ul>
        <ul class="bullets bullets-bg-dk-blue mvn"><li><code>.border-dk-blue</code></li></ul>
        <ul class="bullets bullets-bg-blue mvn"><li><code>.border-blue</code></li></ul>
        <ul class="bullets bullets-bg-lt-blue mvn"><li><code>.border-lt-blue</code></li></ul>
        <ul class="bullets bullets-bg-pale-blue mvn"><li><code>.border-pale-blue</code></li></ul>
        <ul class="bullets bullets-bg-contrast mvn"><li><code>.border-contrast</code></li></ul>
        <ul class="bullets bullets-bg-firm mvn"><li><code>.border-firm</code></li></ul>
        <ul class="bullets bullets-bg-positive mvn"><li><code>.border-positive</code></li></ul>
        <ul class="bullets bullets-bg-negative mvn"><li><code>.border-negative</code></li></ul>
        <ul class="bullets bullets-bg-snotgreen mvn"><li><code>.border-snotgreen</code></li></ul>
        <ul class="bullets bullets-bg-pissyellow mvn"><li><code>.border-pissyellow</code></li></ul>
    </div>
</details>

<div class="r-margin">
    <table class="outerborder innerborder border-positive">
        <thead class="t4">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Hover effects</summary>
<pre class="prettyprint linenums">
&lt;table class=&quot;hover-rows&quot;&gt;
  ...
&lt;/table&gt;</pre>
</details>

<div class="r-margin">
    <table class="outerborder hover-rows">
        <thead class="t4">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        <tr>
            <td colspan="4">
                span 4 columns
            </td>
        </tr>
        <tr>
            <td colspan="2">
                span 2 columns
            </td>
            <td colspan="2">
                span 2 columns
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Sorting in table headers</summary>
<pre class="prettyprint linenums">
&lt;table&gt;
    ...
    &lt;th class=&quot;sort-up&quot;&gt;
      ...
    &lt;/th&gt;
    &lt;th class=&quot;sort-down&quot;&gt;
      ...
    &lt;/th&gt;
    ...
&lt;/table&gt;</pre>
</details>

<div class="r-margin">
    <table>
        <thead class="t4">
        <tr>
            <th>#</th>
            <th class="sort-up">First Name</th>
            <th class="sort-down">Last Name</th>
            <th class="sort-up">Language</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<details>
<summary class="r-margin clickable h3 normal">Centered content</summary>
<pre class="prettyprint linenums">
&lt;table&gt;
    &lt;tbody class=&quot;centerify&quot;&gt;
        ...
    &lt;/tbody&gt;
&lt;/table&gt;</pre>
</details>

<p>Center all content within the table's body.</p>
<div class="r-margin">
    <table>
        <tbody class="centerify">
        <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>
</div>

</div>
</div>
</div>
</div><!-- mod -->
</div>
    <div class="unit r-size1of3">
    <div class="mod shadow">
        <div class="inner">
            <div class="bd">
                <h2>Building tables</h2>
                <p>
                    <code>&lt;table&gt;</code>
                    <code>&lt;thead&gt;</code>
                    <code>&lt;tbody&gt;</code>
                    <code>&lt;tr&gt;</code>
                    <code>&lt;th&gt;</code>
                    <code>&lt;td&gt;</code>
                    <code>&lt;colspan&gt;</code>
                    <code>&lt;caption&gt;</code>
                </p>
                <p>Tables are great for a lot of things. Great tables, however, need a bit of markup love to be useful, scalable, and readable (at the code level). Here are a few tips to help:</p>
                <p>Always wrap your column headers in a <code>&lt;thead&gt;</code> such that hierarchy is <code>&lt;thead&gt;</code> &gt; <code>&lt;tr&gt;</code> &gt; <code>&lt;th&gt;</code>.</p>
                <p>Similar to the column headers, all your table?s body content should be wrapped in a <code>&lt;tbody&gt;</code> so your hierarchy is <code>&lt;tbody&gt;</code> &gt; <code>&lt;tr&gt;</code> &gt; <code>&lt;td&gt;</code>.</p>

            </div>
        </div>
    </div><!-- mod -->
</div>
</div>