


<div class="outlines grid">


            <style scoped>.topbar-finnlet-2ktKP{width:100%;background-color:#06befb;top:0;z-index:3;-webkit-backface-visibility:hidden;backface-visibility:hidden}.topbar-finnlet-2ktKP img{border-radius:50%}.topbar-finnlet-2ktKP svg,.topbar-finnlet-2ktKP img{margin-right:5px;vertical-align:middle}.topbar-nav-21pTS{margin-right:10px;height:55px;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;min-width:0}.topbar-nav-21pTS a{height:100%;display:inline-block}.topbar-nav-21pTS a{font-size:16px;color:#fff;position:relative;text-align:center;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-align-items:center;-ms-flex-align:center;align-items:center;min-width:0}.topbar-nav-21pTS a:hover{text-decoration:none}.topbar-logoItem-6V-kc{padding:0 20px 0 0;color:#fff}.topbar-item-2t_6H{background-color:#0063fb;padding:0 20px;white-space:nowrap}.topbar-item-2t_6H:hover:after,.topbar-itemActive-2HsbG:after{content:"";position:absolute;height:5px;width:100%;background:#06befb;bottom:0;left:0}.topbar-pushContentDown-532lz{height:65px}.topbar-pushToCenter-2ywpD{margin-left:auto}@media(max-width:767px){.topbar-nav-21pTS{margin:0}.topbar-item-2t_6H span{font-size:10px;display:block}.topbar-logoItem-6V-kc{padding:0 10px}.topbar-item-2t_6H,a.topbar-item-2t_6H{display:inline-block;padding:7px 20px 0 20px}.topbar-finnlet-2ktKP svg,.topbar-finnlet-2ktKP img{margin:0}}@media(max-width:479px){a.topbar-item-2t_6H{padding:7px 8px 0 8px}}@media print{.topbar-finnlet-2ktKP{position:static}.topbar-pushContentDown-532lz{height:0}dummy::-ms-expand,.topbar-item-2t_6H,a.topbar-item-2t_6H{display:none}}</style>
            <div class="topbar-pushContentDown-532lz">
                <header class="topbar-finnlet-2ktKP fixed">
                    <script>window.document.title = '(4) '+ window.document.title</script>
                    <div class="container"><div class="page">
                    <nav class="topbar-nav-21pTS" role="navigation" aria-label="Hovednavigasjon">
                        <a href="//m.finn.no/" class="topbar-logoItem-6V-kc" aria-label="Forside" data-automation-id="frontpage-link" >
                            <svg class="hide-gt480" width="62" height="32" viewBox="0 0 124 64">
        <title>FINN.no</title>
        <path fill="#06bffc" d="M119.8 58V6c0-1-.8-1.9-1.9-1.9H66c-1 0-1.9.8-1.9 1.9v53.8H118c1 0 1.8-.8 1.8-1.8"></path>
        <path fill="#0063fc" d="M22.5 4.2H6C5 4.2 4.2 5 4.2 6v52c0 1 .8 1.9 1.9 1.9H60V41.5C59.9 20.9 43.2 4.2 22.5 4.2"></path>
        <path fill="#ffffff" d="M118 0H66c-3.3 0-6 2.7-6 6v17.4C53.2 9.6 38.9 0 22.5 0H6C2.7 0 0 2.7 0 6v52c0 3.3 2.7 6 6 6h112c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6m1.8 58c0 1-.8 1.9-1.9 1.9H64.1V6c0-1 .8-1.9 1.9-1.9h52c1 0 1.9.8 1.9 1.9v52zM4.2 58V6C4.2 5 5 4.2 6 4.2h16.5c20.6 0 37.4 16.8 37.4 37.4v18.3H6c-1-.1-1.8-.9-1.8-1.9"></path>
    </svg>
                            <svg class="hide-lt480" width="92" height="32" viewBox="0 0 184 64">
        <title>FINN.no</title>
        <path fill="#06bffc" d="M179.8 58V6c0-1-.8-1.9-1.9-1.9H66c-1 0-1.9.8-1.9 1.9v53.8H178c1 0 1.8-.8 1.8-1.8"></path>
        <path fill="#0063fc" d="M22.5 4.2H6C5 4.2 4.2 5 4.2 6v52c0 1 .8 1.9 1.9 1.9H60V41.5C59.9 20.9 43.2 4.2 22.5 4.2"></path>
        <path fill="#fff" d="M178 0H66c-3.3 0-6 2.7-6 6v17.4C53.2 9.6 38.9 0 22.5 0H6C2.7 0 0 2.7 0 6v52c0 3.3 2.7 6 6 6h172c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6m1.8 58c0 1-.8 1.9-1.9 1.9H64.1V6c0-1 .8-1.9 1.9-1.9h112c1 0 1.9.8 1.9 1.9v52zM4.2 58V6C4.2 5 5 4.2 6 4.2h16.5c20.6 0 37.4 16.8 37.4 37.4v18.3H6c-1-.1-1.8-.9-1.8-1.9"></path>
        <path fill="#fff" d="M110.1 21.1h-4.2c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2V22.3c0-.6-.6-1.2-1.2-1.2M98.1 21.1H83c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2v-4h7.7c.7 0 1.2-.5 1.2-1.2v-3.2c0-.7-.5-1.2-1.2-1.2h-7.7v-4.9h9.7c.7 0 1.2-.5 1.2-1.2v-3.7c0-.5-.6-1.1-1.2-1.1M160.9 21.1h-4.2c-.7 0-1.2.5-1.2 1.2v9.5l-6.6-10c-.3-.4-.8-.7-1.3-.7h-3.2c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2v-9.4l6.5 9.8c.3.4.8.7 1.3.7h3.4c.7 0 1.2-.5 1.2-1.2V22.3c-.1-.6-.6-1.2-1.3-1.2M135.5 21.1h-4.2c-.7 0-1.2.5-1.2 1.2v9.5l-6.6-10c-.3-.4-.8-.7-1.3-.7H119c-.7 0-1.2.5-1.2 1.2v19.3c0 .7.5 1.2 1.2 1.2h4.2c.7 0 1.2-.5 1.2-1.2v-9.4l6.5 9.8c.3.4.8.7 1.3.7h3.4c.7 0 1.2-.5 1.2-1.2V22.3c-.1-.6-.6-1.2-1.3-1.2"></path>
    </svg>
                            <span class="hide-lt900">Mulighetenes marked</span>
                        </a>
                        <a
        href="//m.finn.no/stream.html"
        class=" topbar-item-2t_6H topbar-pushToCenter-2ywpD"
        data-automation-id="latest-link"
        >
            <svg width="22" height="22" viewBox="0 0 22 22">
        <circle fill="#fff" cx="11" cy="11" r="2"></circle>
        <circle fill="none" cx="11" cy="11" r="9" stroke="#fff" stroke-width="2"></circle>
    </svg>
            <span>Siste nytt</span>
        </a>

        <a
        href="//www.finn.no/innfinn/"
        class=" topbar-item-2t_6H "
        data-automation-id="new-ad-link"
        >
            <svg width="22" height="22" viewBox="0 0 22 22">
        <rect y="10" width="22" height="2" fill="#fff"></rect>
        <rect x="10" width="2" height="22" fill="#fff"></rect>
    </svg>
            <span>Ny annonse</span>
        </a>

        <a
        href="//m.finn.no/notifications.html"
        class=" topbar-item-2t_6H"
        aria-label="4 nye varslinger"
        data-automation-id="notifications-link"
        >
            <svg width="22" height="22" viewBox="0 0 22 22">
        <path fill="#fff" d="M19.964 16.79c0-.018-.002-.036-.005-.055-.026-6.428-4.015-13.862-8.93-13.862-4.913 0-8.897 7.425-8.93 13.85-.003.023-.007.047-.007.067 0 .368.618.706 1.668.98-.476-.228-.744-.482-.744-.753 0-.066.018-.132.05-.197.438-.9 3.85-1.603 7.995-1.603 4.148 0 7.56.702 7.997 1.603.03.065.05.13.05.197 0 .255-.238.496-.662.714.96-.266 1.52-.59 1.52-.94z"></path>
        <ellipse fill="#fff" cx="11.053" cy="18.727" rx="1.786" ry="2.216"></ellipse>
        <ellipse fill="#fff" cx="11.053" cy="2.562" rx="1.238" ry="1.538"></ellipse>
    </svg>
            <span>Varslinger</span>
            <span
            class="notification topright bg-red bright centerify inlineblockify" aria-hidden="true"
         >
             4
         </span>
        </a>

        <a
        href="//m.finn.no/user.html"
        class=" topbar-item-2t_6H"
        aria-label="Min FINN – 1 ny melding"
        data-automation-id="profile-link"
        >
            <img src="https://images.finncdn.no/dynamic/100x100c/2015/1/profilbilde/12/9/174/794/315/9_152086508.jpg" alt="" width="22" height="22">
            <span>Min FINN</span>
            <span
            class="notification topright bg-red bright centerify inlineblockify" aria-hidden="true"
         >
             1
         </span>
        </a>
                    </nav>
                    </div></div>
                </header>
            </div>
        </div>



<div class="container">
  <div class="page">
    
      



<div id="global-menu" class="mod shadow">
  <div class="inner r-pal">
    <div class="bd">
      <div class="line">
        
          <span class="strong unit">
            Velkommen tilbake, Snorre.
          </span>
        
        <div class="unitRight">
          
          <a class="no-break" data-title="din-side" href="/smajobber/min-side/">Din side</a>
          
        </div>
      </div>
      <div>
        
      </div>
    </div>
  </div>
</div>

    
    





<div class="line">
  <div class="mod shadow">
    <div class="bd">
        <div class="new-splash relative unoverflowify">
          <div class="new-splash-bg-filter relative z-index1">
            <div class="new-splash-content centerify bright">
              <h1>Få småjobben gjort!</h1>
              <h2 class="h3">
                Flinke privatpersoner hjelper deg med alt mellom himmel og jord
              </h2>
              <div class="new-splash-button-holder">
                <div class="line r-margin hide-lt768">
                  <div class="unit r-size1of2">
                    <a name="quick-register-submit" class="button large primary" href="/smajobber/legg-ut-smajobb/">
                      Legg ut en småjobb nå - helt gratis
                    </a>
                  </div>
                  <div class="unit r-size1of2">
                    <a name="edit-profile" class="button large primary" href="/smajobber/profiler/1747943159/endre/">
                      Lag en profil og tilby din hjelp
                    </a>
                  </div>
                </div>
                <div class="hide-ht768">
                  <div class="r-margin">
                    <a name="quick-register-submit" class="button fullwidth large primary" href="/smajobber/legg-ut-smajobb/">
                      Legg ut en småjobb nå - helt gratis
                    </a>
                  </div>
                  <div class="r-margin">
                    <a name="edit-profile" class="button fullwidth large primary" href="/smajobber/profiler/1747943159/endre/">
                      Lag en profil og tilby din hjelp
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="new-splash-bg new-splash-bg-back"
               style="background-size: cover;
                       background-position: center;
                       background-repeat: no-repeat;
                       z-index: -1"></div>
          <div data-js-image-id="81"
               class="new-splash-bg new-splash-bg-front"
               style="background-image: url('//images.finncdn.no/dynamic/960w/2016/6/smajobber/09/8/270/_380616786.jpg');
                 background-size: cover;
                 background-position: center;
                 background-repeat: no-repeat;
                 z-index: 0"></div>
        </div>
    </div>
  </div>
</div>
<style>
  @media (min-width: 768px) {
    #description-wrapper .main-content {
      min-height: 300px;
    }

    #description-wrapper .example-job-wrapper {
      height: 90px;
    }
  }
</style>

<div id="description-wrapper">
  <div class="line r-cols1to2">
    <div class="unit">
      <div class="mod shadow">
        <div class="inner">
          <div class="bd main-content">
            <div>

              <h2 class="h5">
                1 108<span> småjobber venter på rett hjelper</span>
                  </h2>
              <p>
                Kanskje noen trenger nettopp din hjelp?
              </p>

              <div class="r-margin">
                <div>
                    






<div class="line r-cols1to2">
  
    <div class="unit">
      <div class="example-job-wrapper border-pale bbt r-mbl r-mrm">
        <div>
          <a class="t5 exampleJob" href="/smajobber/alle-smajobber/hjelp-i-hverdagen/vask-renhold-og-husarbeid/vaskehjelp-sokes-150821/" title="Vaskehjelp søkes">Vaskehjelp søkes</a>
          <div class="smalltext mvm">
            <span>Vask, renhold og husarbeid, Notodden</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="unit">
      <div class="example-job-wrapper border-pale bbt r-mbl ">
        <div>
          <a class="t5 exampleJob" href="/smajobber/alle-smajobber/fiksing-og-sjauing/oppussing-og-renovering/pussing-av-garasje-vegger-151586/" title="Pussing av garasje vegger.">Pussing av garasje vegger.</a>
          <div class="smalltext mvm">
            <span>Oppussing og renovering, Jessheim</span>
          </div>
        </div>
      </div>
    </div>
  
</div>


</div>
                  <div class="hide-lt768">
                    






<div class="line r-cols1to2">
  
    <div class="unit">
      <div class="example-job-wrapper border-pale bbt r-mbl r-mrm">
        <div>
          <a class="t5 exampleJob" href="/smajobber/alle-smajobber/fiksing-og-sjauing/bygging-og-montering/utvendig-impregnert-trapp-150120/" title="Utvendig impregnert trapp">Utvendig impregnert trapp</a>
          <div class="smalltext mvm">
            <span>Bygging og montering, Halden</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="unit">
      <div class="example-job-wrapper border-pale bbt r-mbl ">
        <div>
          <a class="t5 exampleJob" href="/smajobber/alle-smajobber/hjelp-i-hverdagen/vask-renhold-og-husarbeid/vaskehjelp-149523/" title="Vaskehjelp">Vaskehjelp</a>
          <div class="smalltext mvm">
            <span>Vask, renhold og husarbeid, Vestre Gausdal</span>
          </div>
        </div>
      </div>
    </div>
  
</div>


</div>
                </div>
            </div>
            <div class="r-phl r-pvm">
                <a class="button large fullwidth primary" name="find-job" href="/smajobber/alle-smajobber/">Finn en småjobb</a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="unit">
      <div class="mod shadow">
        <div class="inner">
          <div class="bd main-content">
            <div>
              <h2 class="h5">
                20 212<span> hjelpere står klare til å gjøre småjobber</span>
                  </h2>
              <p>Finn og inviter den perfekte hjelperen til din småjobb.</p>
            </div>

            <div class="r-ptl">
              <div class="unit size1of3 r-pbl">
                  <div class="profile profile-xsmall centerify">
                    <div class="profileimg relative">
                      <a title="Gå til profilen til lene"
                         class="exampleHelper"
                         href="/smajobber/profiler/1896345630/">
                        <img class="rounded-border" alt="Profilebilde til hjelperen"
                             src="//images.finncdn.no/dynamic/80x80c/2015/8/profilbilde/27/0/189/634/563/0_1981847371.jpg">
                        <span class="verified"></span>
                      </a>
                    </div>
                  </div>
                </div>
              <div class="unit size1of3 r-pbl">
                  <div class="profile profile-xsmall centerify">
                    <div class="profileimg relative">
                      <a title="Gå til profilen til Irene"
                         class="exampleHelper"
                         href="/smajobber/profiler/1602542066/">
                        <img class="rounded-border" alt="Profilebilde til hjelperen"
                             src="//images.finncdn.no/dynamic/80x80c/2016/5/profilbilde/13/6/160/254/206/6_117984632.jpg">
                        <span class="verified"></span>
                      </a>
                    </div>
                  </div>
                </div>
              <div class="unit size1of3 r-pbl">
                  <div class="profile profile-xsmall centerify">
                    <div class="profileimg relative">
                      <a title="Gå til profilen til Milen"
                         class="exampleHelper"
                         href="/smajobber/profiler/1705020265/">
                        <img class="rounded-border" alt="Profilebilde til hjelperen"
                             src="//images.finncdn.no/dynamic/80x80c/2016/7/profilbilde/27/5/170/502/026/5_1675582426.jpg">
                        <span class=""></span>
                      </a>
                    </div>
                  </div>
                </div>
              <div class="unit size1of3 r-pbl">
                  <div class="profile profile-xsmall centerify">
                    <div class="profileimg relative">
                      <a title="Gå til profilen til Frode"
                         class="exampleHelper"
                         href="/smajobber/profiler/1824675832/">
                        <img class="rounded-border" alt="Profilebilde til hjelperen"
                             src="//images.finncdn.no/dynamic/80x80c/2014/6/profilbilde/11/2/182/467/583/2_1926780008.jpg">
                        <span class="verified"></span>
                      </a>
                    </div>
                  </div>
                </div>
              <div class="unit size1of3 r-pbl">
                  <div class="profile profile-xsmall centerify">
                    <div class="profileimg relative">
                      <a title="Gå til profilen til Audun"
                         class="exampleHelper"
                         href="/smajobber/profiler/2119659305/">
                        <img class="rounded-border" alt="Profilebilde til hjelperen"
                             src="//images.finncdn.no/dynamic/80x80c/2016/8/profilbilde/31/5/211/965/930/5_938374295.jpg">
                        <span class="verified"></span>
                      </a>
                    </div>
                  </div>
                </div>
              <div class="unit size1of3 r-pbl">
                  <div class="profile profile-xsmall centerify">
                    <div class="profileimg relative">
                      <a title="Gå til profilen til Linda"
                         class="exampleHelper"
                         href="/smajobber/profiler/875075198/">
                        <img class="rounded-border" alt="Profilebilde til hjelperen"
                             src="//images.finncdn.no/dynamic/80x80c/2016/6/profilbilde/13/8/875/075/_1780308410.jpg">
                        <span class="verified"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div>
              <div class="r-phl r-pvm">
                <a class="button large fullwidth primary" href="/smajobber/finn-hjelpere/" name="find-helper">Finn en hjelper</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div id="newly-reviewed-jobs"></div>

<div class="mod shadow">
  <div class="inner">
    <div class="bd">
      <h2 class="h5">På småjobber får du hjelp til</h2>
      <p>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=klær" class="tag-example">klær</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=grafiskdesign" class="tag-example">grafiskdesign</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=administrasjon" class="tag-example">administrasjon</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=arbeidsglede" class="tag-example">arbeidsglede</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=omgjengelig" class="tag-example">omgjengelig</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=samtale" class="tag-example">samtale</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=felling" class="tag-example">felling</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=iphone" class="tag-example">iphone</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=sykkel" class="tag-example">sykkel</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=webadministrator" class="tag-example">webadministrator</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=windows10" class="tag-example">windows10</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=fysikk" class="tag-example">fysikk</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=korrektur" class="tag-example">korrektur</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=aktivitet" class="tag-example">aktivitet</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=assistent" class="tag-example">assistent</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=wifi" class="tag-example">wifi</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=pchjelp" class="tag-example">pchjelp</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=dykking" class="tag-example">dykking</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=websider" class="tag-example">websider</a></span>
        <span class="r-prm r-ptm grey">#<a href="/smajobber/finn-hjelpere//?q=strikk" class="tag-example">strikk</a></span>
        </p>
      <p>... og mye mye mer</p>
    </div>
  </div>
</div>
<style type="text/css">
  svg.progress {
    stroke-width: 3;
    stroke: #4CB7FF;
    fill: #F2FAFF;
  }

  svg text {
    fill: #9BA8AF;
    stroke: #9BA8AF;
    stroke-width: 0.3px;
    font-size: 12px;
  }

  svg text.help {
    stroke: #04253C;
    fill: #04253C;
    text-align: center;
  }
</style>

<div class="mod shadow">
  <div class="inner">
    <div class="bd">
      <div class="line">
        <div class="unit r-size1of2">
          <h5>Slik fungerer FINN småjobber</h5>
        </div>
        <div class="unit r-size1of2 rightify hide-lt768 r-pvm">
          <a href="/smajobber/om-smajobber/" class="r-margin">Les mer om FINN småjobber</a>
        </div>
      </div>

      <div class="line r-margin">
        <div class="centerify">

          <div class="hide-gt900">
            <svg class="hide-lt600" width="85" height="50">
              <text x="0" y="23" class="d2">Ny småjobb</text>
            </svg>
            <svg class="progress" width="300" height="50">
              <line x1="0" x2="300" y1="20" y2="20"/>
              <circle cx="30" cy="20" r="10"/>
              <circle cx="150" cy="20" r="10"/>
              <circle cx="270" cy="20" r="10"/>
            </svg>
            <svg class="hide-lt600" width="120" height="50">
              <text x="10" y="23" class="d2">Ferdig småjobb</text>
            </svg>

            <div class="line">
              <div class="leftify mbl">
                <div class="t5">1. Beskriv småjobben</div>

                Fortell hva du vil ha hjelp til, hva du vil betale og hvor det skjer.
              </div>
              <div class="leftify mbl">
                <div class="t5">2. Velg hjelper</div>

                Inviter eller motta henvendelser og velg en hjelper du vil skal gjøre småjobben for deg.
              </div>
              <div class="leftify">
                <div class="t5">3. Fortell hvordan det gikk</div>

                Etter at småjobben er utført kan begge parter skrive en omtale og fortelle hordan det gikk.
              </div>
            </div>

            <div class="mtl leftify">
              <a href="/smajobber/om-smajobber/">Les mer om FINN småjobber</a>
            </div>
          </div>

          <div class="hide-lt900">
            <svg class="progress" width="800" height="50">
              <text width="70" x="15" y="23" class="d2">Ny småjobb</text>
              <line x1="80" x2="720" y1="20" y2="20"/>
              <circle cx="150" cy="20" r="10"/>
              <circle cx="390" cy="20" r="10"/>
              <circle cx="650" cy="20" r="10"/>
              <text x="730" y="23" class="d2">Ferdig småjobb</text>
            </svg>

            <div class="line" style="max-width: 730px; margin: 0 auto;">
              <div class="unit r-size1of3 phl">
                <div class="t5">1. Beskriv småjobben</div>

                Fortell hva du vil ha hjelp til, hva du vil betale og hvor det skjer.
              </div>
              <div class="unit r-size1of3 phl">
                <div class="t5">2. Velg hjelper</div>

                Inviter eller motta henvendelser og velg en hjelper du vil skal gjøre småjobben for deg.
              </div>
              <div class="unit r-size1of3 phl">
                <div class="t5">3. Fortell hvordan det gikk</div>

                Etter at småjobben er utført kan begge parter skrive en omtale og fortelle hordan det gikk.
              </div>
            </div>
          </div>

        </div>
      </div>

      <hr class="r-mhl"/>

      <div class="r-mtm r-mbl">
        


<style scoped>
  @media (min-width: 767px) {
    .recentStats dl {
      width: 250px;
    }
  }
  @media (max-width: 767px) {
    .recentStats {
      display: block;
    }
  }
</style>
<div class="recentStats flex justify-center centerify" >
  <div>
    <dl class="man mtl">
      <dd class="h2 green strong">291</dd>
      <dt class="d1">nye småjobber siste 24 timer</dt>
    </dl>
  </div>

  <div>
    <dl class="man mtl">
      <dd class="h2 green strong">48</dd>
      <dt class="d1">utførte småjobber siste 24 timer</dt>
    </dl>
  </div>

  <div>
    <dl class="man mtl">
      <dd class="h2 green strong">75</dd>
      <dt class="d1">omtaler skrevet siste 24 timer</dt>
    </dl>
  </div>
</div>
</div>
    </div>
  </div>
</div>
<div id="feedback"></div>

<script data-js-next-image-url="/smajobber/neste-forsidebilde/"></script>
<script>
  window.params = {"feedbackUrl":"/fant-du-det-du-lette-etter/","fetchNewlyReviewedJobsUrl":"/nylig-utforte-smajobber/"};
</script>

    




<footer role="contentinfo" class="container noprint bg-blue-greyish">
    <div class="page">
        <div class="mod transparent">
            <div class="inner pvn">
                <div class="bd">
                    <ul class="horizontal-list default1col centerify verticalhr">
                        <li class="pvt"><a class="neutral pvm phm inlineblockify" href="https://hjelpesenter.finn.no/hc/no/requests/new">Send tilbakemelding</a></li><!--
                        --><li class="pvt"><a class="neutral pvm phm inlineblockify" href="https://hjelpesenter.finn.no/">Kundeservice</a></li><!--
                        --><li class="pvt"><a class="neutral pvm phm inlineblockify" href="//www.finn.no/innfinn/partner">Bli bedriftskunde</a></li><!--
                        --><li class="pvt"><a class="neutral pvm phm inlineblockify" href="//www.finn.no/finn/admin">Admin for bedrifter</a></li><!--
                        --><li class="pvt"><a class="neutral pvm phm inlineblockify" href="https://ssa.finn.no">Native ads</a></li><!--
                        --><li class="pvt"><a class="neutral pvm phm inlineblockify" href="https://hjemmehos.finn.no/no/om_oss/">Om FINN.no</a></li><!--
                        --><li class="pvt"><a class="neutral pvm phm inlineblockify" href="https://hjelpesenter.finn.no/hc/no/articles/305274">Personvernerklæring</a></li><!--
                        --><li class="pvt"><a class="neutral pvm phm inlineblockify" href="https://hjelpesenter.finn.no/hc/no/articles/211876885">Cookies</a></li>
                    </ul>
                    
                    <div class="r-mtl r-size2of3 center d1 neutral centerify">
                        <p>Innholdet er beskyttet etter åndsverksloven. Bruk av automatiserte tjenester (roboter, spidere, indeksering m.m.) samt andre fremgangsmåter for systematisk eller regelmessig bruk er ikke tillatt uten eksplisitt samtykke fra FINN.no.</p>
                        <p>© 1996–2016 FINN.no AS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




  </div>
</div>

<div id="grid-overlay" class="grid-overlay">
    <ul><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li></ul>
</div>
</div>