<div id="tabContainer">
    <div class="line">
        <div class="unit colspan6 lastUnit">
            <ul class="tabs r-tabs extern navigation mbn" data-tab-controls>
                <li class="active"><a href="#externtab1">Externtab 1</a></li>
                <li><a href="#externtab2">Externtab 2</a></li>
                <li><a href="#externtab3">Externtab 3</a></li>
            </ul>
        </div>
    </div>
    <div class="line">
        <div class="unit colspan6 lastUnit">
            <div class="mod">
                <div class="inner foldered">
                    <div class="bd">
                        <div class="tab-content" data-tab-content>
                            <div class="active tab-pane" id="externtab1"><p>Wohooo I'm content...</p></div>
                            <div class="tab-pane" id="externtab2"><p>I'm other content...</p></div>
                            <div class="tab-pane" id="externtab3"><p>...</p></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
