.market-selector {
    border-left: 1px solid rgba(0,0,0,.05);
    border-radius: 2px;
    margin-right: 10px;
}
.market-selector a {
    display: block;
    height: auto;
}
.market-selector .mod { margin: 0 0 0 0 !important; }
.market-selector .mod.shadow > .inner { border-left: 0; }
@media (--small-screen) {
    .market-selector { margin-right: 2px; }
}
.market-selector .market-icon use {
    color:#06befb;
}
.market-selector a:hover .market-icon use,
.market-selector a:focus .market-icon use {
    color:#0063fb;
}
.market-selector .market-title {
    margin-top:-8px;
}
