<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <title>FINN</title>

        <link rel="stylesheet" href="//static.finncdn.no/bb/latest/css/spaden/5.x/spaden.min.css">

        <!--[if IE 9]>
        <link rel="stylesheet" href="/static/ie9.e7628c1e.css">
        <![endif]-->

        <link rel="icon" href="/static/images/favicon.ico">
        <link rel="icon" href="https://mstatic.finncdn.no/static/images/favicon-t-32x32.6ecbe5ed.png" sizes="32x32">
        <link rel="icon" href="https://mstatic.finncdn.no/static/images/favicon-t-192x192.7800f1c8.png" sizes="192x192">
        <link rel="icon" href="https://mstatic.finncdn.no/static/images/favicon-t-96x96.bc97d1f4.png" sizes="96x96">
        <link rel="icon" href="https://mstatic.finncdn.no/static/images/favicon-t-16x16.38956ddb.png" sizes="16x16">
        <link rel="apple-touch-icon" sizes="57x57" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-57x57.0a05caeb.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-60x60.073de7d7.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-72x72.26e3bf4a.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-76x76.8594040e.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-114x114.70904c47.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-120x120.787a65f9.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-144x144.0b8a7f9d.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-152x152.83c3033e.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://mstatic.finncdn.no/static/images/apple-touch-icon-180x180.988af726.png">
        <link rel="mask-icon" href="https://mstatic.finncdn.no/static/images/icon.dd5adfbf.svg" color="#06befb">
        <meta name="msapplication-TileColor" content="#06befb">
        <meta name="msapplication-TileImage" content="https://mstatic.finncdn.no/static/images/mstile-144x144.10d8b2fe.png">
        <meta name="theme-color" content="#06befb"><meta property="fb:app_id" content="1375962765972285">
        <link rel="canonical" href="http://m.finn.no/">
        <meta name="description" content="Mulighetenes marked">
        <meta property="og:site_name" content="FINN.no">
        <meta property="og:type" content="website">
        <meta property="og:title" content="FINN.no">
        <meta property="og:description" content="Mulighetenes marked">
        <meta property="og:url" content="http://m.finn.no/">
        <meta property="og:image" content="https://m.finn.no/images/finn-logo-large.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@FINN_no">
        <meta name="apple-itunes-app" content="app-id=526541908,affiliate-data=pt=295309&amp;ct=smart-app-banner">
    </head>
    <body>
        <!-- get topbar from: https://github.schibsted.io/finn/finnlet-topbar-node-client -->
        <header>

        <!-- Bannerstuff -->
        <div class="banner-skyscraper-container container">
            <div class="relative adsbox" data-controller="appNexusHorseShoe">
                <div class="banner-skyscraper-left" aria-hidden="true">
                    <div class="banner-skyscraper-inner">
                        <div id="skyscraperleft_1" data-astbanner-name="skyscraperleft_1">
                        </div>
                    </div>
                </div>
                <div>
                    <div id="topboard" data-astbanner-name="topboard" style="height: 150px;text-align: center;">

                    </div>
                </div>
                <div class="banner-skyscraper-right" aria-hidden="true">
                    <div class="banner-skyscraper-inner">
                        <div id="skyscraperright_1" data-astbanner-name="skyscraperright_1"></div>

                    </div>
                </div>
                <div class="hidden" id="wallpaper" data-astbanner-name="wallpaper"></div>
                <div class="hidden" id="test_1" data-astbanner-name="test_1"></div>
            </div>
        </div>
        <div class="container">
            <div class="page">
                <!-- page content -->


                <div class="line">
                    <div class="unit r-size2of3">

                        <div class="mod shadow">
                            <div class="inner">
                                <div class="bd">
                                    <p>View my source, hæppi days!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="unit r-size1of3">

                        <div class="mod shadow">
                            <div class="inner">
                                <div class="bd">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Get footer from https://github.schibsted.io/finn/finnlet-footer-node-client -->
        <footer>

    </body>
</html>
