<div class="line">
    <div class="mod shadow">
        <div class="inner">
            <div class="bd">
                <p>Width (in percentages) is added with <code>.stars</code> to determine number of stars.</p>
                <hr>



                <details>
                    <summary class="r-margin clickable h3 normal">Small stars</summary>
                    <pre class="prettyprint linenums">
&lt;span class="rating-stars small-stars"&gt;
    &lt;span class="stars" style="width: 50%;"&gt;&lt;/span&gt;
&lt;/span&gt;</pre>
                    </details>

                        <p>
                            <span class="rating-stars small-stars">
                                <span class="stars" style="width: 80%;"></span>
                            </span>
                        </p>
                        <p>
                            <span class="rating-stars small-stars">
                                <span class="stars" style="width: 20%;"></span>
                            </span>
                        </p>
                        <p>
                            <span class="rating-stars small-stars">
                                <span class="stars" style="width: 50%;"></span>
                            </span>
                        </p>

                                        <hr>

                                                        <details>
                    <summary class="r-margin clickable h3 normal">Regular stars</summary>
                    <pre class="prettyprint linenums">
&lt;span class="rating-stars"&gt;
    &lt;span class="stars" style="width: 50%;"&gt;&lt;/span&gt;
&lt;/span&gt;</pre>
                </details>

                        <p>
                        <span class="rating-stars">
                            <span class="stars" style="width: 80%;"></span>
                        </span>
                        </p>
                        <p>
                        <span class="rating-stars">
                            <span class="stars" style="width: 20%;"></span>
                        </span>
                        </p>
                        <p>
                        <span class="rating-stars">
                            <span class="stars" style="width: 50%;"></span>
                        </span>
                        </p>


                <hr>

                <details>
                    <summary class="r-margin clickable h3 normal">Medium stars</summary>
                    <pre class="prettyprint linenums">
&lt;span class="rating-stars medium-stars"&gt;
    &lt;span class="stars" style="width: 50%;"&gt;&lt;/span&gt;
&lt;/span&gt;</pre>
                </details>

                        <p>
                        <span class="rating-stars medium-stars">
                            <span class="stars" style="width: 80%;"></span>
                        </span>
                        </p>
                        <p>
                        <span class="rating-stars medium-stars">
                            <span class="stars" style="width: 20%;"></span>
                        </span>
                        </p>
                        <p>
                        <span class="rating-stars medium-stars">
                            <span class="stars" style="width: 50%;"></span>
                        </span>
                        </p>


                <hr>

                                                        <details>
                    <summary class="r-margin clickable h3 normal">Large stars</summary>
                    <pre class="prettyprint linenums">
&lt;span class="rating-stars large-stars"&gt;
    &lt;span class="stars" style="width: 50%;"&gt;&lt;/span&gt;
&lt;/span&gt;</pre>
                    </details>

                        <p>
                            <span class="rating-stars large-stars">
                                <span class="stars" style="width: 80%;"></span>
                            </span>
                        </p>
                        <p>
                            <span class="rating-stars large-stars">
                                <span class="stars" style="width: 20%;"></span>
                            </span>
                        </p>
                        <p>
                            <span class="rating-stars large-stars">
                                <span class="stars" style="width: 50%;"></span>
                            </span>
                        </p>

                                        <hr>


                <details>
                    <summary class="r-margin clickable h3 normal">Set rating</summary>
                    <pre class="prettyprint linenums">
&lt;span class=&quot;star-rating&quot;&gt;
    &lt;input type=&quot;radio&quot; name=&quot;rating&quot; value=&quot;1&quot; id=&quot;star1&quot;&gt;&lt;label for=&quot;star1&quot;&gt;1 stjerne&lt;/label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;rating&quot; value=&quot;2&quot; id=&quot;star2&quot;&gt;&lt;label for=&quot;star2&quot;&gt;2 stjerner&lt;/label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;rating&quot; value=&quot;3&quot; id=&quot;star3&quot;&gt;&lt;label for=&quot;star3&quot;&gt;3 stjerner&lt;/label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;rating&quot; value=&quot;4&quot; id=&quot;star4&quot;&gt;&lt;label for=&quot;star4&quot;&gt;4 stjerner&lt;/label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;rating&quot; value=&quot;5&quot; id=&quot;star5&quot;&gt;&lt;label for=&quot;star5&quot;&gt;5 stjerner&lt;/label&gt;
&lt;/span&gt;</pre>
                    </details>

                <div class="r-margin">
                    <span class="star-rating">
                        <input type="radio" name="rating" value="1" id="star1"><label for="star1">1 stjerne</label>
                        <input type="radio" name="rating" value="2" id="star2"><label for="star2">2 stjerner</label>
                        <input type="radio" name="rating" value="3" id="star3"><label for="star3">3 stjerner</label>
                        <input type="radio" name="rating" value="4" id="star4"><label for="star4">4 stjerner</label>
                        <input type="radio" name="rating" value="5" id="star5"><label for="star5">5 stjerner</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>