<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <pre><code>{{{example-1}}}</code></pre>
            {{{example-1-plain}}}
            <p>Add <code>.omgnew</code> to stuff to show off awsome new functionality! Tested on header tags but theres no reason why it should not work on other stuff. A tiny bit of inline css might be neccesary for proper placement If you get into trouble placing it on 'innovative' content. <span class="bg-pink phm"> Added in spaden v5.2.0 </span></p>

            <ul>
                <li><a href="">Stuffs</a></li>
                <li><a href="">More Stuffs</a></li>
                <li><a href="">Other Stuffs</a></li>
                <li><a href="">Different Stuffs</a></li>
                <li class="omgnew"><a href="">Some new Stuffs</a></li>
                <li><a href="">Misc Stuffs</a></li>
            </ul>
            <h1 class="omgnew">H1 stuffs</h1>
            <h2 class="omgnew">H2 stuffs</h2>
            <h3 class="omgnew">H3 stuffs</h3>
            <h4 class="omgnew">H4 stuffs</h4>
            <h5 class="omgnew">H5 stuffs</h5>

        </div>
    </div>
</div>
