<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <details>
    <summary class="r-margin clickable h3 normal">Hide content on print</summary>
                                                                <pre class="linenums prettyprint">
&lt;div class="no-print"&gt;
    ...
&lt;/div&gt;</pre>
</details>
<hr>
            <details>
    <summary class="r-margin clickable h3 normal">Show content on print only</summary>
                                                                <pre class="linenums prettyprint">
&lt;div class="print-only"&gt;
    ...
&lt;/div&gt;</pre>
</details>
        </div>
    </div>
</div>

