<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">

            <h5 class="mbn">Hide content on print</h5>
            <pre class="mtn"><code>{{{example-1}}}</code></pre>

            <h5 class="mbn">Show content on print only</h5>
            <pre class="mtn"><code>{{{example-2}}}</code></pre>

        </div>
    </div>
</div>
