@import '../../config/variables.css';

/* Bullet lists */

ul.bullets li, .object-description ul li {
    list-style: none;
    position: relative;
    padding-left: 13px;
}
ul.bullets li:before, .object-description ul li:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0px;
    top: 8px;
    background: var(--blue);
    height: 5px;
    width: 5px;}

ul.horizontal-list li { display: inline; }

.decimals { margin-left:40px; list-style: decimal outside; }
.object-description ol { list-style: decimal outside; }

.separator { border-right: 1px solid var(--neutral); }
/* definition lists */
dt { color: #9BA8AF; }
dl.multicol, dl.dl-liquid { margin: 10px 0px; }
dl.colspan2 { width: 320px; }
dl.colspan4 { width: 650px; }

.multicol dt {
    float: left;
    width: 105px;
    margin: 0 5px 0 10px;
    line-height: 1.5em;
    white-space: nowrap;
}
.multicol.widelabels dt { width: 270px; }
.multicol dd {
    width: auto;
    *overflow: visible;
    *zoom: 1;
    float: none;
    margin: 0 0 0 135px;
    line-height: 1.5em;
    word-wrap: break-word;
}
.multicol dd:after {
    display: block;
    content: '';
    clear: both;
}
dl.compact { }
dl.compact dt {
    width: 50px;
    float: left;
}
dl.compact dd {
    width: 107px;
    padding-left: 50px;
}
.dl-liquid dt {
    width: auto;
    float: left;
}
.dl-liquid dd {
    width: auto;
    *overflow: visible;
    *zoom: 1;
    float: none;
    text-align: right;
}
.dl-liquid dd:after {
    display: block;
    content: '';
    clear: both;
}
.dl-bordered dd, .ul-bordered li  { border-bottom: 1px solid; }
.dl-bordered dd, .dl-bordered dt, .ul-bordered li {
    padding-top: 5px;
    padding-bottom: 3px;
}
.dl-compressed { clear: both; }
.dl-compressed dd, .dl-compressed dt {
    float: left;
    margin: 0;
}
.dl-compressed dt {
    color: var(--neutral);
    clear: both;
    padding-right: 10px;
}
.removelastborder *:last-child { border: none; }

@media not all and (--small-screen) {
    .multicol dt { margin: 0 10px 0 20px; }
}
