<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <p class="red">No longer in use by anyone? Should it be removed/Replaced by something new?</p>
            <pre class="mtn"><code>{{{example-1}}}</code></pre>
            <p>Background color can be changed by using the <a href="core-color.html">color</a> classes.</p>
            <hr>
            <div class="mtl">
                <blockquote class="speech bg-pale pam">
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                </blockquote>
                <div class="speech-byline">
                    Uncle Sam
                    <small class="neutral">17. okt 2010</small>
                </div>
            </div>
            <div class="pal mal bg-opaque">
                <blockquote class="speech bg-blue-xlt pam">
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                </blockquote>
                <div class="speech-byline">
                    Uncle Sam
                    <small class="neutral">17. okt 2010</small>
                </div>
            </div>
        </div>
    </div>
</div>
