.speech-byline { margin-left: 68px; position: relative; z-index: 2; }
.speech { position: relative; border-bottom: 1px solid rgba(0, 0, 0, .2); border-radius:5px; }
.speech:after {
    bottom: -17px;
    content: "";
    left: 21px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 18px solid;
    border-left: 18px solid transparent;
    border-right: 0;
    -webkit-transform: skew(28deg);
    -moz-transform: skew(28deg);
    -ms-transform: skew(28deg);
    -o-transform: skew(28deg);
    transform: skew(28deg);
    z-index: 1;
}

/* Legacy colors */
.speech.bg-lt-gray:after { border-top-color: #eee; }
.speech.bg-black:after { border-top-color: #000; }
.speech.bg-dk-gray:after { border-top-color: #666; }
.speech.bg-pale-gray:after { border-top-color: #f5f5f5; }
.speech.bg-white:after { border-top-color: #fff; }
.speech.bg-dkdk-blue:after { border-top-color: #000066; }
.speech.bg-dk-blue:after { border-top-color: var(--blue); }
.speech.bg-lt-blue:after { border-top-color: #ddeeff; }
.speech.bg-pale-blue:after { border-top-color: #f1f8ff; }
.speech.bg-contrast:after { border-top-color: #444; }
.speech.bg-firm:after { border-top-color: #ff6600; }
.speech.bg-snotgreen:after { border-top-color: #d2e286; }
.speech.bg-pissyellow:after { border-top-color: #ffff99; }

/* New colors */

.speech.bg-blue-dk:after { border-top-color: var(--blue-dk); }
.speech.bg-blue:after { border-top-color: var(--blue); }
.speech.bg-blue-lt:after { border-top-color: var(--blue-lt); }
.speech.bg-blue-ltlt:after { border-top-color: var(--blue-ltlt); }
.speech.bg-blue-xlt:after { border-top-color: var(--blue-xlt); }
.speech.bg-blue-xxlt:after { border-top-color: var(--blue-xxlt); }
.speech.bg-blue-greyish:after { border-top-color: var(--blue-greyish); }

.speech.bg-sharp:after { border-top-color: var(--sharp); }
.speech.bg-opaque:after { border-top-color: var(--opaque); }
.speech.bg-neutral:after { border-top-color: var(--neutral); }
.speech.bg-pale:after { border-top-color: var(--pale); }
.speech.bg-bare:after { border-top-color: var(--bare); }
.speech.bg-bright:after { border-top-color: #FFF; }

.speech.bg-lilac:after { border-top-color: #7863C8; }
.speech.bg-lilac-lt:after { border-top-color: #C9C1E9; }
.speech.bg-lilac-xlt:after { border-top-color: #F1EFF9; }

.speech.bg-purple:after { border-top-color: #8B31E7; }
.speech.bg-purple-lt:after { border-top-color: #D1ADF5; }
.speech.bg-purple-xlt:after { border-top-color: #E8D6FA; }

.speech.bg-candy:after { border-top-color: #FF3BCF; }
.speech.bg-candy-lt:after { border-top-color: #FFB1EC; }
.speech.bg-candy-xlt:after { border-top-color: #FFEBFA; }

.speech.bg-red:after { border-top-color: #E7384A; }
.speech.bg-negative:after { border-top-color: #E7384A; }
.speech.bg-red-lt:after { border-top-color: #EE7380; }
.speech.bg-red-xlt:after { border-top-color: #FBE3E6; }

.speech.bg-lemon:after { border-top-color: #FBDD25; }
.speech.bg-lemon-lt:after { border-top-color: #FDF1A8; }
.speech.bg-lemon-xlt:after { border-top-color: #FEF8E4; }

.speech.bg-rust:after { border-top-color: #E78007; }
.speech.bg-rust-lt:after { border-top-color: #FE8D08; }
.speech.bg-rust-xlt:after { border-top-color: #FEEFD2; }

.speech.bg-lime:after { border-top-color: #CAD522; }
.speech.bg-lime-lt:after { border-top-color: #EEF1B6; }
.speech.bg-lime-xlt:after { border-top-color: #F6F8DA; }

.speech.green:after { border-top-color: #3B7908; }
.speech.bg-positive:after { border-top-color: #3B7908; }
.speech.green-lt:after { border-top-color: #7BB02D; }
.speech.green-xlt:after { border-top-color: #E4EFD4; }
