<div class="line">
    <div class="mod shadow">
        <div class="inner">
            <div class="bd">
                <details>
                    <summary class="r-margin clickable h3 normal">Speech bubbles</summary>
<pre class="prettyprint linenums">
&lt;div&gt;
    &lt;blockquote class="pam speech bg-pale"&gt;
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    &lt;/blockquote&gt;
    &lt;div class="speech-byline"&gt;
        Uncle Sam
        &lt;small class="neutral"&gt;17. okt 2010&lt;/small&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
                </details>
                <p>Background color can be changed by using the <a href="#colors">color</a> classes.</p>
                <hr>
                <div class="mtl">
                    <blockquote class="speech bg-pale pam">
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    </blockquote>
                    <div class="speech-byline">
                        Uncle Sam
                        <small class="neutral">17. okt 2010</small>
                    </div>
                </div>
                <div class="pal mal bg-opaque">
                    <blockquote class="speech bg-blue-xlt pam">
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    </blockquote>
                    <div class="speech-byline">
                        Uncle Sam
                        <small class="neutral">17. okt 2010</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>