.speech-byline { margin-left: 68px; position: relative; z-index: 2; }
.speech { position: relative; border-bottom: 1px solid rgba(0, 0, 0, .2); border-radius:5px; }
.speech:after {
    bottom: -17px;
    content: "";
    left: 21px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 18px solid;
    border-left: 18px solid transparent;
    border-right: 0;
    -webkit-transform: skew(28deg);
    -moz-transform: skew(28deg);
    -ms-transform: skew(28deg);
    -o-transform: skew(28deg);
    transform: skew(28deg);
    z-index: 1;
}

/* Legacy colors */
.speech.bg-lt-gray:after { border-top-color: #eee; }
.speech.bg-black:after { border-top-color: #000; }
.speech.bg-dk-gray:after { border-top-color: #666; }
.speech.bg-pale-gray:after { border-top-color: #f5f5f5; }
.speech.bg-white:after { border-top-color: #fff; }
.speech.bg-dkdk-blue:after { border-top-color: #000066; }
.speech.bg-dk-blue:after { border-top-color: var(--blue); }
.speech.bg-lt-blue:after { border-top-color: #ddeeff; }
.speech.bg-pale-blue:after { border-top-color: #f1f8ff; }
.speech.bg-contrast:after { border-top-color: #444; }
.speech.bg-firm:after { border-top-color: #ff6600; }
.speech.bg-snotgreen:after { border-top-color: #d2e286; }
.speech.bg-pissyellow:after { border-top-color: #ffff99; }

/* New colors */

.speech.bg-blue-dk:after { border-top-color: var(--blue-dk); }
.speech.bg-blue:after { border-top-color: var(--blue); }
.speech.bg-blue-lt:after { border-top-color: var(--blue-lt); }
.speech.bg-blue-ltlt:after { border-top-color: var(--blue-ltlt); }
.speech.bg-blue-xlt:after { border-top-color: var(--blue-xlt); }
.speech.bg-blue-xxlt:after { border-top-color: var(--blue-xxlt); }
.speech.bg-blue-greyish:after { border-top-color: var(--blue-greyish); }

.speech.bg-sharp:after { border-top-color: var(--sharp); }
.speech.bg-opaque:after { border-top-color: var(--opaque); }
.speech.bg-neutral:after { border-top-color: var(--neutral); }
.speech.bg-pale:after { border-top-color: var(--pale); }
.speech.bg-bare:after { border-top-color: var(--bare); }
.speech.bg-bright:after { border-top-color: #FFF; }

.speech.bg-lilac:after { border-top-color: var(--lilac); }
.speech.bg-lilac-lt:after { border-top-color: var(--lilac-lt); }
.speech.bg-lilac-xlt:after { border-top-color: var(--lilac-xlt); }

.speech.bg-purple:after { border-top-color: var(--purple); }
.speech.bg-purple-lt:after { border-top-color: var(--purple-lt); }
.speech.bg-purple-xlt:after { border-top-color: var(--purple-xlt); }

.speech.bg-candy:after { border-top-color: var(--candy); }
.speech.bg-candy-lt:after { border-top-color: var(--candy-lt); }
.speech.bg-candy-xlt:after { border-top-color: var(--candy-xlt); }

.speech.bg-red:after { border-top-color: var(--red); }
.speech.bg-negative:after { border-top-color: var(--red); }
.speech.bg-red-lt:after { border-top-color: var(--red-lt); }
.speech.bg-red-xlt:after { border-top-color: var(--red-xlt); }

.speech.bg-lemon:after { border-top-color: var(--lemon); }
.speech.bg-lemon-lt:after { border-top-color: var(--lemon-lt); }
.speech.bg-lemon-xlt:after { border-top-color: var(--lemon-xlt); }

.speech.bg-rust:after { border-top-color: var(--rust); }
.speech.bg-rust-lt:after { border-top-color: var(--rust-lt); }
.speech.bg-rust-xlt:after { border-top-color: var(--rust-xlt); }

.speech.bg-lime:after { border-top-color: var(--lime); }
.speech.bg-lime-lt:after { border-top-color: var(--lime-lt); }
.speech.bg-lime-xlt:after { border-top-color: var(--lime-xlt); }

.speech.green:after { border-top-color: var(--green); }
.speech.bg-positive:after { border-top-color: var(--green); }
.speech.green-lt:after { border-top-color: var(--green-lt); }
.speech.green-xlt:after { border-top-color: var(--green-xlt); }
