
<div class="container">
	<div class="page">

		<div class="mod green-skin">
			<div class="inner">
				<div class="bd">
					<p>Experimental example</p>
				</div>
			</div>
		</div>

		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<h2>Toolbar examples</h2>
					<p>Verticaly centering elements of different heights and aligning them to the left/right/center</p>
				</div>
			</div>
		</div>

		<code>.flex .align-items-center</code>
		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<div class="r-margin flex align-items-center">
						<a href="#"><h1 class="mvn mln">H1</h1></a>
						<h3 class="mvn mln">H3</h3>
						<button class="r-mrm">F1</button>
						<a href="#">Link</a>
					</div>
				</div>
			</div>
		</div>

		<code>.margin-left-auto</code>
		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<div class="r-margin flex align-items-center">
						<button class="margin-left-auto">Button</button>
					</div>
				</div>
			</div>
		</div>

		<code>.margin-horizontal-auto</code>
		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<div class="r-margin flex align-items-center">
						<button class="margin-horizontal-auto">Button</button>
					</div>
				</div>
			</div>
		</div>

		<code>.margin-right-auto</code>
		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<div class="r-margin flex align-items-center">
						<button class="margin-right-auto">Button</button>
					</div>
				</div>
			</div>
		</div>

		Horizontal centering (C) and putting stuff to the right (D) with <code>.margin-horizontal-auto</code>
		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<div class="r-margin flex align-items-center">
						<button class="r-mrm">Button A</button>
						<button class="r-mrm">Button B</button>
						<button class="margin-horizontal-auto">Button C</button>
						<button class="">Button D</button>
					</div>
				</div>
			</div>
		</div>

		Horizontal centering (C) and putting stuff to the right (D) with 2x <code>.margin-left-auto</code> (Useful in certain cases, like if some of the buttons arent always there(?))
		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<div class="r-margin flex align-items-center">
						<button class="r-mrm">Button A</button>
						<button class="r-mrm">Button B</button>
						<button class="margin-left-auto">Button C</button>
						<button class="margin-left-auto">Button D</button>
					</div>
				</div>
			</div>
		</div>

		<code>.flex .align-items-center</code>
		<div class="mod shadow">
			<div class="inner pvn">
				<div class="bd">
					<div class="r-margin flex align-items-center">
						<a href="#"><h1 class="mvn mln">H1</h1></a>
						<h3 class="mvn mln">H3</h3>
						<button class="r-mrm">F1</button>
						<a href="#">Link</a>
						<div class="margin-horizontal-auto bg-blue bright pal">Random element that has some height for illustrating<br> that stuff is really vertically 'centered'</div>
						<input class="inlineblock" style="width:200px" type="search"></input>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
