<div class="company-logo-container">
    <img class="centered-element pvl company-logo" src="http://i.imgur.com/Xl11XPO.png">
</div>
<h2 class="centerify">Firma AS</h2>
<dl class="dl-liquid dl-bordered border-pale removelastborder">
    <dt>Kontaktperson</dt>
    <dd>Bent Snorre Ljugebakken</dd>
    <dt>Faks</dt>
    <dd>24 35 46 57</dd>
    <dt>Telefon</dt>
    <dd><a href="tel:22334455">22 33 44 55</a></dd>
    <dt>Mobil</dt>
    <dd><a href="#" class="togglephonenumber">Vis telefonnummer</a></dd>
    <dd><a href="#">Send SMS</a></dd>
</dl>
<div class="togglephone hidden">
    <p>For sikkerhets skyld. Skriv inn mobilnummeret ditt, så sender vi deg en kode. Dette er selvfølgelig gratis.</p>
    <div class="line r-margin">
        <div class="unit size3of4 prm">
            <input type="text" placeholder="Mobilnummer">
        </div>
        <div class="unit size1of4">
            <button class="fullwidth">Send</button>
        </div>
    </div>
    <p class="mbl d2">
        <a href="https://hjelpesenter.finn.no/hc/no/articles/305314-Kjenn-igjen-svindelfors%C3%B8k-p%C3%A5-SMS">
            Hvorfor ber vi deg om dette?
        </a>
    </p>
</div>
<div class="r-margin">
    <button class="fullwidth primary">Ta kontakt</button>
</div>
<ul>
    <li><a href="#">Diverse</a></li>
    <li><a href="#">Statiske</a></li>
    <li><a href="#">Linker</a></li>
</ul>
