<div class="bd profilebg" style="background-image: url(http://i.imgur.com/4aoGGQX.jpg);">
    <div class="line r-margin">
        <div class="unit r-size1of5">
            <div class="profileimg centerify-lt768">
                <img class="r-mtm" src="http://i.imgur.com/Xl11XPO.png">
            </div>
        </div>
        <div class="unit profiletxt r-size4of5 centerify-lt768">
            <h1>Buzzword AS</h1>
            <p class="largetext">Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
        </div>
    </div>

    <div class="keyinfo">
        <div class="mvn">
            <div class="line">
                <div class="unit r-size5of6 r-mtl">
                    <div class="r-mhl">
                        <!--<div class="display-table r-pts">
                            <div class="display-cell">
                                <span class="t4"><a href="#">Del profilen</a></span>
                            </div>
                            <div class="display-cell rightify">
                                <span class="t4">69 følgere</span>
                            </div>
                        </div>-->
                        <div class="display-table r-pts">
                            <div class="display-cell rightify centerify-lt768">
                                <span class="t4">69 følgere</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="unit r-size1of6 r-mvl">
                    <div class="r-mhl">
                        <button class="primary fullwidth">+ Følg</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
