<div class="unit r-size1of3 centerify">
    <div class="h3 mbm">Medium</div>
    <div class="profile-medium">
        <div class="profileimg relative">
            <img class="rounded-border" src="dist/img/dummies/shovelface.jpg">
            <a class="verified"
                title="Brukeren er verifisert" href="#"></a>
        </div>
    </div>
</div>
<div class="unit r-size1of3 centerify">
    <div class="h3 mbm">Small</div>
    <div class="profile-small">
        <div class="profileimg relative">
            <img class="rounded-border" src="dist/img/dummies/shovelface.jpg">
            <a class="verified"
                title="Brukeren er verifisert" href="#"></a>
        </div>
    </div>
</div>
<div class="unit r-size1of3 centerify">
    <div class="h3 mbm">X-Small</div>
    <div class="profile-xsmall">
        <div class="profileimg relative">
            <img class="rounded-border" src="dist/img/dummies/shovelface.jpg">
            <a class="verified"
                title="Brukeren er verifisert" href="#"></a>
        </div>
    </div>
</div>
