<div class="bd profilebg profilebg-blue">
    <div class="line r-margin">
        <div class="unit r-size1of6">
            <div class="profileimg centerify">
                <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
            </div>
        </div>
        <div class="unit profiletxt r-size5of6 centerify-lt768">
            <h1 class="verified">Gjærmund Emanuelle Spøttabotten</h1>
            <p class="largetext"><!--Hei jeg heter Gjærmund og hjertelig velkommen til min internett-profil. Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.-->Har vært på FINN i 5 år.</p>
        </div>
    </div>
</div>
<div class="bd">
    <div class="line r-margin">
            <div class="unit r-size1of6">
            <div class="centerify r-mtm ratings">
                <span class="rating-stars medium-stars">
                    <span class="stars" style="width: 80%;"></span>
                </span>
                <p class="centerify d2 mts"><a href="#">18 vurderinger</a></p>
            </div>
        </div>
        <div class="unit r-size2of3">
            <div class="line r-cols3to7 mbn centerify opaque">
                <div class="unit r-mbl">
                    <div class="t2">19</div>
                    <div class="d2">Måneder på<br aria-hidden="true"> småjobber</div>
                </div>
                <div class="unit r-mbl">
                    <div class="t2">0</div>
                    <div class="d2">Småjobber<br aria-hidden="true"> vunnet</div>
                </div>
                <div class="unit r-mbl">
                    <div class="t2">3</div>
                    <div class="d2">Småjobber<br aria-hidden="true"> lagt ut</div>
                </div>
                <div class="unit r-mbl">
                    <div class="t2">63</div>
                    <div class="d2">Salg på<br aria-hidden="true"> Torget</div>
                </div>
                <div class="unit r-mbl">
                    <div class="t2">14</div>
                    <div class="d2">Kjøp på<br aria-hidden="true"> Torget</div>
                </div>
                <div class="unit r-mbl">
                    <div class="t2">97</div>
                    <div class="d2">Følgere på<br aria-hidden="true"> FINN</div>
                </div>
                <div class="unit r-mbl">
                    <div class="t2">8</div>
                    <div class="d2">År på<br aria-hidden="true"> FINN</div>
                </div>
            </div>
        </div>
        <div class="unit r-size1of6 rightify">
            <button class="primary r-mvm">+ Følg</button>
        </div>
    </div>
</div>
