<h2>Backgrounds</h2>

<ul class="horizontal-list">
    <li>
        <a href="#" class="set-profile" id="profilebg-blue">
            <img src="/img/profiles/profile-bg-blue.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-green">
            <img src="/img/profiles/profile-bg-green.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-greendk">
            <img src="/img/profiles/profile-bg-greendk.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-indigo">
            <img src="/img/profiles/profile-bg-indigo.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-orange">
            <img src="/img/profiles/profile-bg-orange.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-peach">
            <img src="/img/profiles/profile-bg-peach.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-pink">
            <img src="/img/profiles/profile-bg-pink.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
    <li>
        <a href="#" class="set-profile" id="profilebg-purple">
            <img src="/img/profiles/profile-bg-purple.jpg" class="rounded-border" width="50" height="50">
        </a>
    </li>
</ul>

<div class="mod shadow mtl">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Large profile</summary>
                <pre class="prettyprint linenums">
                </pre>
            </details>
        </div>
    </div>
</div>

<div class="mod shadow mbl profile profile-large">
    <div class="inner pvn">
        <div class="bd profilebg profilebg-blue">
            <div class="line r-margin">
                <div class="unit r-size1of6">
                    <div class="profileimg centerify">
                        <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
                    </div>
                </div>
                <div class="unit profiletxt r-size5of6 centerify-lt768">
                    <h1 class="verified">Gjærmund Emanuelle Spøttabotten</h1>
                    <p class="largetext"><!--Hei jeg heter Gjærmund og hjertelig velkommen til min internett-profil. Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.-->Har vært på FINN i 5 år.</p>
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="line r-margin">
                 <div class="unit r-size1of6">
                    <div class="centerify r-mtm ratings">
                        <span class="rating-stars medium-stars">
                            <span class="stars" style="width: 80%;"></span>
                        </span>
                        <p class="centerify d2 mts"><a href="#">18 vurderinger</a></p>
                    </div>
                </div>
                <div class="unit r-size2of3">
                    <div class="line r-cols3to7 mbn centerify opaque">
                        <div class="unit r-mbl">
                            <div class="t2">19</div>
                            <div class="d2">Måneder på<br aria-hidden="true"> småjobber</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">0</div>
                            <div class="d2">Småjobber<br aria-hidden="true"> vunnet</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">3</div>
                            <div class="d2">Småjobber<br aria-hidden="true"> lagt ut</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">63</div>
                            <div class="d2">Salg på<br aria-hidden="true"> Torget</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">14</div>
                            <div class="d2">Kjøp på<br aria-hidden="true"> Torget</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">97</div>
                            <div class="d2">Følgere på<br aria-hidden="true"> FINN</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">8</div>
                            <div class="d2">År på<br aria-hidden="true"> FINN</div>
                        </div>
                    </div>
                </div>
                <div class="unit r-size1of6 rightify">
                    <button class="primary r-mvm">+ Følg</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Medium profile</summary>
                <pre class="prettyprint linenums">
                </pre>
            </details>
        </div>
    </div>
</div>

<div class="line">
    <div class="unit r-size1of3">
        <div class="mod shadow mbl profile profile-medium">
            <div class="inner pvn">
                <div class="bd profilebg profilebg-green">
                    <div class="centerify r-margin profileimg">
                        <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
                    </div>
                    <div class="profiletxt r-mbl">
                        <h2 class="centerify verified"><a href="#">Skrotfinn Johansen</a></h2>
                        <p class="centerify">Har vært på FINN i 8 år.</p>
                    </div>
                </div>
                <div class="bd">
                    <div class="centerify r-margin r-mtl">
                        <span class="rating-stars">
                            <span class="stars" style="width: 80%;"></span>
                        </span>
                        <p class="centerify d2 mtn"><a href="#">18 vurderinger</a></p>
                    </div>

                    <div class="mtl">
                        <dl class="dl-liquid dl-bordered border-pale removelastborder">
                            <dt>Faks</dt>
                            <dd>24 35 46 57</dd>
                            <dt>Telefon</dt>
                            <dd><a href="tel:22334455">22 33 44 55</a></dd>
                            <dt>Mobil</dt>
                            <dd><a href="#" class="togglephonenumber">Vis telefonnummer</a></dd>
                            <dd><a href="#">Send SMS</a></dd>
                        </dl>

                        <div class="togglephone hidden">
                            <p>For sikkerhets skyld. Skriv inn mobilnummeret ditt, så sender vi deg en kode. Dette er selvfølgelig gratis.</p>
                            <div class="line r-margin">
                                <div class="unit size3of4 prm">
                                    <input type="text" placeholder="Mobilnummer">
                                </div>
                                <div class="unit size1of4">
                                    <button class="fullwidth">Send</button>
                                </div>
                            </div>
                            <p class="mbl d2">
                                <a href="https://hjelpesenter.finn.no/hc/no/articles/305314-Kjenn-igjen-svindelfors%C3%B8k-p%C3%A5-SMS">
                                    Hvorfor ber vi deg om dette?
                                </a>
                            </p>
                        </div>

                        <div class="r-margin">
                            <button class="primary fullwidth">Send melding</button>
                        </div>

                        <div class="r-margin">
                            <a class="button fullwidth order" href="#">Gi bud</a>
                        </div>

                        <ul>
                            <li><a href="#">Diverse</a></li>
                            <li><a href="#">Statiske</a></li>
                            <li><a href="#">Linker</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Small profile</summary>
                <pre class="prettyprint linenums">
                </pre>
            </details>
        </div>
    </div>
</div>

<div class="line">
    <div class="unit r-size1of3">
        <div class="mod shadow mbl profile profile-small">
            <div class="inner pvn">
                <div class="bd">
                    <div class="centerify r-margin profileimg">
                        <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
                    </div>
                    <div class="profiletxt">
                        <h2 class="centerify verified"><a href="#">Bent Snorre Ljugebakken</a></h2>
                        <p class="centerify">Har vært på FINN i 8 år.</p>
                    </div>
                </div>
                <div class="bd">
                    <div class="centerify r-margin">
                        <span class="rating-stars">
                            <span class="stars" style="width: 80%;"></span>
                        </span>
                        <p class="centerify d2 mtn"><a href="#">18 vurderinger</a></p>
                    </div>

                    <div class="mtl">
                        <dl class="dl-liquid dl-bordered border-pale removelastborder">
                            <dt>Faks</dt>
                            <dd>24 35 46 57</dd>
                            <dt>Telefon</dt>
                            <dd><a href="tel:22334455">22 33 44 55</a></dd>
                            <dt>Mobil</dt>
                            <dd><a href="#" class="togglephonenumber">Vis telefonnummer</a></dd>
                            <dd><a href="#">Send SMS</a></dd>
                        </dl>

                        <div class="togglephone hidden">
                            <p>For sikkerhets skyld. Skriv inn mobilnummeret ditt, så sender vi deg en kode. Dette er selvfølgelig gratis.</p>
                            <div class="line r-margin">
                                <div class="unit size3of4 prm">
                                    <input type="text" placeholder="Mobilnummer">
                                </div>
                                <div class="unit size1of4">
                                    <button class="fullwidth">Send</button>
                                </div>
                            </div>
                            <p class="mbl d2">
                                <a href="https://hjelpesenter.finn.no/hc/no/articles/305314-Kjenn-igjen-svindelfors%C3%B8k-p%C3%A5-SMS">
                                    Hvorfor ber vi deg om dette?
                                </a>
                            </p>
                        </div>

                        <div class="r-margin">
                            <button class="primary fullwidth">Send melding</button>
                        </div>

                        <div class="r-margin">
                            <a class="button fullwidth order">Gi bud</a>
                        </div>

                        <ul>
                            <li><a href="#">Diverse</a></li>
                            <li><a href="#">Statiske</a></li>
                            <li><a href="#">Linker</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Verified profile images</summary>
                <pre class="prettyprint linenums">
&lt;div class="profile-medium"&gt;
    &lt;div class="profileimg relative"&gt;
        &lt;img class="rounded-border" src="http://i.imgur.com/ktHTmYw.jpg"&gt;
        &lt;a class="verified"
              title="Brukeren er verifisert" href="#"&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

...

&lt;div class="profile-small"&gt;
    &lt;div class="profileimg relative"&gt;
        &lt;img class="rounded-border" src="http://i.imgur.com/ktHTmYw.jpg"&gt;
        &lt;a class="verified"
              title="Brukeren er verifisert" href="#"&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

...

&lt;div class="profile-xsmall"&gt;
    &lt;div class="profileimg relative"&gt;
        &lt;img class="rounded-border" src="http://i.imgur.com/ktHTmYw.jpg"&gt;
        &lt;a class="verified"
              title="Brukeren er verifisert" href="#"&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </pre>
            </details>
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <div class="line r-margin">
                <div class="unit r-size1of3 centerify">
                    <div class="h3 mbm">Medium</div>
                    <div class="profile-medium">
                        <div class="profileimg relative">
                            <img class="rounded-border" src="http://i.imgur.com/ktHTmYw.jpg">
                            <a class="verified"
                               title="Brukeren er verifisert" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="unit r-size1of3 centerify">
                    <div class="h3 mbm">Small</div>
                    <div class="profile-small">
                        <div class="profileimg relative">
                            <img class="rounded-border" src="http://i.imgur.com/ktHTmYw.jpg">
                            <a class="verified"
                               title="Brukeren er verifisert" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="unit r-size1of3 centerify">
                    <div class="h3 mbm">X-Small</div>
                    <div class="profile-xsmall">
                        <div class="profileimg relative">
                            <img class="rounded-border" src="http://i.imgur.com/ktHTmYw.jpg">
                            <a class="verified"
                               title="Brukeren er verifisert" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Company profile</summary>
                <pre class="prettyprint linenums">
                </pre>
            </details>
        </div>
    </div>
</div>

<div class="line">
    <div class="unit r-size1of3">
        <div class="mod shadow">
            <div class="inner">
                <div class="bd">
                    <div class="company-logo-container">
                        <img class="centered-element pvl company-logo" src="http://i.imgur.com/Xl11XPO.png">
                    </div>
                    <h2 class="centerify">Firma AS</h2>
                    <dl class="dl-liquid dl-bordered border-pale removelastborder">
                        <dt>Kontaktperson</dt>
                        <dd>Bent Snorre Ljugebakken</dd>
                        <dt>Faks</dt>
                        <dd>24 35 46 57</dd>
                        <dt>Telefon</dt>
                        <dd><a href="tel:22334455">22 33 44 55</a></dd>
                        <dt>Mobil</dt>
                        <dd><a href="#" class="togglephonenumber">Vis telefonnummer</a></dd>
                        <dd><a href="#">Send SMS</a></dd>
                    </dl>
                    <div class="togglephone hidden">
                        <p>For sikkerhets skyld. Skriv inn mobilnummeret ditt, så sender vi deg en kode. Dette er selvfølgelig gratis.</p>
                        <div class="line r-margin">
                            <div class="unit size3of4 prm">
                                <input type="text" placeholder="Mobilnummer">
                            </div>
                            <div class="unit size1of4">
                                <button class="fullwidth">Send</button>
                            </div>
                        </div>
                        <p class="mbl d2">
                            <a href="https://hjelpesenter.finn.no/hc/no/articles/305314-Kjenn-igjen-svindelfors%C3%B8k-p%C3%A5-SMS">
                                Hvorfor ber vi deg om dette?
                            </a>
                        </p>
                    </div>
                    <div class="r-margin">
                        <button class="fullwidth primary">Ta kontakt</button>
                    </div>
                    <ul>
                        <li><a href="#">Diverse</a></li>
                        <li><a href="#">Statiske</a></li>
                        <li><a href="#">Linker</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mod shadow mtl">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Company profile header</summary>
                <pre class="prettyprint linenums">
                </pre>
            </details>
            <!--<p>When viewing your own profile, replace Follow button with Edit button</p>-->
        </div>
    </div>
</div>

<div class="mod shadow mbl profile companyprofile">
    <div class="inner pvn">
        <div class="bd profilebg" style="background-image: url(http://i.imgur.com/4aoGGQX.jpg);">
            <div class="line r-margin">
                <div class="unit r-size1of5">
                    <div class="profileimg centerify-lt768">
                        <img class="r-mtm" src="http://i.imgur.com/Xl11XPO.png">
                    </div>
                </div>
                <div class="unit profiletxt r-size4of5 centerify-lt768">
                    <h1>Buzzword AS</h1>
                    <p class="largetext">Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
                </div>
            </div>

            <div class="keyinfo">
                <div class="mvn">
                    <div class="line">
                        <div class="unit r-size5of6 r-mtl">
                            <div class="r-mhl">
                                <!--<div class="display-table r-pts">
                                    <div class="display-cell">
                                        <span class="t4"><a href="#">Del profilen</a></span>
                                    </div>
                                    <div class="display-cell rightify">
                                        <span class="t4">69 følgere</span>
                                    </div>
                                </div>-->
                                <div class="display-table r-pts">
                                    <div class="display-cell rightify centerify-lt768">
                                        <span class="t4">69 følgere</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="unit r-size1of6 r-mvl">
                            <div class="r-mhl">
                                <button class="primary fullwidth">+ Følg</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
