 <div class="mod shadow mbl profile profile-small">
    <div class="inner pvn">
        <div class="bd">
            <div class="centerify r-margin profileimg">
                <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
            </div>
            <div class="profiletxt">
                <h2 class="centerify verified"><a href="#">Bent Snorre Ljugebakken</a></h2>
                <p class="centerify">Har vært på FINN i 8 år.</p>
            </div>
        </div>
        <div class="bd">
            <div class="centerify r-margin">
                <span class="rating-stars">
                    <span class="stars" style="width: 80%;"></span>
                </span>
                <p class="centerify d2 mtn"><a href="#">18 vurderinger</a></p>
            </div>

            <div class="mtl">
                <dl class="dl-liquid dl-bordered border-pale removelastborder">
                    <dt>Faks</dt>
                    <dd>24 35 46 57</dd>
                    <dt>Telefon</dt>
                    <dd><a href="tel:22334455">22 33 44 55</a></dd>
                    <dt>Mobil</dt>
                    <dd><a href="#" class="togglephonenumber">Vis telefonnummer</a></dd>
                    <dd><a href="#">Send SMS</a></dd>
                </dl>

                <div class="togglephone hidden">
                    <p>For sikkerhets skyld. Skriv inn mobilnummeret ditt, så sender vi deg en kode. Dette er selvfølgelig gratis.</p>
                    <div class="line r-margin">
                        <div class="unit size3of4 prm">
                            <input type="text" placeholder="Mobilnummer">
                        </div>
                        <div class="unit size1of4">
                            <button class="fullwidth">Send</button>
                        </div>
                    </div>
                    <p class="mbl d2">
                        <a href="https://hjelpesenter.finn.no/hc/no/articles/305314-Kjenn-igjen-svindelfors%C3%B8k-p%C3%A5-SMS">
                            Hvorfor ber vi deg om dette?
                        </a>
                    </p>
                </div>

                <div class="r-margin">
                    <button class="primary fullwidth">Send melding</button>
                </div>

                <div class="r-margin">
                    <a class="button fullwidth order">Gi bud</a>
                </div>

                <ul>
                    <li><a href="#">Diverse</a></li>
                    <li><a href="#">Statiske</a></li>
                    <li><a href="#">Linker</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
