<div class="container outlines">
	<div class="page mtl">

		<div class="mod">
			<div class="inner">
				<div class="bd">
					<h1>Beliggenhet</h1>
					<p>Enebolig trolig på stein, fjell og jordmasser i grunnen. Grunnmur i leca som er utvendig pusset og malt. Innvendig utforet og kledd på flere rom. Diverse rom med malt murpuss og diverse rom med tapet på murpuss. Innvendig støpt betonggulv i underetasjen. Utvendig drensplast på utside av mur under terreng er stedvis synlig. Yttervegger i isolert bindingsverk. Antatt isolert etter byggeårets byggeskikk. Utvendig kledd med stående tømmerpanel og teglstein. Valmet yttertak i trekonstruksjon. Kaldtloft med tilgang via takluke i trappegang i 1. etasje. Isolert i flat himling med ca 15 cm glava isolasjon (sydde matter). Taktro (bordtak som undertak). Tekket med betongstein. Etasjeskille i trebjelkelag.</p>
				</div>
			</div>
		</div>



		<div class="line cols3upto990 cols6from990">
			<div class="unit">
				<div class="mod">
					<div class="inner">
						<div class="bd"><p>Unit 1 qLjg</p></div>
					</div>
				</div>
			</div>
			<div class="unit">
				<div class="mod">
					<div class="inner">
						<div class="bd"><p>Unit 2 qLjg</p></div>
					</div>
				</div>
			</div>
			<div class="unit">
				<div class="mod">
					<div class="inner">
						<div class="bd"><p>Unit 3 qLjg</p></div>
					</div>
				</div>
			</div>
			<div class="unit">
				<div class="mod">
					<div class="inner green-skin">
						<div class="bd"><p>Unit 4 qLjg</p></div>
					</div>
				</div>
			</div>
			<div class="unit">
				<div class="mod">
					<div class="inner">
						<div class="bd"><p>Unit 5 qLjg</p></div>
					</div>
				</div>
			</div>
			<div class="unit">
				<div class="mod">
					<div class="inner">
						<div class="bd"><p>Unit 6 qLjg</p></div>
					</div>
				</div>
			</div>
		
		</div>	


		<div class="line">
			<div class="unit r-size1of3">
				<div class="mod">
					<div class="inner">
						<div class="bd"><p>Unit 7 qLjg</p></div>
					</div>
				</div>
			</div>
			<div class="unit r-size2of3">
				<div class="mod">
					<div class="inner">
						<div class="bd"><p>Unit 8 qLjg</p></div>
					</div>
				</div>
			</div>

		</div>	

		<div class="mod">
			<div class="inner">
				<div class="bd">
					<h1>En H1 tittel  qLjg</h1>
					<p>B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql</p>
					<h2>En H2 tittel  qLjg</h2>
					<p>B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql</p>
					<h3>En H3 tittel  qLjg</h3>
					<p>B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql</p>
					<h4>En H4 tittel  qLjg</h4>
					<p>B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql</p>
					<h5>En H5 tittel  qLjg</h5>
					<p>B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql</p>
				</div>
				<div class="bd">
					<span class="bg-blue b1 mbl">B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql B1 sizetest ql </span>
				</div>
			</div>
		</div>



	</div>
</div>