<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <pre><code>{{{example-1}}}</code></pre>
            <p>{{{example-1-plain}}}</p>
            <p class="opaque">Usage: Display brief additional information (definitions, short explanations, etc) on hover. May contain text only.</p>
        </div>
    </div>
</div>
