<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Tooltip</summary>
                <pre class="prettyprint linenums">&lt;p&gt;
    heisann &lt;span class=&quot;tooltip&quot; data-tooltip=&quot;Vis innholdet i &#39;data-tooltip&#39;-attributtet som en tooltip&quot;&gt;hoppsann&lt;/span&gt; heisann
&lt;/p&gt;</pre>
            </details>
            <p class="opaque">Usage: Display brief additional information (definitions, short explanations, etc) on hover. May contain text only.</p>

            <div>
                <p>
                    heisann <span class="tooltip" data-tooltip="Vis innholdet i 'data-tooltip'-attributtet som en tooltip">hoppsann</span> heisann
                </p>
                <h1>
                    heisann <span class="tooltip" data-tooltip="Vis innholdet i 'data-tooltip'-attributtet som en tooltip">hoppsann</span> heisann
                </h1>
            </div>
            <hr>
        </div>
    </div>
</div>
