.tooltip {
    position: relative;
    border-bottom: 1px dashed #9BA8B1;
    z-index: 0;
}
.tooltip[data-tooltip]:hover:before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 25px;
    left: 0;
    background: #4f6676;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    width: 15em;
    z-index: 2;
}
.tooltip[data-tooltip]:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 15px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid #4f6676;
    z-index: 1;
}