<div class="container pbs">
<div class="page">

    <div class="mod green-skin">
    	<div class="inner">
    		<div class="bd">
    			<p>Experimental example</p>
    		</div>
    	</div>
    </div>
    <div data-controller="quickLink" data-quicklink-default="/">
        <div data-quicklink="/" style="display: block">

            <div class="line overflowify">
                <div class="unit r-size2of3">

                    <div class="mod">
                        <div class="inner">
                            <div style="display: inline-block; width: 100%;">
                                <div class="r-margin">
                                    <form action="/globalsearchlander.html" role="search" data-controller="searchFrontSuggest " data-extra-sources="" data-is-dropdown="" data-where="FRONTPAGE" data-beta="BETA">
                                        <input type="hidden" name="searchKeys" value="">
                                        <input id="search" type="search" name="q" class="pam" placeholder="Søk etter fotograf eller frisør" aria-label="Søk" autocomplete="off" autocapitalize="off" autofocus="" role="combobox" aria-autocomplete="list" aria-expanded="false">
                                        <div data-dropdown-insertion=""></div>
                                        <div data-fullscreen-search-focus="" tabindex="-1"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav class="line r-cols3to4 market-selector  mbm" aria-label="Markeder">
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow" href="/realestate/browse.html" id="first-market-link">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-realestate"></use></svg>
                                        <span class="t4 truncate blockify opaque market-title">Eiendom</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow" href="/car/browse.html">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-car"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Bil</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon" href="/bap/browse.html">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-bap"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Torget</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon" href="/job/browse.html">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-job"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Jobb</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon" href="/mc/browse.html">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-mc"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">MC</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon" href="/boat/browse.html">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-boat"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Båt</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon relative" rel="external" href="http://www.finn.no/smajobber/">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-smajobber"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Småjobber</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon relative" rel="external" href="//www.finn.no/reise/">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-reise"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Reise</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon relative" rel="external" href="http://www.finn.no/oppdrag/">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-oppdrag"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Oppdrag</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon relative" href="/b2b/browse.html">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-b2b"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Nyttekjøretøy</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon relative" rel="external" href="http://kart.finn.no/">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-kart"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Kart</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="unit" data-automation-id="submarket">
                            <a class="mod linkblock shadow market-icon relative" rel="external" href="https://www.moteplassen.com/finn-kjaerligheten-med-mobilen-pa-moteplassen-na?userid=r&amp;utm_campaign=moteplassen-tf&amp;utm_medium=tf&amp;utm_source=finn-tf&amp;utm_content=mobil-hjulet&amp;utm_term=&amp;tf=true" data-tf-track="">
                                <div class="inner pvn">
                                    <div class="bd r-ptm r-pbl centerify relative">
                                        <svg width="60" height="60" class="market-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ni-motesplassen"></use>
                                        </svg>
                                        <span class="t4 truncate blockify opaque market-title">Møteplassen</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </nav>
                </div>

                <div class="unit r-size1of3">
                    <div class="mod">
                        <div class="inner">
                            <div class="bd">
                                <h5>Lagrede søk</h5>
                                <div data-controller="savedSearches">
                                    <div>
                                        <ol>
                                            <li>
                                                <a class="truncate blockify pvs" href="/job/fulltime/search.html?q=Frontend&amp;sort=0&amp;stored-id=8661204">Frontend</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/realestate/homes/search.html?price_from=8800000&amp;stored-id=8379074">Eiendom, fra 8800000 kr</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/bap/forsale/search.html?search_type=SEARCH_ID_BAP_ALL&amp;segment=1&amp;stored-id=5783534&amp;condition=0&amp;q=Orange&amp;category=0.86&amp;sort=0">Orange</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/bap/forsale/search.html?search_type=SEARCH_ID_BAP_ALL&amp;segment=0&amp;stored-id=5783543&amp;condition=0&amp;q=Matamp&amp;category=0.86&amp;sort=0">Matamp</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/bap/forsale/search.html?q=Fender+Jaguar&amp;sort=5&amp;stored-id=7701794">Fender Jaguar</a>
                                            </li>
                                        </ol>
                                        <p class="rightify">
                                            <a href="/user/savedsearches.html">Alle lagrede søk</a>
                                        </p>
                                    </div>
                                </div>
                                <h5>Siste søk</h5>
                                <div data-controller="recentSearches">
                                    <div>
                                        <ol>
                                            <li>
                                                <a class="truncate blockify pvs" href="/car/used/search.html" data-recent-search="">Biler i Norge</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/bap/forsale/search.html?category=0.76" data-recent-search="">Antikviteter og kunst, Torget</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/bap/forsale/search.html?q=skatoll" data-recent-search="">'skatoll', Torget</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/bap/forsale/search.html?q=hj%C3%B8rnebord" data-recent-search="">'hjørnebord', Torget</a>
                                            </li>
                                            <li>
                                                <a class="truncate blockify pvs" href="/realestate/homes/search.html" data-recent-search="">Bolig til salgs</a>
                                            </li>
                                        </ol>
                                        <p class="rightify">
                                            <button class="b1 blank pan" type="button" data-action="delete-all">Tøm lista</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearboth"></div>

            <div data-controller="recommendations" data-vertical="realestate" data-position="realestate_front" class="" style="opacity: 1; transition: opacity 0.6s;">
                <div class="mod">
                    <div class="inner pvn">
                        <div class="bd">
                            <h5>Eiendom anbefaler</h5>
                            <div class="line r-cols1to3 r-mhm r-hide-last-element r-carousel">
                                <div class="unit">
                                    <a href="/77658842" class="linkblock sharp blockify r-mhm mtn mbl" data-version="finn_real_estate_als_r150_infused.recommendItems" data-finncode="77658842" data-trackingcode="" data-score="0.7837355136871338">
                                        <div class="format4by3">
                                            <img src="https://images.finncdn.no/dynamic/480x360c/2016/6/vertical-2/17/2/776/588/42_1533425820.jpg" srcset="https://images.finncdn.no/dynamic/480x360c/2016/6/vertical-2/17/2/776/588/42_1533425820.jpg 480w,
                                                        https://images.finncdn.no/dynamic/240x180c/2016/6/vertical-2/17/2/776/588/42_1533425820.jpg 240w,
                                                        https://images.finncdn.no/dynamic/320x240c/2016/6/vertical-2/17/2/776/588/42_1533425820.jpg 320w,
                                                        https://images.finncdn.no/dynamic/640x480c/2016/6/vertical-2/17/2/776/588/42_1533425820.jpg 640w,
                                                        https://images.finncdn.no/dynamic/960x720c/2016/6/vertical-2/17/2/776/588/42_1533425820.jpg 960w" sizes="(min-width: 990px) 300px, (min-width: 768px) 33vw, (min-width: 480px) 50vw" class="centered-image" alt="">
                                        </div>
                                        <h4 class="truncate r-mhm r-mtm mbt">Snertingdal / Gjøvik - Betydelig påkostet fritidseiendom med nytt tak og nytt uthus- Godt vedlikeholdt- Fine solforhold</h4>
                                        <p class="truncate r-mhm mtn r-mbm">
                                            <span class="t4 blue-dk prm">550&nbsp;000,-</span>
                                            <span class="opaque man">Snertingdal</span>
                                        </p>
                                    </a>
                                </div>

                                <div class="unit">
                                    <a href="/76770245" class="linkblock sharp blockify r-mhm mtn mbl" data-version="finn_real_estate_als_r150_infused.recommendItems" data-finncode="76770245" data-trackingcode="" data-score="0.6752281785011292">
                                        <div class="format4by3">
                                            <img src="https://images.finncdn.no/dynamic/480x360c/2016/9/vertical-5/12/5/767/702/45_1205584090.jpg" srcset="https://images.finncdn.no/dynamic/480x360c/2016/9/vertical-5/12/5/767/702/45_1205584090.jpg 480w,
                                                        https://images.finncdn.no/dynamic/240x180c/2016/9/vertical-5/12/5/767/702/45_1205584090.jpg 240w,
                                                        https://images.finncdn.no/dynamic/320x240c/2016/9/vertical-5/12/5/767/702/45_1205584090.jpg 320w,
                                                        https://images.finncdn.no/dynamic/640x480c/2016/9/vertical-5/12/5/767/702/45_1205584090.jpg 640w,
                                                        https://images.finncdn.no/dynamic/960x720c/2016/9/vertical-5/12/5/767/702/45_1205584090.jpg 960w" sizes="(min-width: 990px) 300px, (min-width: 768px) 33vw, (min-width: 480px) 50vw" class="centered-image" alt="">
                                        </div>

                                        <h4 class="truncate r-mhm r-mtm mbt">"NY" Hytte/Hus</h4>
                                        <p class="truncate r-mhm mtn r-mbm">
                                            <span class="t4 blue-dk prm">650&nbsp;000,-</span>
                                            <span class="opaque man">Skotterud</span>
                                        </p>
                                    </a>
                                </div>

                                <div class="unit">
                                    <a href="/75246241" class="linkblock sharp blockify r-mhm mtn mbl" data-version="finn_real_estate_als_r150_infused.recommendItems" data-finncode="75246241" data-trackingcode="47" data-score="0.4177517294883728">
                                        <div class="format4by3">
                                            <img src="https://images.finncdn.no/dynamic/480x360c/2015/6/vertical-2/28/3/611/069/53_27630826.jpg" srcset="https://images.finncdn.no/dynamic/480x360c/2015/6/vertical-2/28/3/611/069/53_27630826.jpg 480w,
                                                        https://images.finncdn.no/dynamic/240x180c/2015/6/vertical-2/28/3/611/069/53_27630826.jpg 240w,
                                                        https://images.finncdn.no/dynamic/320x240c/2015/6/vertical-2/28/3/611/069/53_27630826.jpg 320w,
                                                        https://images.finncdn.no/dynamic/640x480c/2015/6/vertical-2/28/3/611/069/53_27630826.jpg 640w,
                                                        https://images.finncdn.no/dynamic/960x720c/2015/6/vertical-2/28/3/611/069/53_27630826.jpg 960w" sizes="(min-width: 990px) 300px, (min-width: 768px) 33vw, (min-width: 480px) 50vw" class="centered-image" alt="">
                                        </div>

                                        <h4 class="truncate r-mhm r-mtm mbt">FLOTT VILLA I BJØRKELANGEN, sentralt, stille sidegate,  tilleie.</h4>
                                        <p class="truncate r-mhm mtn r-mbm">
                                            <span class="t4 blue-dk prm">11&nbsp;900,-</span>
                                            <span class="opaque man">Bjørkelangen</span>
                                        </p>
                                    </a>
                                </div>

                                <div class="unit hide-gt768">
                                    <a href="/77652361" class="linkblock sharp blockify r-mhm mtn mbl" data-version="finn_real_estate_als_r150_infused.recommendItems" data-finncode="77652361" data-trackingcode="" data-score="0.6133943200111389">
                                        <div class="format4by3">
                                            <img src="https://images.finncdn.no/dynamic/480x360c/2016/6/vertical-5/17/1/776/523/61_1212815844.jpg" srcset="https://images.finncdn.no/dynamic/480x360c/2016/6/vertical-5/17/1/776/523/61_1212815844.jpg 480w,
                                                        https://images.finncdn.no/dynamic/240x180c/2016/6/vertical-5/17/1/776/523/61_1212815844.jpg 240w,
                                                        https://images.finncdn.no/dynamic/320x240c/2016/6/vertical-5/17/1/776/523/61_1212815844.jpg 320w,
                                                        https://images.finncdn.no/dynamic/640x480c/2016/6/vertical-5/17/1/776/523/61_1212815844.jpg 640w,
                                                        https://images.finncdn.no/dynamic/960x720c/2016/6/vertical-5/17/1/776/523/61_1212815844.jpg 960w" sizes="(min-width: 990px) 300px, (min-width: 768px) 33vw, (min-width: 480px) 50vw" class="centered-image" alt="">
                                        </div>

                                        <h4 class="truncate r-mhm r-mtm mbt">Fritidseiendom. Gi bud !!!!!!!!!!</h4>
                                        <p class="truncate r-mhm mtn r-mbm">
                                            <span class="t4 blue-dk prm">250&nbsp;000,-</span>
                                            <span class="opaque man">Dalen</span>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>
</div>
