<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <p>
                Class names are built up by 3 letters in the following order:<br/>

                <code>[type][location][size]</code>
            </p>

            <h5>type</h5>
            <p>b = border</p>

            <h5>location</h5>
            <p>a, t, r, b, l, h, v = all, top, right, bottom, left, horizontal, vertical</p>

            <h5>size</h5>
            <p>t, s, n = tiny(1px), small(2px), none(0px)</p>
            <hr/>
            <h5>some examples</h5>
            <p>
                <code>bas</code> = border + all sides + small<br/>
                <code>btn</code> = border + top + none<br/>
                <code>brt</code> = border + right + tiny<br/>
            </p>

            <div class="bg-blue-xxlt bas r-mll" style="height:100px;width:200px"><code>.bas</code></div>

			<pre class="prettyprint linenums">&lt;div class=&quot;bas&quot;&gt; ... &lt;/div&gt;</pre>

			<div class="bg-blue-xxlt brs bbs blt r-mll" style="height:100px;width:200px"><code>.brs .bbs .blt</code></div>

			<pre class="prettyprint linenums">&lt;div class=&quot;brs bbs blt&quot;&gt; ... &lt;/div&gt;</pre>

			<div class="bg-blue-xxlt brt r-mll" style="height:100px;width:200px"><code>.brt</code></div>

			<pre class="prettyprint linenums">&lt;div class=&quot;bat&quot;&gt; ... &lt;/div&gt;</pre>

        </div>
    </div>
</div><!-- mod -->

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <h2>Border-colors</h2>
            <p>
                Bordercolors are set with the border- prefix on all colors from the <a href="/core/colors/view">color palette</a>.<br/>
            </p>
            <p>
				<span class="bbs border-pale"><code>.border-pale</code></span>
                <span class="bbs border-red"><code>.border-red</code></span>
                <span class="bbs border-sharp"><code>.border-sharp</code></span>
				<span class="bbs border-green-lt"><code>.border-green-lt</code></span>
            </p>

       </div>
    </div>
</div><!-- mod -->
