



<!-- -->

<div class="container">
    <div class="page">
        <div class="mod green-skin">
            <div class="inner">
                <div class="bd">
                    <p>Experimental example</p>
                </div>
            </div>
        </div>


        <div class="mod shadow imagecontainer">
            <div class="inner pvn">
                <div class="bd">
                    <a href="gallery.html?finnkode=58068144" class="bright">
                        <div class="relative roundify"
                            style="padding-top: 56.25%; background-size: 100%; background-position: center center; background-image: url('https://finncdn.no/dynamic/1598w/2015/5/vertical-2/07/6/587/660/76_322910165.jpg');">
                            <p class="h3" style="position: absolute; right: 0; bottom: 0; text-shadow: 0 1px 1px rgba(0,0,0,.3);">Flere bilder (6)</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="line">
            <div class="unit r-size2of3">
                <div class="mod shadow">
                    <div class="inner ptn">
                        <div class="bd">
                            <div class="mod toolbar man noprint">
                                    <div class="inner">
                                        <div class="bd">
                                            <div class="media r-mhm mvn">
                                                <div class="imgExt">
                                                    </div>

                                                <div class="img">
                                                            <a class="inlineblockify pam t3" href="#" title="Lagre annonse" data-toggle-folder-list="" data-controller="toggleContent" data-select="data-folder-list" role="button">
                                                                <span data-favorite-icon="" class="icon-lagrefunn1" aria-hidden="true"></span>
                                                            </a>
                                                        </div>

                                                    <div class="img" data-controller="toggleContent" data-select="data-tip-a-friend-form">
                                                    <a class="inlineblockify pam t3" data-controller="trackShareTipAFriend" href="#" title="Tips en venn" role="button">
                                                        <span class="icon-epost1" aria-hidden="true"></span>
                                                    </a>
                                                </div>

                                                <div class="img">
                                                    <a class="inlineblockify pam t3" data-controller="trackShareOnFacebook" rel="external" target="_blank" href="http://m.facebook.com/sharer.php?u=http%3a%2f%2fm.finn.no%2f58068144%3ftaid%3dShare_ad_facebook" title="Del på Facebook">
                                                        <span class="icon-Facebook" aria-hidden="true"></span>
                                                    </a>
                                                </div>

                                                <div class="img">
                                                    <a class="inlineblockify pam t3" rel="external" data-controller="trackShareOnTwitter" href="https://twitter.com/intent/tweet?hashtags=FINN_no&amp;related=Finn_no&amp;url=http%3a%2f%2fm.finn.no%2f58068144%3ftaid%3dShare_ad_twitter&amp;text=Traumatisert+familie+med+knuste+dr%c3%b8mmer+selger+kajakk" target="_blank" title="Del på Twitter">
                                                        <span class="icon-Twitter2" aria-hidden="true"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mod mrn">
                                    <div class="inner">
                                        <div class="bd">
                                            <h1 class="h1 word-break mbn">Austrått - Stor enebolig på romslig tomt med garasje*Moderniseringsbehov*</h1>
                                            <p class="mbn">Odins gate 16</p>
                                            <p class="mtn">4306 Sandnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mod">
                                    <div class="inner">
                                        <div class="bd">
                                            <h2 class="mbn">Prisantydning</h2>
                                            <h1 class="mtn">4 500 000,-</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="mod mrn">
                                    <div class="inner">
                                        <div class="bd">
                                            <dl class="dl-liquid dl-bordered border-pale mvn">
                                                <dt data-automation-id="key">Primærrom</dt>
                                                    <dd data-automation-id="value">
                                                        231 m²
                                                            </dd>
                                                <dt data-automation-id="key">Bruksareal</dt>
                                                        <dd data-automation-id="value">
                                                            234 m²
                                                                </dd>
                                                <dt data-automation-id="key">Soverom</dt>
                                                    <dd data-automation-id="value">
                                                        4</dd>
                                                <dt data-automation-id="key">Bruttoareal</dt>
                                                        <dd data-automation-id="value">255 m²</dd>
                                                <dt data-automation-id="key">Boligtype</dt>
                                                        <dd data-automation-id="value">
                                                        Enebolig</dd>
                                                <dt data-automation-id="key">Eieform</dt>
                                                        <dd data-automation-id="value">Eier (Selveier)</dd>
                                                <dt data-automation-id="key">Tomteareal</dt>
                                                        <dd data-automation-id="value">888 m²
                                                            eiet</dd>
                                                <dt data-automation-id="key">Byggeår</dt>
                                                        <dd data-automation-id="value">1958</dd>
                                                <dt data-automation-id="key">Renovert år</dt>
                                                        <dd data-automation-id="value">1980</dd>
                                                <dt data-automation-id="key">Energimerking</dt>
                                                        <dd data-automation-id="value">
                                                            <div class="oransje energylabel centerify fright phs bright" aria-label="Energikarakter: F.
                                            Oppvarmingskarakter: Oransje." title="Energikarakter: F.
                                            Oppvarmingskarakter: Oransje.">
                                                                F</div>
                                                        </dd>
                                                </dl>

                                        </div>
                                    </div>
                                </div>
                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Bank og forsikringtorget</h2>
                                        <p>Kitten Ipsum dolor sit amet derp cat, pellentesque quis rhoncus siamese fluff nulla spot consectetur siamese neque sem nunc a somebody id browsing breeds happy.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Beskrivelse</h2>
                                        <p>Kitten Ipsum dolor sit amet derp cat, pellentesque quis rhoncus siamese fluff nulla spot consectetur siamese neque sem nunc a somebody id browsing breeds happy. Heart, loves sandi a In consectetur sagittis amet sagittis elit vel dog friend lay down in your way adipiscing cold cat cat amused ipsum breeds nisi. Duis size arcu, down massa rescue new egestas awesomeness non fermentum vitae venenatis blandit cake day boy. Pellentesque cute aliquet in mi ligula libero Aliquam run highness quis nunc, augue cat babies name meet. Cuddles non leo lobortis laoreet sleeping in the sink together Donec, lick sleeping 9 lives ever rutrum friend's? Litora Pellentesque buddy conubia quis sucked vel she consectetur, Nulla napping leo sagittis sitting euismod spoon facilisis. Proin friend sit taciti Sed elementum Nullam her fight kitty kitty lectus purr vel together watched judging you ornare cute dui euismod redditor in kitten euismod.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Kitten Ipsum</h2>
                                        <p>Toss the mousie eget toss the mousie neque cat siamesecalico mus wonderful Suspendisse happy birdwatch name Aliquam cat dolor id, eros psycho cat go varius ornare cat dui. Leo shed everywhere Zooey mauris napping commodo enim ut, her laoreet kitties likes pride dolor nisi cat egestas torquent est in. Et, neque eyes ipsum steal turpis volutpat adopted looks et. Inceptos tincidunt me hairball he give me fish rescue Quisque kitten? Feugiat sleeps lady meowschwitz healing dignissim gf's non tortor redditor siamese finally dolor turpis accumsan ham vitae velit home nascetur? Est snuggliest kitten lacinia Aliquam, tempor hairball mollis feel vel bed odio elit porttitor accumsan years. Belly id ligula spot mcfuzzy ut, reddit eat turpis sister dapibus suscipit. Favorite, amet stowaway aliquam warmer cat siamesecalico.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Kitten Ipsum</h2>
                                        <p>

                                        <dl class="dl-liquid dl-bordered border-pale multi-cols1to2 mvn">
                                            <dt data-automation-id="key" class="neutral">Areal</dt>
                                            <dd data-automation-id="value">
                                                121 m²
                                                                </dd>
                                            <dt data-automation-id="key" class="neutral">Soverom</dt>
                                            <dd data-automation-id="value">3&nbsp;-&nbsp;4</dd>
                                            <dt data-automation-id="key" class="neutral">Ant etasjer</dt>
                                            <dd data-automation-id="value">2</dd>
                                            <dt data-automation-id="key" class="neutral">Boligtype</dt>
                                            <dd data-automation-id="value">
                                            Tomannsbolig</dd>
                                            <dt data-automation-id="key" class="neutral">Energimerking</dt>
                                            <dd data-automation-id="value">B</dd>
                                            <dt data-automation-id="key" class="neutral">Eieform</dt>
                                            <dd data-automation-id="value">Eier (selveier)</dd>
                                            <dt data-automation-id="key" class="neutral">Kjøretøyet står i</dt>
                                            <dd data-automation-id="value">
                                                Polen</dd>
                                            <dt data-automation-id="key" class="neutral">Kilometer</dt>
                                            <dd data-automation-id="value">201 000 km</dd>
                                            <dt data-automation-id="key" class="neutral">Hjuldrift</dt>
                                            <dd data-automation-id="value">Firehjulsdrift 4x4</dd>
                                            <dt data-automation-id="key" class="neutral">Sylindervolum</dt>
                                            <dd data-automation-id="value">2,5l</dd>

                                        </dl>


                                        </p>
                                    </div>
                                </div>
                            </div>
            <!-- -->
                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Dl-compressed</h2>
                                        <p>
                                        <div class="line r-cols1to2">
                                        <div class="unit">
                                        <dl class="dl-compressed mvn">
                                            <dt data-automation-id="key">Areal:</dt>
                                            <dd data-automation-id="value">121 m²</dd>
                                            <dt data-automation-id="key">Soverom:</dt>
                                            <dd data-automation-id="value">3&nbsp;-&nbsp;4</dd>
                                            <dt data-automation-id="key">Ant etasjer:</dt>
                                            <dd data-automation-id="value">2</dd>
                                            <dt data-automation-id="key">Boligtype:</dt>
                                            <dd data-automation-id="value">Tomannsbolig</dd>
                                            <dt data-automation-id="key">Energimerking:</dt>
                                            <dd data-automation-id="value">B</dd>
                                        </dl>
                                        </div>
                                        <div class="unit">
                                        <dl class="dl-compressed mvn">
                                            <dt data-automation-id="key">Eieform:</dt>
                                            <dd data-automation-id="value">Eier (selveier)</dd>
                                            <dt data-automation-id="key">Kjøretøyet står i:</dt>
                                            <dd data-automation-id="value">Polen</dd>
                                            <dt data-automation-id="key">Kilometer:</dt>
                                            <dd data-automation-id="value">201 000 km</dd>
                                            <dt data-automation-id="key">Hjuldrift:</dt>
                                            <dd data-automation-id="value">Firehjulsdrift 4x4</dd>
                                            <dt data-automation-id="key">Sylindervolum:</dt>
                                            <dd data-automation-id="value">2,5l</dd>

                                        </dl>
                                        </div>
                                        </div>

                                        </p>
                                    </div>
                                </div>
                            </div>
            <!-- -->
                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Kitten Ipsum</h2>
                                        <div class="line r-cols1to2">
                                            <div class="unit">
                                                <ul>
                                                    <li>Areal: <strong>121 m²</strong></li>
                                                    <li>Soverom: <strong>3 - 4</strong></li>
                                                    <li>Ant etasjer: <strong>2</strong></li>
                                                    <li>Boligtype: <strong>Tomannsbolig</strong></li>
                                                    <li>Energimerking: <strong>B</strong></li>
                                                </ul>

                                            </div>
                                            <div class="unit">
                                                <ul>
                                                    <li>Eieform: <strong>Eier (selveier)</strong></li>
                                                    <li>Kjøretøyet står i: <strong>Polen</strong></li>
                                                    <li>Kilometer: <strong>201 000 km</strong></li>
                                                    <li>Hjuldrift: <strong>Firehjulsdrift 4x4</strong></li>
                                                    <li>Sylindervolum: <strong>2,5l</strong></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Kitten Ipsum</h2>
                                        <div class="line r-cols1to2">
                                            <div class="unit">
                                                <ul>
                                                    <li>121 m² boareal</strong></li>
                                                    <li>3 Soverom</li>
                                                    <li>2 etasjer</li>
                                                    <li>Tomannsbolig</li>
                                                    <li>Energimerking <span class="bg-green bright phs">B</span></li>
                                                </ul>

                                            </div>
                                            <div class="unit">
                                                <ul>
                                                    <li>Eier (selveier)</li>
                                                    <li>Kjøretøyet står i Polen</li>
                                                    <li>201 000 km (km.stand)</li>
                                                    <li>Firehjulsdrift 4x4</li>
                                                    <li>2,5L</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod">
                                <div class="inner">
                                    <div class="bd">
                                        <h2>Kitten Ipsum</h2>
                                        <p>Little vet molestie sleeping, enim tortor nam breeds size saving scottish fold. Nibh Vestibulum gravida, tiny Zooey catnip viverra justo looks lacus. Facilisis sleep on your face, cute her nec his kat she amused she's scratched dang friend's metus meet sleep on your keyboard tux caught consectetur a scottish fold congue new. Fringilla 9 lives shenanigans eget turpis urna Nullam quam grown furball Vestibulum friend. Water, ridiculus cat quis iaculis ultricies volutpat cat! Ligula sandi Fusce venenatis aliquam in, auctor sandi Aliquam cursus kitten purr ac Aliquam down little kitten id egestas eat auctor. Id she dolor Suspendisse long hair happy heart happy Nam augue, lady adipiscing at tubes in Morbi quam sleeping. Feugiat his leo tongue sleepy cat age kitty, grazing cat euismod grazing petting diam orci.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="unit r-size1of3">

                <div class="mod shadow profile profile-medium">
                    <div class="inner pvn" style="background-color:#f4f1eb">
                        <div class="bd">
                            <div class="centerify d1" style="color:#007272">
                                <p class="mbn">Odins gate 16</p>
                                <p class="mtn">Presentert av:</p>
                            </div>
                            <div class="centerify r-margin profileimg">
                                <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
                            </div>
                            <div class="profiletxt r-mbl" style="color:#007272">
                                <h2 class="centerify mbn">Trevor Gulbrandsen</h2>
                                <p class="d1 centerify mtn">Eiendomsmeglerfullmektig</p>
                            </div>
                        </div>
                        <div class="bd pbl">
                            <div class="centerify">
                                <a style="color:#007272" href="#">Ring meg</a>
                            </div>
                            <hr class="r-margin">
                            <div class="centerify">
                                <a style="color:#007272" href="#">Send SMS</a>
                            </div>
                            <hr class="r-margin">
                            <div class="centerify">
                                <a style="color:#007272" href="#">Send e-post</a>
                            </div>
                            <hr class="r-margin">
                            <div class="centerify">
                                <a style="color:#007272" href="#">Meld interesse</a>
                            </div>
                            <hr class="r-margin">
                            <div class="centerify">
                                <a style="color:#007272" href="#">Bestill prospekt</a>
                            </div>
                        </div>
                        <div class="bd centerify" style="background-color:#007272">
                            <h4 class="bright">Visning</h4>
                        </div>
                        <div class="bd centerify" style="color:#007272">
                            <p class="mbn">Tisdag 5. mai 2015</p>
                            <p class="mtn">kl. 17:00 - 18:00</p>
                        </div>
                         <div class="bd pvm" style="background-color:#007272">
                            <h4 class="bright centerify">Spør meg gjerne om:</h4>
                            <form>

                                <div class="formelement">
                                    <fieldset>
                                        <div class="input">
                                            <div class="fancyinput">
                                                <input type="checkbox" id="fancycheckbox1">
                                                <label for="fancycheckbox1" class="bright">Prisantydning av egen bolig</label>
                                            </div>

                                            <div class="fancyinput">
                                                <input type="checkbox" id="fancycheckbox2">
                                                <label for="fancycheckbox2" class="bright">Råd om finansiering</label>
                                            </div>

                                            <div class="fancyinput">
                                                <input type="checkbox" id="fancycheckbox3">
                                                <label for="fancycheckbox3" class="bright">Generelle råd om kjøp / salg</label>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                                <div class="formelement">
                                    <label for="textarea" class="bright">Spørsmål:</label>
                                    <div class="input">
                                        <textarea id="textarea" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="actions">
                                    <button class="order fullwidth">Send spørsmål</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="mod shadow">
                    <div class="inner">
                        <div class="bd">
                            <h2>Odins gate 16</h2>
                            <div class="">
                                <img class="" style="width:100%" src="//maptiles.finncdn.no/staticmap?lat=58.96426&amp;lng=5.75492&amp;zoom=14&amp;size=290x200&amp;maptype=norwayVector&amp;showPin=true" alt="">
                            </div>
                            <p class="maplink">
                            <a class="mrm" href="//kart.finn.no/?finnkode=58068144&amp;lat=59.2715&amp;lng=10.4741&amp;mapType=finnvector&amp;showPin=0&amp;bl=1" rel="external">Stort kart</a>
                            <a class="mrm" href="//kart.finn.no/?finnkode=58068144&amp;lat=59.2715&amp;lng=10.4741&amp;mapType=finnhybrid&amp;showPin=0&amp;bl=1" rel="external">Hybridkart</a>
                            <a href="//kart.finn.no/?finnkode=58068144&amp;lat=59.2715&amp;lng=10.4741&amp;mapType=norortho&amp;showPin=0&amp;bl=1" rel="external">Flyfoto</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
