/* Deprecated? Might still affect stuff */
/*
.toolbar [class^='icon-'],
.toolbar [class*=' icon-'] {
    line-height: 24px;
    xvertical-align: middle;
}

.toolbar [class^='icon-']:before,
.toolbar [class*=' icon-']:before {
    line-height: 1.3em;
    font-size: 1.3em;
}

.s-touch .toolbar [class^='icon-']:before,
.s-touch .toolbar [class*=' icon-']:before {
    line-height: 1.3em;
    font-size: 1.8em;
}
.toolbar [class^='icon-'] span,
.toolbar [class*=' icon-'] span { display: none; }

.toolbar [class^='icon-'] span.showbydefault,
.toolbar [class*=' icon-'] span.showbydefault { display: inline; }

.toolbar .caption { display: none; }
.toolbar .caption.showbydefault { display: inline; }
*/
