<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
              <pre><code>{{{example-1}}}</code></pre>
          </details>
          <p>{{{example-1-plain}}}</p>
          <p class="mtl">Usage: Display ad status in result and detail pages.</p>

        </div>
    </div>
</div>
