<div class="mod shadow" xmlns="http://www.w3.org/1999/html">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Object status</summary>
<pre class="prettyprint linenums">&lt;span class=&quot;objectstatus&quot;&gt;Betalt plassering&lt;/span&gt;

&lt;span class=&quot;objectstatus sold&quot;&gt;Solgt&lt;/span&gt;

&lt;span class=&quot;objectstatus lastcall&quot;&gt;Siste frist&lt;/span&gt;

&lt;span class=&quot;objectstatus inactive&quot;&gt;Inaktiv&lt;/span&gt;
</pre>
            </details>

            <p>
                <span class="objectstatus">Betalt plassering</span>
            </p>

            <p>
                <span class="objectstatus sold">Solgt</span>
            </p>

            <p>
                <span class="objectstatus lastcall">Siste frist</span>
            </p>

            <p>
                <span class="objectstatus inactive">Inaktiv</span>
            </p>

            <p>
                <span class="objectstatus updated">Ny pris</span>
            </p>

            <p class="mtl">Usage: Display ad status in result and detail pages.</p>

            <hr>
            <h3 class="bare">Ribbons (deprecated)</h3>
            <div class="line r-margin r-cols3to6 opacity25">
                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content">Solgt</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.yellow</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content green">Aktiv</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.green</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content orange smalltext">Til kontroll</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.orange</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content gray">Inaktiv</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.gray</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content red">Avvist</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.red</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content purple">Nyhet</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.purple</code></p>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="bare">Mini-ribbons (deprecated)</h3>
            <div class="line r-margin r-cols3to6 opacity25">
                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content mini">Solgt</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.yellow</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content green mini">Aktiv</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.green</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content orange mini">Til kontroll</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.orange</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content gray mini">Inaktiv</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.gray</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content red mini">Avvist</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.red</code></p>
                    </div>
                </div>

                <div class="unit">
                    <div class="bg-lt-gray ribbon2 mrl mbl" style="height: 100px">
                        <span class="ribbon-content purple mini">Nyhet</span>
                        <p>Things n stuff n things n stuff n things n stuff</p>
                        <p><code>.ribbon-content.purple</code></p>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="bare">Gammelt ribbon-opplegg (deprecated)</h3>

            <div class="opacity25">
            <div class="line">
                <div class="unit">
                    <a class="man phl pvm media ribbon sold" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon rented" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon givenaway" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon filled" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon bought" style="width:100px; height: 80px;"></a>
                </div>
            </div>
            <div class="line">
                <div class="unit">
                    <a class="man phl pvm media ribbon newToday" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon expiresToday" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon started" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon inactive" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon active" style="width:100px; height: 80px;"></a>
                </div>

                <div class="unit">
                    <a class="man phl pvm media ribbon newprice" style="width:100px; height: 80px;"></a>
                </div>

            </div>
            <div class="line">
                <div class="unit">
                    <a class="man phl pvm media ribbon expired" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon control" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon rejected" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon deleted" style="width:100px; height: 80px;"></a>
                </div>
                <div class="unit">
                    <a class="man phl pvm media ribbon fulfilled" style="width:100px; height: 80px;"></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>