<!-- Knapper -->
<div class="mod mbxxl">
    <div class="inner">
        <div class="bd">
            <h2 class="mtn">Buttons</h2>
                <details>
                    <summary class="r-margin clickable h5">Default</summary>
<pre class="prettyprint linenums">
&lt;button&gt;Button&lt;/button&gt;
</pre>
                </details>
                <p><button>Button</button></p>

            <hr>

                <details>
                    <summary class="r-margin clickable h5">Primary</summary>
<pre class="prettyprint linenums">
&lt;button class=&quot;primary&quot;&gt;Button&lt;/button&gt;
</pre>
                </details>
                <p><button class="primary">Button</button></p>

            <hr>

            <details>
                <summary class="r-margin clickable h5">Order</summary>
<pre class="prettyprint linenums">
&lt;button class=&quot;order&quot;&gt;Button&lt;/button&gt;
</pre>
            </details>
            <p><button class="order">Button</button></p>


            <hr>

            <details>
                <summary class="r-margin clickable h5">Utility</summary>
<pre class="prettyprint linenums">
&lt;button class=&quot;utility&quot;&gt;Button&lt;/button&gt;
</pre>
            </details>
            <p><button class="utility">Button</button></p>


            <hr>

            <details>
                <summary class="r-margin clickable h5">Large</summary>
<pre class="prettyprint linenums">
&lt;button class=&quot;large&quot;&gt;Button&lt;/button&gt;
</pre>
            </details>
            <p><button class="large">Big Button</button></p>

            <hr>

            <details>
                <summary class="r-margin clickable h5">Small</summary>
<pre class="prettyprint linenums">
&lt;button class=&quot;small&quot;&gt;Button&lt;/button&gt;
</pre>
            </details>
            <p><button class="small">Tiny Button</button></p>

            <hr>

            <details>
                <summary class="r-margin clickable h5">Full width</summary>
<pre class="prettyprint linenums">
&lt;button class=&quot;fullwidth&quot;&gt;Button&lt;/button&gt;
</pre>
            </details>
            <p><button class="fullwidth">Button</button></p>

            <hr>

            <details>
                <summary class="r-margin clickable h5">Disabled</summary>
<pre class="prettyprint linenums">
&lt;button disabled&gt;Button&lt;/button&gt;
</pre>
            </details>
            <p><button disabled>Button</button></p>

            <hr>

            <details>
                <summary class="r-margin clickable h5">In progress</summary>
<pre class="prettyprint linenums">
&lt;button disabled class=&quot;inprogress&quot;&gt;Button&lt;/button&gt;
</pre>
            </details>
            <p><button disabled class="inprogress">Button</button></p>


<hr>

            <details>
                <summary class="r-margin clickable h5">Button group</summary>
<pre class="prettyprint linenums">&lt;div role=&quot;group&quot; class=&quot;button-group line&quot;&gt;
    &lt;button class=&quot;primary size1of4 truncate&quot;&gt;Knapp 1&lt;/button&gt;
    &lt;button class=&quot;utility size1of4 truncate&quot;&gt;En annen knapp&lt;/button&gt;
    &lt;button class=&quot;utility size1of4 truncate&quot;&gt;Knapp 3&lt;/button&gt;
    &lt;button class=&quot;utility size1of4 truncate&quot;&gt;Enda en&lt;/button&gt;
&lt;/div&gt;</pre>
            </details>

<div role="group" class="button-group r-margin line">
    <button class="primary size1of4 truncate">Knapp 1</button>
    <button class="utility size1of4 truncate">En annen knapp</button>
    <button class="utility size1of4 truncate">Knapp 3</button>
    <button class="utility size1of4 truncate">Enda en</button>
</div>

<div role="group" class="button-group r-margin line mtl">
    <button class="primary size1of2 truncate">Knapp 1</button>
    <button class="utility size1of2 truncate">En annen knapp</button>
</div>


        </div>
    </div>
</div><!-- mod -->
