input,
select,
textarea,
button,
a.icon,
a.button
.button-group label {
    font: inherit;
    font-size: 16px; /* This avoids zooming on iOS */
    color: var(--sharp);
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='email'],
input[type='date'],
input[type='number'],
select,
textarea {
    display: block;
    width: 100%;
    padding: 10px 5px;
    height: auto;
    border: 1px solid;
    background-color: var(--white);
    border-color: var(--neutral);
    border-radius: 2px;
    outline: none;
    line-height: 1.25em;
}

input:not([type]):hover,
input[type='text']:hover,
input[type='password']:hover,
input[type='url']:hover,
input[type='tel']:hover,
input[type='search']:hover,
input[type='email']:hover,
input[type='date']:hover,
input[type='number']:hover,
select:hover,
textarea:hover { border-color: #7D868C; }

select {
    height: 2.6em;
    padding-top: 4px;
}

input:not([type]):disabled,
input[type='text']:disabled,
input[type='password']:disabled,
input[type='url']:disabled,
input[type='tel']:disabled,
input[type='search']:disabled,
input[type='email']:disabled,
input[type='date']:disabled,
input[type='number']:disabled,
select:disabled,
textarea:disabled {
    color: var(--neutral);
    background-color: var(--bare);
}
input[type=checkbox],
input[type=radio] {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 0;
    *margin-top: 0;
}
input[type=file] {
    padding: initial;
    border: initial;
    line-height: initial;
    box-shadow: none;
}
/* eksperimentel søkeicon i søkefelt :sn */
input[type='search'] {
    background: var(--white) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMTkuNSAxMTkuNSA2MiA2MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAxOS41IDExOS41IDYyIDYyIj48cGF0aCBkPSJNNjUuNzk5IDE0Ni4wODNjMC0xMC44MjMtOC43NzctMTkuNjAxLTE5LjYxNS0xOS42MDEtMTAuODMgMC0xOS42MTQgOC43NzctMTkuNjE0IDE5LjYwMSAwIDEwLjgzOSA4Ljc4NCAxOS42MTYgMTkuNjE0IDE5LjYxNiAxMC44MzcgMCAxOS42MTUtOC43NzcgMTkuNjE1LTE5LjYxNnoiIGZpbGw9Im5vbmUiLz48cGF0aCBmaWxsPSIjOWJhOGIxIiBkPSJNODAuOTgyIDE3NS44MThsLTEzLjkyLTEzLjkyNGMzLjMzNi00LjM5MyA1LjMxNi05Ljg2NyA1LjMxNi0xNS44MTIgMC0xNC40NTctMTEuNzI1LTI2LjE3Ny0yNi4xOTUtMjYuMTc3LTE0LjQ1NyAwLTI2LjE4NCAxMS43Mi0yNi4xODQgMjYuMTc3IDAgMTQuNDcyIDExLjcyNyAyNi4xOTYgMjYuMTg0IDI2LjE5NiA1LjkyOSAwIDExLjQwOC0xLjk4MyAxNS43OTQtNS4zMDdsMTMuOTI0IDEzLjkyMiA1LjA4MS01LjA3NXptLTU0LjQxMi0yOS43MzVjMC0xMC44MjMgOC43ODQtMTkuNjAxIDE5LjYxNC0xOS42MDEgMTAuODM1IDAgMTkuNjE1IDguNzc3IDE5LjYxNSAxOS42MDEgMCAxMC44MzktOC43NzcgMTkuNjE2LTE5LjYxNSAxOS42MTYtMTAuODMgMC0xOS42MTQtOC43NzctMTkuNjE0LTE5LjYxNnoiLz48L3N2Zz4=)
                10px center no-repeat;
    text-indent: 20px;
    transition: border linear 0.1s, text-indent 0.1s, box-shadow 0.1s, background-position 0.1s;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type='search']:focus {
    background-position: -20px center;
    text-indent: 0;
}

select[multiple] {
    height: inherit;
    background-color: var(--bright);
    overflow: auto;
}

textarea { resize: vertical; }
/* Input behavior */
input:not([type]),
input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],

input[type='email'],
input[type='date'],
input[type='number'],
textarea {
    transition: border linear 0.1s, box-shadow linear 0.1s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:not([type]):focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='url']:focus,
input[type='tel']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='date']:focus,
input[type='number']:focus,
textarea:focus,
select:focus {
    outline: 0;
    border-color: #52A8EC;
    box-shadow: inset 1px 1px 6px rgba(79, 102, 118, 0.25);
}
input[type='number'] { -moz-appearance: textfield; }
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Input with no styling */
input.unstyled {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
/* Input status */
/* .invalid  */

.invalid .help-block,
.invalid .help-inline,
.invalid label { color: var(--red); }
.invalid input,
.invalid textarea,
.invalid select,
.invalid button,
.invalid a.button,
.invalid input.button { border-color: var(--red); }
.invalid input:focus,
.invalid textarea {
    border-color: var(--red);
    box-shadow: 0 0 6px #F8B9B7;
}
/* Knapper */

input[type=button],
input[type=submit],
input[type=reset],
button,
a.icon,
a.button,
.button-group label {
    display: inline-block;
    overflow: visible;
    cursor: pointer;
    border: 1px solid;
    padding: 10px 12px;
    margin: 0;
    color: var(--blue-dk);
    border-color: var(--blue-dk);
    border-radius: 2px;
    appearance: none;
    height: auto;
    outline: none;
    background: #FDFEFF;
    background-image: linear-gradient(to bottom, #FDFEFF, #F4FBFF);
    line-height: 1.25em;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
a.icon:hover,
a.button:hover,
.button-group label:hover {
    background: var(--blue-xxlt);
    text-decoration: none;
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active,
a.icon:active,
a.button:active,
.button-group label:active {
    background: var(--blue-xlt);
    text-decoration: none;
}
input.order,
button.order,
a.icon.order,
a.button.order {
    border: 1px solid #E68007;
    background: #FB8B08;
    background-image: linear-gradient(to bottom, #FB8B08, #E68007);
    color: var(--white);
}
input:not([disabled]).order:hover,
button:not([disabled]).order:hover,
a.icon.order:hover,
a.button.order:not(.disabled):hover { background: var(--rust-lt); }
input:not([disabled]).order:active,
button:not([disabled]).order:active,
a.icon.order:active,
a.button.order:not(.disabled):active { background: var(--rust); }
input.primary,
button.primary,
a.icon.primary,
a.button.primary,
.button-group input:checked + label {
    border: 1px solid #007CF0;
    background: #0095FD;
    background-image: linear-gradient(to bottom, #0095FD, #007CF0);
    color: var(--white);
}
input:not([disabled]).primary:hover,
button:not([disabled]).primary:hover,
a.icon.primary:hover,
a.button.primary:not(.disabled):hover,
.button-group input:checked + label:hover {
    background: var(--blue);
    background-image: none;
}
input:not([disabled]).primary:active,
button:not([disabled]).primary:active,
a.icon.primary:active,
a.button.primary:not(.disabled):active,
.button-group input:checked + label:active { background: var(--blue-dk); }

input:disabled[type=button],
input:disabled[type=submit],
input:disabled[type=reset],
button:disabled,
a.button.disabled {
    border: 1px solid #E2E6E9;
    background: #E2E6E9;
    color: var(--neutral);
    background-image: none;
    cursor: default;
}
button:not([disabled]):focus,
a.icon:focus,
a.button:not(.disabled):focus {
    box-shadow: 0 0 6px rgba(07, 37, 60, 0.4);
    background-image: none;
    text-decoration: none;
}

.inprogress {
    background-size: 30px 30px !important;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
    transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
    transparent 75%, transparent) !important;
    animation: animate-inprogress 3s linear infinite;
}

@-webkit-keyframes animate-inprogress { 0% { background-position: 0 0; } 100% { background-position: 60px 0; } }
@-o-keyframes animate-inprogress { 0% { background-position: 0 0; } 100% { background-position: 60px 0; } }
@keyframes animate-inprogress { 0% { background-position: 0 0; } 100% { background-position: 60px 0; } }
/* Input responsive */
@media not all and (--small-screen) {
  input:not([type]),
    input[type='text'],
    input[type='password'],
    input[type='url'],
    input[type='tel'],
    input[type='search'],
    input[type='email'],
    input[type='date'],
    input[type='number'],
    input[type='button'],
    input[type='submit'],
    input[type='reset'],
    textarea,
    button,
    a.icon,
    a.button { padding: 6px 10px; }
  select {
        height: 2.2em;
        padding: 3px 10px;
    }
}

label, legend {
    float: none;
    width: auto;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
    display: block;
    color: var(--opaque);
    margin: 5px 0;
}
.inputs-list { margin: 0 inherit; }
/* larger font-size and padding on checbox and radio buttons label */
.inputs-list input[type='radio'],
.inputs-list input[type='checkbox'] { float: left; }
.inputs-list label { margin: 1px 0px 1px 24px; }
.inputs-list li {
    padding: 5px 0;
    list-style: none outside none;
}

.formelement, .actions { margin: 10px 20px; }
/* Layout */
.formelement, .actions {
    margin: 10px;
    zoom: 1;
}
.formelement:before,
.formelement:after {
    display: table;
    content: '';
    zoom: 1;
}
.help-block, .help-inline {
    display: block;
    margin: 8px 0 14px;
}
@media (width >= 640px) {
    .hform640 .formelement, .hform640 .actions { margin: 10px 0px; }
}

@media not all and (--small-screen) {
    .formelement, .actions { margin: 10px 20px; }
}

@media (width >= 640px) {
    /* 
    .hform640 fieldset { padding-top: 18px; }
    .hform640 fieldset legend {
        margin: 0;
        padding-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
    */
    .hform640 .input {
        padding: 0 25%;
    }
    .hform640 .formelement { 
        margin: 0 0 15px 0; }
    .hform640 .help-block {
        margin-right: -10px;
        max-width: none;
    }
    .hform640 .formelement > label, 
    .hform640 .formelement > details label,
    .hform640 .formelement > legend 
    {
        float: left;
        width: 25%;
        text-align: right;
        padding-right: 20px;
    }
    .hform640 .inputs-list label { 
    text-align: left; }
    .hform640 .collapselist label {
        text-align: left;
        width: auto;
    }
    .hform640 .actions { padding-left: 25%; }
}

input.fullwidth,
button.fullwidth,
a.button.fullwidth,
input.fullwidth,
select.fullwidth,
textarea.fullwidth,
label.fullwidth { width: 100%; }
button.fullwidth,
a.button.fullwidth {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

input.large,
button.large,
a.button.large {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=button].large,
button.large,
a.button.large {
    padding-left: 40px;
    padding-right: 40px;
}


input.small,
input[type=button].small,
button.small,
a.button.small {
    padding: 4px 10px;
    font-size: 12px;
}
select.small {
    height: 2.1em;
    font-size: 12px;
}
select.large {
    height: 2.4em;
    font-size: 20px;
}

button.blank,
select.blank {
    background-color: transparent;
    background-image: none;
    border: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    margin: 0;
    appearance: none;
}
.button-group{ overflow:hidden; }
.button-group button,
.button-group a.button,
.button-group label
{
    display: block;
    float: left;
    border-radius: 0;
}
.button-group button:focus,
.button-group a.button:focus,
.button-group input:focus + label{
    box-shadow: initial !important;
    outline: 1px solid #07e;
    outline-offset: -2px;
}

.button-group button:first-child,
.button-group a.button:first-child,
.button-group label:first-of-type{
    border-radius: 2px 0 0 2px;
}

.button-group button:last-child,
.button-group a.button:last-child,
.button-group label:last-child{
    border-radius: 0 2px 2px 0;
}

.button-group button:not(:first-child),
.button-group a.button:not(:first-child),
.button-group label:not(:first-of-type){
    margin-left: -1px;
}
.button-group input {
    position: absolute;
    left: -32000px;
}




/* ----- Custom radio/checkbox ------------------------------ */
.customcbx input[type='checkbox'],
.customcbx input[type='radio'] { display: none; }
.customcbx input + p.decoration {
    height: 20px;
    width: 20px;
}
.customcbx input[type='checkbox'] + p.decoration { background-position: -25px -262px; }
.customcbx input[type='checkbox']:checked + p.decoration { background-position: -25px -287px; }
.customcbx input[type='radio'] + p.decoration { background-position: -52px -262px; }
.customcbx input[type='radio']:checked + p.decoration { background-position: -52px -287px; }
/* ----- Custom dropdown ------------------------------------ */
.custom-dropdown select {
    /* tar bort default appearance */
    appearance: none;
}
.custom-dropdown {
    position: relative; /* setter relative for a fa satt ny bla knapp */
}
.custom-dropdown::after {
    /* icon og plassering av ned pil */
    position: absolute;
    pointer-events: none;
    content: '\25BC';
    top: 50%;
    margin-top: -.6em;
    right: 0.5em;
    font-size: 1.2em;
}
.custom-dropdown::before {
    /* storrelse paa blaa bakgrunns knapp */
    position: absolute;
    pointer-events: none;
    content: '';
    top: 0;
    right: 0;
    width: 2.5em;
    bottom: 0;
    border-radius: 0 1px 1px 0;
}
.custom-dropdown-blue::before {
    /* plassering og bakgrund pa bla dropdown knapp */
    top: 0;
    bottom: 0;
    background-color: #0099FF;
}
.custom-dropdown-blue::after {
    /* farge paa ned pil */
    color: var(--white);
}
/* File input with button overlaid from m.skeleton */
.file-input-button { position: relative; }
.file-input-button input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
}
.file-input-button ::-webkit-file-upload-button { cursor: pointer; }
/* Hidden, expandable inputs */
.formelement details summary { line-height: 1.5em; }
.formelement details summary:before {
    content: '+ ';
    display: block;
    float: left;
    width: .8em;
    line-height: .95em;
    font-size: 1.6em;
    font-family: Arial, sans-serif;
}
.formelement details summary::-webkit-details-marker { display: none; }
/* Hidden, expandable inputs - slightly more accessible version */
.expandlabel { line-height: 1.5em; }
.expandfields {
    opacity: 0;
    float: right;
}
.expandfields:focus + .expandlabel { text-decoration: underline; }
.expandlabel:before {
    content: '+ ';
    display: block;
    float: left;
    width: .8em;
    line-height: .95em;
    font-size: 1.6em;
    font-family: Arial, sans-serif;
}
.expandfields ~ .formelement { display: none; }
.expandfields:checked ~ .formelement { display: block; }
.expandfields:checked ~ .expandlabel { display: none; }
/* Fancy selects */
.fancyselect { position: relative; }
.fancyselect select { -webkit-appearance: none; }
.fancyselect::before {
    content: '\25BC';
    display: block;
    color: var(--white);
    background-color: #0086F5;
    position: absolute;
    right: 0;
    width: 2.1em;
    text-align: center;
    height: 100%;
    line-height: 2.6em;
    font-size: 1.3em;
    pointer-events: none;
    border-radius: 0 2px 2px 0;
}
@media not all and (--small-screen) {
  .fancyselect::before { line-height: 2em; }
}
/* Fancy checkboxes */
.fancyinput label { display: inline-block; }
.fancyinput label.blockify { display: block; }
.fancyinput [type='checkbox']:not(:checked),
.fancyinput [type='checkbox']:checked,
.fancyinput [type='radio']:not(:checked),
.fancyinput [type='radio']:checked {
    position: absolute;
    left: -9999px;
}
.fancyinput [type='checkbox']:not(:checked) + label,
.fancyinput [type='checkbox']:checked + label,
.fancyinput [type='radio']:not(:checked) + label,
.fancyinput [type='radio']:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.fancyinput [type='checkbox']:not(:checked) + label:before,
.fancyinput [type='checkbox']:checked + label:before,
.fancyinput [type='radio']:not(:checked) + label:before,
.fancyinput [type='radio']:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid var(--neutral);
    border-radius: 2px;
    background: var(--white);
    transition: border linear 0.1s;
}
.fancyinput [type='radio']:not(:checked) + label:before,
.fancyinput [type='radio']:checked + label:before { border-radius: 50%; }
.fancyinput [type='checkbox']:not(:checked) + label:after,
.fancyinput [type='checkbox']:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjMsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzBweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgMzAgMzAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDMwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiMwMDk5RkYiIGQ9Ik0yNi42OTgsMi4yN2MtMS41MTQsMS40MjgtNC40NDYsNC40OS01Ljg2NSw2LjAwOWMtNC4xMjIsNC40MDctNy44ODIsOS4xMTctMTEuMzIzLDE0LjA3Mg0KCWMtMS42MzUtMi41LTMuNTc1LTUuMDU5LTUuOTU5LTYuOTFjLTAuOTQ5LTAuNzM3LTIuNTIxLTEuODk2LTMuMzI5LTAuMjI2Yy0wLjY1NCwxLjM1MiwwLjk3MywyLjM1NCwxLjczMSwzLjIyNQ0KCWMxLjk4OCwyLjI4NywzLjU0NCw0Ljk3Nyw0Ljc3NCw3LjczOGMwLjI5OSwwLjYzOSwwLjUxNywxLjM4OSwwLjk3NywxLjkzOGMxLjE4MiwxLjQxNCwzLjA4MywwLjgyOCwzLjg5My0wLjU5OA0KCWMzLjE3OC01LjU5LDYuNzA2LTExLjAzNywxMC44LTE2LjAxYzEuNTQ2LTEuODc4LDQuNjA1LTUuMjczLDYuMjI4LTcuMDg3YzAuODM2LTAuOTM2LDEuNzgzLTIuMjg4LDAuOTY2LTMuMTA1DQoJQzI4Ljc3MiwwLjUsMjcuNTk5LDEuNDIxLDI2LjY5OCwyLjI3eiIvPg0KPC9zdmc+DQo=');
    background-size: contain;
    height: 14px;
    width: 14px;
    top: 2px;
    left: 2px;
}
.fancyinput [type='radio']:not(:checked) + label:after,
.fancyinput [type='radio']:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 7px;
    left: 5px;
    top: 6px;
    background: #0099FF;
    border-radius: 50%;
}
.fancyinput [type='checkbox']:not(:checked) + label:after,
.fancyinput [type='radio']:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.fancyinput [type='checkbox']:checked + label:after,
.fancyinput [type='radio']:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.fancyinput [type='checkbox']:disabled:not(:checked) + label:before,
.fancyinput [type='checkbox']:disabled:checked + label:before,
.fancyinput [type='radio']:disabled:not(:checked) + label:before,
.fancyinput [type='radio']:disabled:checked + label:before {
    box-shadow: none;
    border-color: #BBBBBB;
    background-color: #DDDDDD;
}
.fancyinput [type='checkbox']:disabled:checked + label:after,
.fancyinput [type='radio']:disabled:checked + label:after { color: #999999; }
.fancyinput [type='checkbox']:disabled + label,
.fancyinput [type='radio']:disabled + label { color: #AAAAAA; }
.fancyinput [type='checkbox']:checked:focus + label:before,
.fancyinput [type='checkbox']:not(:checked):focus + label:before,
.fancyinput [type='radio']:checked:focus + label:before,
.fancyinput [type='radio']:not(:checked):focus + label:before {
    border: 1px solid #52A8EC;
    box-shadow: inset 0 0 3px rgba(79, 102, 118, 0.25);
}
.fancyinput:hover [type='checkbox'] + label:before,
.fancyinput:hover [type='radio'] + label:before { border-color: #7D868C; }
