<!-- forms -->
<div class="line" id="forms">
    <div class="r-size1of1">
        <div class="mod shadow">
            <div class="inner">
                <div class="bd">


                    <h2>Form layout</h2>
                    <p>By default, all input fields have width set to 100%. Its size is dependent to its parent element. This makes it possible set up the form layout at a higher level, and also in each <a href="#forms">formelement</a> by using <a href="/#grid">the grid system</a>.</p>
                    <hr>
                    <details>
                        <summary class="r-margin clickable h3 normal">Basic form markup</summary>
                        <pre class="prettyprint linenums">&lt;form&gt;
    &lt;fieldset&gt;
        &lt;legend&gt;Section titlte&lt;/legend&gt;
        &lt;div class=&quot;formelement&quot;&gt; ... &lt;/div&gt;
        &lt;div class=&quot;formelement&quot;&gt; ... &lt;/div&gt;
        &lt;div class=&quot;formelement&quot;&gt; ... &lt;/div&gt;
        &lt;div class=&quot;actions&quot;&gt; ... &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;
                        </pre>
                    </details>
                    <hr class="mtl">

                    <details>
                        <summary class="r-margin clickable h3 normal">Formelement</summary>
                        <pre class="prettyprint linenums">&lt;div class="formelement">
    &lt;label for="inputname">Example input&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;input id="inputname" type="text"&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </pre>
                    </details>
                    <p>Every 'line' in a form.</p>
                    <hr class="mtl">

                    <details>
                        <summary class="r-margin clickable h3 normal">Multiple inputs on the same line</summary>
                        <pre class="prettyprint linenums">&lt;div class="formelement"&gt;
    &lt;label for="postnr"&gt;Postcode/city&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;div class="line"&gt;
            &lt;div class="unit size1of6 prs"&gt;
                &lt;input type="text" id="postnr"&gt;
            &lt;/div&gt;
            &lt;div class="unit size5of6"&gt;
                &lt;input type="text" id="poststed"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </pre>
                    </details>

                    <form>
                        <fieldset>
                            <div class="formelement">
                                <label for="postnr">Postcode/city</label>
                                <div class="input">
                                    <div class="line">
                                        <div class="unit size1of6 prs">
                                            <input type="text" id="postnr">
                                        </div>
                                        <div class="unit size5of6">
                                            <input type="text" id="poststed">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="mtl">

                            <legend>Legend</legend>
                            <div class="formelement">
                                <label for="inputaasss">Search</label>
                                <div class="input">
                                    <div class="line">
                                        <div class="unit size5of6 prs">
                                            <input class="" id="inputaasss" type="text">
                                        </div>
                                        <div class="unit size1of6">
                                            <button class="primary fullwidth">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="formelement">
                                <label for="hf1">Label</label>
                                <div class="input">
                                    <input id="hf1" type="text" />
                                </div>
                            </div>

                            <div class="formelement">
                                <label for="inputaa44">Postcode/city</label>
                                <div class="input">
                                    <div class="line">
                                        <div class="unit size1of6 prs">
                                            <input id="inputaa44" type="text">
                                        </div>
                                        <div class="unit size5of6">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="formelement">
                                <label for="inputaa33">Label</label>
                                <div class="input select">
                                    <div class="line">
                                        <div class="unit r-size1of2 prs">
                                            <select id="inputaa33">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="unit r-size1of2">
                                            <select id="inputaa333">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="actions">
                                <button class="primary">Hell yeah!</button>
                                <button class="secondary">No wai</button>
                            </div>
                        </fieldset>
                    </form>

                    <hr class="mtl">

                    <details>
                        <summary class="r-margin clickable h3 normal">Default form layout with narrower parent element</summary>
                        <pre class="prettyprint linenums">&lt;div class="size1of2"&gt;
    &lt;form&gt;
        ...
    &lt;/form&gt;
&lt;/div&gt;
                        </pre>
                    </details>

                    <div class="size1of2 bg-lt-gray pam mhl">
                        <form>
                            <fieldset>
                                <legend>Legend</legend>
                                <div class="formelement">
                                    <label for="inputaasss">Search</label>
                                    <div class="input">
                                        <div class="line">
                                            <div class="unit size5of6 prs">
                                                <input class="" id="inputaasss" type="text">
                                            </div>
                                            <div class="unit size1of6">
                                                <button class="fullwidth">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formelement">
                                    <label for="hf1">Label</label>
                                    <div class="input">
                                        <input id="hf1" type="text" />
                                    </div>
                                </div>

                                <div class="formelement">
                                    <label for="inputaa44">Postcode/city</label>
                                    <div class="input">
                                        <div class="line">
                                            <div class="unit size1of6 prs">
                                                <input id="inputaa44" type="text">
                                            </div>
                                            <div class="unit size5of6">
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formelement">
                                    <label for="inputaa33">Label</label>
                                    <div class="input select">
                                        <div class="line">
                                            <div class="unit r-size1of2 prs">
                                                <select id="inputaa33">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="unit r-size1of2">
                                                <select id="inputaa333">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="actions">
                                    <button>Hell yeah!</button>
                                    <button class="secondary">No wai</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <hr class="mtl">

                    <details>
                        <summary class="r-margin clickable h3 normal">hform640</summary>
                        <pre class="prettyprint linenums">&lt;form class=&quot;hform640&quot;&gt;
...
&lt;/form&gt;
                        </pre>
                    </details>
                    <p>Form layout with label on the left and input on the right for desktop/bigger screens. By default, the label is above the input field for mobiles/smaller screens.</p>

                    <form class="hform640">
                        <fieldset>
                            <legend>Legend</legend>
                            <div class="formelement">
                                <label for="inputaasss">Search</label>
                                <div class="input">
                                    <div class="line">
                                        <div class="unit size5of6 prs">
                                            <input class="" id="inputaasss" type="text">
                                        </div>
                                        <div class="unit size1of6">
                                            <button class="fullwidth">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="formelement">
                                <label for="textarea">Textarea</label>
                                <div class="input">
                                    <textarea id="textarea" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="formelement">
                                <label for="hf1">Label</label>
                                <div class="input">
                                    <input id="hf1" type="text" />
                                </div>
                            </div>
                            <div class="formelement">
                                <div class="input">
                                    <ul class="inputs-list">
                                        <li>
                                            <input type="checkbox" id="nothing" name="checkboxes" value="nothing" checked>
                                            <label for="nothing">Nothing</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="something" name="checkboxes" value="something">
                                            <label for="something">Something</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="other" name="checkboxes" value="other">
                                            <label for="other">Other</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="formelement">
                                <label for="inputaa44">Postcode/city</label>
                                <div class="input">
                                    <div class="line">
                                        <div class="unit size1of6 prs">
                                            <input id="inputaa44" type="text">
                                        </div>
                                        <div class="unit size5of6">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="formelement">
                                <label for="inputaa33">Label</label>
                                <div class="input select">
                                    <div class="line">
                                        <div class="unit r-size1of2 prs">
                                            <select id="inputaa33">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="unit r-size1of2">
                                            <select id="inputaa333">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="actions">
                                <button>Hell yeah!</button>
                                <button class="secondary">No wai</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- mod -->