<div class="mod shadow">
        <div class="inner">
            <div class="bd">

        <form class="">

            <details>
                <summary class="r-margin clickable h3 normal">Input type text</summary>
                <pre class="prettyprint linenums">&lt;div class="formelement"&gt;
    &lt;label for="inputtext"&gt;Label&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;input type="text" id="inputtext"&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="inputtext">Label</label>
                <div class="input">
                    <input type="text" id="inputtext">
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Placeholder</summary>
                <pre class="prettyprint linenums">&lt;input type="text" id="whatever" placeholder="Placeholder text"&gt;</pre>
            </details>
            <div class="formelement">
                <label for="inputplaceholder">Input with placeholder</label>
                <div class="input">
                    <input type="text" id="inputplaceholder" placeholder="Placeholder text">
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Disabled input</summary>
                <pre class="prettyprint linenums">&lt;div class="formelement"&gt;
    &lt;div class="input"&gt;
        &lt;label for="disabledinput"&gt;Disabled input&lt;/label&gt;
        &lt;input type="text" id="disabledinput" disabled&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="disabledinput">Disabled input</label>
                <div class="input">
                    <input type="text" id="disabledinput" disabled>
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Input type date</summary>
                <pre class="prettyprint linenums">&lt;div class="formelement"&gt;
    &lt;label for="inputtypedate"&gt;Input type date&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;input type="date" id="inputtypedate"&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="inputtypedate">Input type date</label>
                <div class="input">
                    <input id="inputtypedate" type="date">
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Select</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;label for=&quot;select&quot;&gt;Label&lt;/label&gt;
    &lt;div class=&quot;input select&quot;&gt;
        &lt;select id=&quot;select&quot;&gt;
            &lt;option&gt;1&lt;/option&gt;
            &lt;option&gt;2&lt;/option&gt;
            &lt;option&gt;3&lt;/option&gt;
            &lt;option&gt;4&lt;/option&gt;
            &lt;option&gt;5&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="select">Label</label>
                <div class="input select">
                    <select id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Fancy select</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;label for=&quot;fancy&quot;&gt;Label&lt;/label&gt;
    &lt;div class=&quot;input select&quot;&gt;
        &lt;div class=&quot;fancyselect&quot;&gt;
            &lt;select id=&quot;fancy&quot;&gt;
                &lt;option&gt;1&lt;/option&gt;
                &lt;option&gt;2&lt;/option&gt;
                &lt;option&gt;3&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
                <div class="formelement">
                    <label for="fancy">Label</label>
                    <div class="input select">
                        <div class="fancyselect">
                            <select id="fancy">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </div>
            <hr class="mtl">
          
            <details>
                <summary class="r-margin clickable h3 normal">Multiselect</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;label for=&quot;multiselect&quot;&gt;Label&lt;/label&gt;
    &lt;div class=&quot;input select&quot;&gt;
        &lt;select multiple="multiple" size="5" id=&quot;multiselect&quot;&gt;
             &lt;option&gt;1&lt;/option&gt;
             &lt;option&gt;2&lt;/option&gt;
             &lt;option&gt;3&lt;/option&gt;
             &lt;option&gt;4&lt;/option&gt;
             &lt;option&gt;5&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="multiselect">Multiselect</label>
                <div class="input select">
                    <select multiple="multiple" size="5" id="multiselect">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">File upload</summary>
                <pre class="prettyprint linenums">&lt;div class="formelement">
    &lt;label for="browsefile"&gt;Browse file&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;input id="browsefile" type="file"&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <div class="input">
                    <input id="browsefile" type="file" />
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">File upload</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;label for=&quot;browsefiles&quot;&gt;Images&lt;/label&gt;
    &lt;div class=&quot;input&quot;&gt;
        &lt;label class=&quot;button file-input-button&quot; tabindex=&quot;0&quot; role=&quot;button&quot;&gt;
            &lt;span&gt;Last opp bilde&lt;/span&gt;
            &lt;input type=&quot;file&quot; name=&quot;browsefiles&quot; id=&quot;browsefiles&quot; accept=&quot;image/jpeg, image/png, image/gif&quot; autocomplete=&quot;off&quot; tabindex=&quot;-1&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="browsefiles">Images</label>
                <div class="input">
                    <label class="button file-input-button" tabindex="0" role="button">
                        <span>Last opp bilde</span>
                        <input type="file" name="browsefiles" id="browsefiles" accept="image/jpeg, image/png, image/gif" autocomplete="off" tabindex="-1" aria-hidden="true">
                    </label>
                </div>
            </div>

            <hr class="mtl">

            <!--<details>
                <summary class="r-margin clickable h3 normal">File upload with button overlay</summary>
                <pre class="prettyprint linenums">&lt;div class="formelement">
    &lt;label for="browsefile"&gt;Browse file&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;input id="browsefile" type="file"&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <div class="input">
                    <a class="button file-input-button" role="button">
                        <span>Last opp bilde</span>
                        <input type="file" name="files" accept="image/jpeg, image/png, image/gif" autocomplete="off" tabindex="-1" aria-hidden="true">
                    </a>
                </div>
            </div>
            <hr class="mtl">-->

            <details>
                <summary class="r-margin clickable h3 normal">Textarea</summary>
                <pre class="prettyprint linenums">&lt;div class="formelement">
    &lt;label for="textarea"&gt;Textarea&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;textarea id="textarea" rows="3"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="textarea">Textarea</label>
                <div class="input">
                    <textarea id="textarea" rows="3"></textarea>
                </div>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Disabled textarea</summary>
                <pre class="prettyprint linenums">&lt;div class="formelement">
    &lt;label for="disabledtextarea"&gt;Textarea&lt;/label&gt;
    &lt;div class="input"&gt;
        &lt;textarea id="disabledtextarea" rows="3" disabled&gt;&lt;/textarea&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <label for="disabledtextarea">Disabled textarea</label>
                <div class="input">
                    <textarea id="disabledtextarea" rows="3" disabled></textarea>
                </div>
            </div>
            <hr class="mtl">




            <details>
                <summary class="r-margin clickable h3 normal">Radio buttons</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;fieldset&gt;
        &lt;legend&gt;Choose one&lt;/legend&gt;
        &lt;div class=&quot;input&quot;&gt;
            &lt;label&gt;
                &lt;input type=&quot;radio&quot; name=&quot;radios&quot; checked&gt;
                Nothing
            &lt;/label&gt;

            &lt;label&gt;
                &lt;input type=&quot;radio&quot; name=&quot;radios&quot;&gt;
                Something
            &lt;/label&gt;

            &lt;label&gt;
                &lt;input type=&quot;radio&quot; name=&quot;radios&quot;&gt;
                Other
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <fieldset>
                <legend>Choose one</legend>
                <div class="input">
                    <label>
                        <input type="radio" name="radios" checked>
                        Nothing
                    </label>

                    <label>
                        <input type="radio" name="radios">
                        Something
                    </label>

                    <label>
                        <input type="radio" name="radios">
                        Other
                    </label>
                </div>
                </fieldset>
            </div>
            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Fancy radio buttons</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;fieldset&gt;
        &lt;legend&gt;Choose one&lt;/legend&gt;
        &lt;div class=&quot;input&quot;&gt;
            &lt;div class=&quot;fancyinput&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;fancyradio1&quot; name=&quot;fancyradio&quot;&gt;
                &lt;label for=&quot;fancyradio1&quot;&gt;Nothing&lt;/label&gt;
            &lt;/div&gt;

            &lt;div class=&quot;fancyinput&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;fancyradio2&quot; name=&quot;fancyradio&quot;&gt;
                &lt;label for=&quot;fancyradio2&quot;&gt;Something&lt;/label&gt;
            &lt;/div&gt;

            &lt;div class=&quot;fancyinput&quot;&gt;
                &lt;input type=&quot;radio&quot; id=&quot;fancyradio3&quot; name=&quot;fancyradio&quot;&gt;
                &lt;label for=&quot;fancyradio3&quot;&gt;Other&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <fieldset>
                    <legend>Choose one</legend>
                    <div class="input">
                        <div class="fancyinput">
                            <input type="radio" id="fancyradio1" name="fancyradio">
                            <label for="fancyradio1">Nothing</label>
                        </div>

                        <div class="fancyinput">
                            <input type="radio" id="fancyradio2" name="fancyradio">
                            <label for="fancyradio2">Something</label>
                        </div>

                        <div class="fancyinput">
                            <input type="radio" id="fancyradio3" name="fancyradio">
                            <label for="fancyradio3">Other</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Button group (based on radio inputs)</summary>
                <pre class="prettyprint linenums">&lt;fieldset class=&quot;formelement&quot;&gt;                    
    &lt;legend&gt;I want to&lt;/legend&gt;
    &lt;div class=&quot;input &quot;&gt;
        &lt;div class=&quot;button-group line&quot; role=&quot;radiogroup&quot;&gt;
            &lt;input tabindex=&quot;0&quot; data-selector=&quot;&quot; id=&quot;radio-input-SELL&quot; type=&quot;radio&quot; value=&quot;SELL&quot; name=&quot;trade_type&quot; checked=&quot;&quot;&gt;
            &lt;label class=&quot;pam size1of4 centerify truncate&quot; for=&quot;radio-input-SELL&quot;&gt;Selge&lt;/label&gt;
            &lt;input tabindex=&quot;0&quot; data-selector=&quot;&quot; id=&quot;radio-input-GIVEAWAY&quot; type=&quot;radio&quot; value=&quot;GIVEAWAY&quot; name=&quot;trade_type&quot;&gt;
            &lt;label class=&quot;pam size1of4 centerify truncate&quot; for=&quot;radio-input-GIVEAWAY&quot;&gt;Gi bort&lt;/label&gt;
            &lt;input tabindex=&quot;0&quot; data-selector=&quot;&quot; id=&quot;radio-input-WANTED&quot; type=&quot;radio&quot; value=&quot;WANTED&quot; name=&quot;trade_type&quot;&gt;
            &lt;label class=&quot;pam size1of4 centerify truncate&quot; for=&quot;radio-input-WANTED&quot;&gt;St&#230;le&lt;/label&gt;
            &lt;input tabindex=&quot;0&quot; data-selector=&quot;&quot; id=&quot;radio-input-whatever&quot; type=&quot;radio&quot; value=&quot;WHATEVER&quot; name=&quot;trade_type&quot;&gt;
            &lt;label class=&quot;pam size1of4 centerify truncate&quot; for=&quot;radio-input-whatever&quot;&gt;Ete&lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/fieldset&gt;</pre>
            </details>
            <fieldset class="formelement">                    
                <legend>I want to</legend>
                <div class="input ">
                    <div class="button-group line" role="radiogroup">
                        <input tabindex="0" data-selector="" id="radio-input-SELL" type="radio" value="SELL" name="trade_type" checked="">
                        <label class="pam size1of4 centerify truncate" for="radio-input-SELL">Selge</label>
                        <input tabindex="0" data-selector="" id="radio-input-GIVEAWAY" type="radio" value="GIVEAWAY" name="trade_type">
                        <label class="pam size1of4 centerify truncate" for="radio-input-GIVEAWAY">Gi bort</label>
                        <input tabindex="0" data-selector="" id="radio-input-WANTED" type="radio" value="WANTED" name="trade_type">
                        <label class="pam size1of4 centerify truncate" for="radio-input-WANTED">Stæle</label>
                        <input tabindex="0" data-selector="" id="radio-input-whatever" type="radio" value="WHATEVER" name="trade_type">
                        <label class="pam size1of4 centerify truncate" for="radio-input-whatever">Ete</label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="formelement">                    
                <legend>I want to</legend>
                <div class="input ">
                    <div class="button-group line" role="radiogroup">
                        <input tabindex="0" data-selector="" id="radio-input-HURR" type="radio" value="HURR" name="trade_type2" checked="">
                        <label class="pam size1of2 centerify truncate" for="radio-input-HURR">Selge</label>
                        <input tabindex="0" data-selector="" id="radio-input-DURR" type="radio" value="DURR" name="trade_type2">
                        <label class="pam size1of2 centerify truncate" for="radio-input-DURR">Gi bort</label>
                    </div>
                </div>
            </fieldset>   

            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Checkboxes</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;fieldset&gt;
        &lt;legend&gt;Select more than one&lt;/legend&gt;
        &lt;div class=&quot;input&quot;&gt;
            &lt;label&gt;
                &lt;input type=&quot;checkbox&quot; checked&gt;
                Nothing
            &lt;/label&gt;

            &lt;label&gt;
                &lt;input type=&quot;checkbox&quot;&gt;
                Something
            &lt;/label&gt;

            &lt;label&gt;
                &lt;input type=&quot;checkbox&quot;&gt;
                Other
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <fieldset>
                <legend>Select more than one</legend>
                <div class="input">
                    <label>
                        <input type="checkbox" checked>
                        Nothing
                    </label>

                    <label>
                        <input type="checkbox">
                        Something
                    </label>

                    <label>
                        <input type="checkbox">
                        Other
                    </label>
                </div>
                </fieldset>
            </div>

            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Fancy checkboxes</summary>
                <pre class="prettyprint linenums">&lt;div class=&quot;formelement&quot;&gt;
    &lt;fieldset&gt;
        &lt;legend&gt;Select more than one&lt;/legend&gt;
        &lt;div class=&quot;input&quot;&gt;
            &lt;div class=&quot;fancyinput&quot;&gt;
                &lt;input type=&quot;checkbox&quot; id=&quot;fancycheckbox1&quot;&gt;
                &lt;label for=&quot;fancycheckbox1&quot;&gt;Nothing&lt;/label&gt;
            &lt;/div&gt;

            &lt;div class=&quot;fancyinput&quot;&gt;
                &lt;input type=&quot;checkbox&quot; id=&quot;fancycheckbox2&quot;&gt;
                &lt;label for=&quot;fancycheckbox2&quot;&gt;Something&lt;/label&gt;
            &lt;/div&gt;

            &lt;div class=&quot;fancyinput&quot;&gt;
                &lt;input type=&quot;checkbox&quot; id=&quot;fancycheckbox3&quot;&gt;
                &lt;label for=&quot;fancycheckbox3&quot;&gt;Other&lt;/label&gt;
            &lt;/div&gt;

            &lt;div class=&quot;fancyinput&quot;&gt;
                &lt;input type=&quot;checkbox&quot; id=&quot;fancycheckbox4&quot;&gt;
                &lt;label for=&quot;fancycheckbox4&quot; class=&quot;blockify&quot;&gt;
                    &lt;div class=&quot;fright&quot;&gt;Price or something&lt;/div&gt;
                    Block level label for lots of information
                    &lt;div class=&quot;d1 neutral&quot;&gt;Yibbida yibbida&lt;/div&gt;
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/div&gt;</pre>
            </details>
            <div class="formelement">
                <fieldset>
                    <legend>Select more than one</legend>
                    <div class="input">
                        <div class="fancyinput">
                            <input type="checkbox" id="fancycheckbox1">
                            <label for="fancycheckbox1">Nothing</label>
                        </div>

                        <div class="fancyinput">
                            <input type="checkbox" id="fancycheckbox2">
                            <label for="fancycheckbox2">Something</label>
                        </div>

                        <div class="fancyinput">
                            <input type="checkbox" id="fancycheckbox3">
                            <label for="fancycheckbox3">Other</label>
                        </div>

                        <div class="fancyinput">
                            <input type="checkbox" id="fancycheckbox4">
                            <label for="fancycheckbox4" class="blockify">
                                <div class="fright">Price or something</div>
                                Block level label for lots of information
                                <div class="d1 neutral">Yibbida yibbida</div>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="mtl">

            <details>
                <summary class="r-margin clickable h3 normal">Tagwords input</summary>
<pre class="prettyprint linenums">
&lt;a class=&quot;tagword editable&quot; href=&quot;#&quot;&gt;Nice&lt;/a&gt;

&lt;p class=&quot;editable&quot;&gt;
    &lt;a class=&quot;tagword&quot; href=&quot;#&quot;&gt;Nice&lt;/a&gt;
    &lt;a class=&quot;tagword&quot; href=&quot;#&quot;&gt;Awsome&lt;/a&gt;
    &lt;a class=&quot;tagword&quot; href=&quot;#&quot;&gt;PERDY&lt;/a&gt;
    &lt;a class=&quot;tagword&quot; href=&quot;#&quot;&gt;Amazing&lt;/a&gt;
    &lt;a class=&quot;tagword&quot; href=&quot;#&quot;&gt;cool&lt;/a&gt;
&lt;/p&gt;    
</pre>
            </details>

            <div class="formelement">
                <div class="input">
                    <div class="editable mbm">
                        <a class="tagword" href="#">Nice</a>
                        <a class="tagword" href="#">Awsome</a>
                        <a class="tagword" href="#">PERDY</a>
                        <a class="tagword" href="#">Amazing</a>
                        <a class="tagword" href="#">cool</a>
                    </div>
                    <input type="text">
                </div>
            </div>

            <hr class="mtl">
        
            <details>
                <summary class="r-margin clickable h3 normal">Hidden (expandable) input</summary>
                <pre class="prettyprint linenums">&lt;div&gt;
    &lt;input type=&quot;checkbox&quot; class=&quot;expandfields&quot; id=&quot;expandfields&quot;&gt;
    &lt;label for=&quot;expandfields&quot; tabindex=&quot;0&quot; class=&quot;input clickable expandlabel blue-dk&quot;&gt;Pris i kr&lt;/label&gt;
    &lt;div class=&quot;formelement&quot;&gt;
        &lt;label for=&quot;price&quot;&gt;Pris i kr&lt;/label&gt;
        &lt;div class=&quot;input&quot;&gt;
            &lt;input type=&quot;text&quot; id=&quot;price&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>

            <p>Needs a javascript to set focus on the text input and disable the hidden checkbox on expand. To expand the input by default, set the <code>checked</code> attribute on the checkbox.</p>
            </details>

            <fieldset>
                <div>
                    <input type="checkbox" class="expandfields" id="expandfields">
                    <label for="expandfields" tabindex="0" class="input clickable expandlabel blue-dk r-margin">Pris i kr</label>
                    <div class="formelement">
                        <label for="price">Pris i kr</label>
                        <div class="input">
                            <input type="text" id="price">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        </div>
        </div>
        </div>


    <div class="mod shadow">
        <div class="inner">
            <div class="bd">
                <h2>Mandatory fields and validation</h2>


                <table>
                <tr>
                    <td class="pll"><label class="required">Label</label></td>
                    <td><code>.required</code></td>
                </tr>
                <tr>
                    <td class="pll invalid"><label class="required">Label</label></td>
                    <td><code>.invalid .required</code></td>
                </tr>
                <tr>
                    <td class="pll valid"><label class="required">Label</label></td>
                    <td><code>.valid .required</code></td>
                </tr>
                </table>
                <pre  class="prettyprint linenums">&lt;div class=&quot;formelement invalid&quot;&gt;<br/>    &lt;label class=&quot;required&quot;&gt; ... &lt;/label&gt;<br/>    ...<br/>&lt;/div&gt;</pre>

                <form class="stretched">
                    <fieldset>
                        <legend>Standard form</legend>
                        <div class="formelement">
                            <label for="aaa1" class="required">Fruit</label>
                            <div class="input">
                                <input class="span4" id="aaa1" type="text" />
                                <span class="help-inline"></span>
                            </div>
                        </div><!-- /formelement -->
                        <div class="formelement">
                            <label for="aaa2">Fruit</label>
                            <div class="input">
                                <input class="span4" id="aaa2" type="text" value="Potato" />
                                <span class="help-inline"></span>
                            </div>
                        </div><!-- /formelement -->
                        <div class="formelement invalid">
                            <label for="aaa3" class="required">Fruit</label>
                            <div class="input">
                                <input class="span4" id="aaa3" type="text" value="Potato" />
                                <span class="help-inline">That's not a fruit, dude!</span>
                            </div>
                        </div><!-- /formelement -->

                        <div class="formelement valid">
                            <label for="aaa4" class="required">Fruit</label>
                            <div class="input">
                                <input class="span4" id="aaa4" type="text" value="Apple" />
                                <span class="help-inline">Success!</span>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <h2>Javascript module for form validation</h2>
                <p>For validation and error indication, use <a href="http://npm.finntech.no">common-validator-js</a>
                    (here is the <a href="https://git.finn.no/projects/LIBS/repos/common-validator-js/browse">git repo</a>).</p>
                <p>Additional data-attributes will be needed for the validator to work. Read the validator's readme for more details.  </p>
            </div>
        </div>
    </div>
