
    <div class="mod mbxxl">
        <div class="inner">
            <div class="bd">
                <details>
                    <summary class="r-margin clickable h5">Unordered list, no bullets (default)</summary>
                    <pre><code>{{{example-1}}}</code></pre>
                </details>

                {{{example-1-plain}}}

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Unordered list with bullets</summary>
                    <pre><code>{{{example-2}}}</code></pre>
                </details>

                {{{example-2-plain}}}

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Unordered list, horizontal</summary>
                    <pre><code>{{{example-3}}}</code></pre>
                </details>

                {{{example-3-plain}}}

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Ordered list</summary>
                    <pre><code>{{{example-4}}}</code></pre>
                </details>

                {{{example-4-plain}}}

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Definition list - multicol</summary>
                    <pre><code>{{{example-5}}}</code></pre>
                </details>

                {{{example-5-plain}}}

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Definition list - compact</summary>
                    <pre><code>{{{example-6}}}</code></pre>
                </details>

                {{{example-6-plain}}}

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Definition list - Liquid</summary>
                    <pre><code>{{{example-7}}}</code></pre>
                </details>

                {{{example-7-plain}}}

            </div>
        </div>
    </div>
