
    <div class="mod mbxxl">
        <div class="inner">
            <div class="bd">
                <h2 class="mtn">List types</h2>
                <details>
                    <summary class="r-margin clickable h5">Unordered list, no bullets (default)</summary>
                    <pre class="prettyprint linenums">&lt;ul&gt;
    &lt;li&gt;List&lt;/li&gt;
    &lt;li&gt;with&lt;/li&gt;
    &lt;li&gt;no&lt;/li&gt;
    &lt;li&gt;bullets&lt;/li&gt;
&lt;/ul&gt;</pre>
                </details>
                <ul>
                    <li>List</li>
                    <li>with</li>
                    <li>no</li>
                    <li>bullets</li>
                </ul>

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Unordered list with bullets</summary>
                    <pre class="prettyprint linenums">&lt;ul class="bullets pll"&gt;
    &lt;li&gt;List&lt;/li&gt;
    &lt;li&gt;with&lt;/li&gt;
    &lt;li&gt;bullets&lt;/li&gt;
&lt;/ul&gt;</pre>
                </details>
                <ul class="bullets pll">
                    <li>List</li>
                    <li>with</li>
                    <li>bullets</li>
                </ul>

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Unordered list, horizontal</summary>
<pre class="prettyprint linenums">&lt;ul class="horizontal-list"&gt;
    &lt;li&gt;Horizontal&lt;/li&gt;
    &lt;li&gt;List&lt;/li&gt;
&lt;/ul&gt;</pre>
                </details>
                <ul class="horizontal-list">
                    <li>Horzontal</li>
                    <li>list</li>
                </ul>

                <hr>

                <details>
                <summary class="r-margin clickable h5">Ordered list</summary>
<pre class="prettyprint linenums">&lt;ol class="decimals"&gt;
    &lt;li&gt;List&lt;/li&gt;
    &lt;li&gt;with&lt;/li&gt;
    &lt;li&gt;decimals&lt;/li&gt;
&lt;/ol&gt;</pre>
                </details>

                <ol class="decimals">
                    <li>List</li>
                    <li>with</li>
                    <li>decimals</li>
                </ol>

                <hr>


                <details>
                    <summary class="r-margin clickable h5">Definition list - multicol</summary>
<pre class="prettyprint linenums">&lt;dl class="multicol"&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
&lt;/dl&gt;</pre>
                </details>

                <dl class="multicol">
                    <dt>Label</dt>
                    <dd>Value</dd>
                    <dt>Label</dt>
                    <dd>Value</dd>
                    <dt>Label</dt>
                    <dd>Value</dd>
                </dl>

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Definition list - compact</summary>
<pre class="prettyprint linenums">&lt;dl class="compact man"&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
&lt;/dl&gt;</pre>
                </details>

                <dl class="compact man">
                    <dt>Label</dt>
                    <dd>Value</dd>
                    <dt>Label</dt>
                    <dd>Value</dd>
                    <dt>Label</dt>
                    <dd>Value</dd>
                </dl>

                <hr>

                <details>
                    <summary class="r-margin clickable h5">Definition list - liquid</summary>
<pre class="prettyprint linenums">&lt;dl class="dl-liquid"&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
    &lt;dt&gt;Label&lt;/dt&gt;
    &lt;dd>Value&lt;/dd&gt;
&lt;/dl&gt;</pre>
                </details>

                <dl class="dl-liquid">
                    <dt>Label</dt>
                    <dd>Value</dd>
                    <dt>Label</dt>
                    <dd>Value</dd>
                    <dt>Label</dt>
                    <dd>Value</dd>
                </dl>
            </div>
        </div>
    </div>
