<div class="mod shadow">
    <div class="inner">
        <div class="bd">
            <details>
                <summary class="r-margin clickable h3 normal">Breadcrumbs</summary>
                <pre class="prettyprint linenums">
&lt;ul class=&quot;breadcrumbs&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;FINN&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Jobb&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Heltidsstillinger&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;Buzzword-konsulent&lt;/li&gt;
&lt;/ul&gt;</pre>
            </details>
            <ul class="breadcrumbs">
                <li><a href="#">FINN</a></li>
                <li><a href="#">Jobb</a></li>
                <li><a href="#">Heltidsstillinger</a></li>
                <li>Buzzword-konsulent</li>
            </ul>
        </div>
    </div>
</div>