@import "../node_modules/highlight.js/styles/solarized-dark.css";
@import '../src/styles/config/variables.css';

html, body {
    background-color: white;
}
pre{
  background-color:#f3f3f3;
  padding:10px;
  border-radius: 3px;
  overflow-x: auto;
}

table.collapse thead th{
    background-color: #f9f9f9;
    color:#353233;
}
@media screen and (max-width: 600px) {
    table.collapse th, table.collapse td {
        display:block;
    }
    table.collapse td{
        padding-left:30px;
        padding-bottom: 30px;
    }
    table.collapse th{
        background-color:#f9f9f9;
    }
    table.collapse thead{
        display:none;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                      Fancy headings                 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*
h1.fancy {
    position: relative;
    height: 25px;
    line-height: 25px;
    z-index: 1;
    margin-top: 60px;
    margin-bottom:30px;
}
h1.fancy span {
    position: absolute;
    left: 0;
    z-index: 3;
    display: inline-block;
    float: left;
    background: #fff;
    padding-right: 10px;
}
h1.fancy:after {
    position: absolute;
    top: 8px;
    content: "";
    display: block;
    height: 10px;
    background: #06BEFB;
    width: 100%;
}
*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *             Håndtering av venstremeny               *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.leftmenu {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 4;

    transform: translateZ(0);
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: transform, left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1249px) {
    .leftmenu {
        left: -241px;
        visibility: hidden;
    }
}

@media (min-width: 1250px) {
    .leftmenu {
        display: block;
        visibility: visible;
    }
}

.leftmenu.show {
    left: 0;
    visibility: visible;
}

.leftmenu.show .lm-button {
    position: absolute;
    left: 260px;
}

.topmenu.fixed+.lm-wrapper {
    margin-top: 65px;
}

.lm-button {}

.leftmenu dt {
    color: #333;
    font-weight: bold;
}

.leftmenu dl, .leftmenu dt {
    margin: 0;
}

.leftmenu dt {
    padding: 7px 0 7px 20px;
}

.leftmenu dl a {
    display: block;
    padding: 7px 0 7px 40px;
}

.leftmenu a.nav-active {
    color: 4CB7FF;
}

.leftmenu a.nav-active:link {
    color: #0063fb
}

.leftmenu a.nav-active:visited {
    color: #0063fb;
}

.leftmenu a.nav-active:hover {
    color: #0063fb;
}

.leftmenu .nav-active {
    color: 4CB7FF;
}

.lm-wrapper{
    margin-top:-1px;
}

@media (max-width: 1249px) {}

@media (min-width: 1250px) {
    .lm-wrapper {
        padding-left: 250px;

    }
    .lm-button {
        display: none
    }
}

/* Bigger vertical distance between each section for better readabillity in the doc */

.mbxxl {
    margin-bottom: 60px!important;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *           Overstyringer for hvit bakgrunn           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.topmenu{
    background-color: rgba(255,255,255,0.85);
    border-bottom: 1px solid #dddddd;
}

.outlines.container {
    outline: 1px solid blue;
}

.outlines .page {
    outline: 1px solid red;
}

.outlines .inner {
    outline: 1px solid green;
}

.outlines .mod.skinned>.inner p, .outlines .mod.skinned>.inner, .outlines p {
    outline: 1px dotted red;
}

.wrapper>.inner {
    padding: 10px;
}

.wrapper .mod.skinned {
    margin: 10px!important;
    margin-bottom: 20px!important;
}

.mod.skinned>.inner {
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper p {
    margin: 10px;
}
