@import "../node_modules/highlight.js/styles/solarized-dark.css";
@import '../src/styles/config/variables.css';

html, body {
    background-color: white;
}
pre{
  background-color:#f3f3f3;
  padding:10px;
  border-radius: 3px;
  overflow-x: auto;
}

table.collapse thead th{
    background-color: #f9f9f9;
    color:#353233;
}

@media screen and (max-width: 600px) {
    table.collapse th, table.collapse td {
        display:block;
    }
    table.collapse td{
        padding-left:30px;
        padding-bottom: 30px;
    }
    table.collapse th{
        background-color:#f9f9f9;
    }
    table.collapse thead{
        display:none;
    }
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                      Fancy headings                 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*
h1.fancy {
    position: relative;
    height: 25px;
    line-height: 25px;
    z-index: 1;
    margin-top: 60px;
    margin-bottom:30px;
}
h1.fancy span {
    position: absolute;
    left: 0;
    z-index: 3;
    display: inline-block;
    float: left;
    background: #fff;
    padding-right: 10px;
}
h1.fancy:after {
    position: absolute;
    top: 8px;
    content: "";
    display: block;
    height: 10px;
    background: #06BEFB;
    width: 100%;
}
*/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *             Håndtering av venstremeny               *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.leftmenu {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 4;

    transform: translateZ(0);
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: transform, left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1249px) {
    .leftmenu {
        left: -241px;
        visibility: hidden;
    }
}

@media (min-width: 1250px) {
    .leftmenu {
        display: block;
        visibility: visible;
    }
}

.leftmenu.show {
    left: 0;
    visibility: visible;
}

.leftmenu.show .lm-button {
    position: absolute;
    left: 260px;
}

.topmenu.fixed+.lm-wrapper {
    margin-top: var(--xl);
}

.lm-button {}

/* Nasty little hiding for niceness*/
.doc-Core>hr:first-child { display: none; }
/* */
.doc-Examples{
    background-color: #e6fef7;
    padding-bottom:var(--xl);
}

.leftmenu dt {
    color: #333;
    font-weight: bold;
}

.leftmenu dl, .leftmenu dt {
    margin: 0;
}

.leftmenu dt {
    padding: var(--s) 0 var(--s) var(--l);
}

.leftmenu dl a {
    display: block;
    padding: var(--s) 0 var(--s) var(--l);
}

.leftmenu a.nav-active {
    color: 4CB7FF;
}

.leftmenu a.nav-active:link {
    color: #0063fb
}

.leftmenu a.nav-active:visited {
    color: #0063fb;
}

.leftmenu a.nav-active:hover {
    color: #0063fb;
}

.leftmenu .nav-active {
    color: 4CB7FF;
}

.lm-wrapper{
    margin-top:-1px;
}

@media (max-width: 1249px) {}

@media (min-width: 1250px) {
    .lm-wrapper {
        padding-left: 250px;

    }
    .lm-button {
        display: none
    }
}


/* Bigger vertical distance between each section for better readabillity in the doc */
.mbxxl {
    margin-bottom: var(--xl) !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *           Overstyringer for hvit bakgrunn           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.topmenu{
    background-color: rgba(255,255,255,0.85);
    border-bottom: 1px solid #dddddd;
}

@media not all and (max-width: 767px)
.page {
    max-width: 995px;
}

.wrapper>.inner {
    padding: var(--m);
}

.wrapper .mod.skinned {
    margin: var(--m) !important;
    margin-bottom: var(--l) !important;
}

.mod.skinned>.inner {
    padding-left: var(--m);
    padding-right: var(--m);
}

.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper p {
    margin: var(--m);
}



/* debug grid */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.grid-overlay { display:none ; }
.grid .grid-overlay {
    position: fixed;
    left: 50%;
    top:0;
    width: 980px;
    height: 100%;
    display: block;
    margin: 0 0 0 -490px;
}
.grid .grid-overlay ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.grid .grid-overlay li {
    display: block;
    float: left;
    width: 316px;
    height: 100%;
    background-color:rgba(255, 0, 0, .1);
    border-right:var(--l) solid rgba(255, 0, 0, .1);
    text-indent:-9000px;
}
.grid .grid-overlay li:first-child {
    border-left:var(--l) solid rgba(255, 0, 0, .1);
    width: 348px;
}
.grid .grid-overlay li:last-child {
    border-right:0;
}

/* debug outlines */
.outlines.container {
    outline: 1px solid blue;
}

.outlines .page {
    outline: 1px solid red;
}

.outlines .inner {
    outline: 1px solid green;
}

.outlines .mod.skinned>.inner p, 
.outlines .mod.skinned>.inner, 
.outlines p {
    outline: 1px dotted red;
}
