





<div class="container">
    <div class="page">
        <div class="mod green-skin">
        	<div class="inner">
        		<div class="bd">
        			<p>Experimental example</p>
        		</div>
        	</div>
        </div>

        <div class="mod shadow profile profile-large">
            <div class="inner pvn">
                <div class="bd profilebg profilebg-blue">
                    <div class="line r-margin">
                        <div class="unit r-size1of6">
                            <div class="profileimg centerify">
                                <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
                            </div>
                        </div>
                        <div class="unit profiletxt r-size5of6 centerify-lt768">
                            <h1 class="verified">Gjærmund Emanuelle Spøttabotten</h1>
                            <p class="largetext"><!--Hei jeg heter Gjærmund og hjertelig velkommen til min internett-profil. Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.-->Har vært på FINN i 5 år.</p>
                        </div>
                    </div>
                </div>
                <div class="bd">
                    <div class="line r-margin">
                         <div class="unit r-size1of6">
                            <div class="centerify r-mtm ratings">
                                <span class="rating-stars medium-stars">
                                    <span class="stars" style="width: 80%;"></span>
                                </span>
                                <p class="centerify d2 mts"><a href="#">18 vurderinger</a></p>
                            </div>
                        </div>
                        <div class="unit r-size2of3">
                            <div class="line r-cols3to7 mbn centerify opaque">
                                <div class="unit r-mbl">
                                    <div class="t2">19</div>
                                    <div class="d2">Måneder på<br aria-hidden="true"> småjobber</div>
                                </div>
                                <div class="unit r-mbl">
                                    <div class="t2">0</div>
                                    <div class="d2">Småjobber<br aria-hidden="true"> vunnet</div>
                                </div>
                                <div class="unit r-mbl">
                                    <div class="t2">3</div>
                                    <div class="d2">Småjobber<br aria-hidden="true"> lagt ut</div>
                                </div>
                                <div class="unit r-mbl">
                                    <div class="t2">63</div>
                                    <div class="d2">Salg på<br aria-hidden="true"> Torget</div>
                                </div>
                                <div class="unit r-mbl">
                                    <div class="t2">14</div>
                                    <div class="d2">Kjøp på<br aria-hidden="true"> Torget</div>
                                </div>
                                <div class="unit r-mbl">
                                    <div class="t2">97</div>
                                    <div class="d2">Følgere på<br aria-hidden="true"> FINN</div>
                                </div>
                                <div class="unit r-mbl">
                                    <div class="t2">8</div>
                                    <div class="d2">År på<br aria-hidden="true"> FINN</div>
                                </div>
                            </div>
                        </div>
                        <div class="unit r-size1of6 rightify">
                            <button class="primary r-mvm">+ Følg</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line">
            <div class="unit r-size1of3">
                <div class="mod shadow">
                    <div class="inner pvn">
                        <div class="bd">
                            <a href="#" class="blockify r-phl r-pvm">
                                Alle aktive annonser <span class="neutral">(14)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Torget - til salgs <span class="neutral">(10)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Torget - ønskes kjøpt <span class="neutral">(1)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Bil <span class="neutral">(1)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Traktor <span class="neutral">(1)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Trekkspell <span class="neutral">(1)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unit r-size2of3">
                <div class="mod shadow">
                    <div class="inner">
                        <div class="bd hover-background">
                            <h2>Aktive annonser</h2>
                            <hr class="man" role="presentation">
                            <a id="60007802" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i3.finncdn.no/dynamic/300x225c/2015/5/vertical-5/31/2/600/078/02_1160758429.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="unit size1of2 truncate green-lt d1">51 minutter siden</div>
                                        <div class="unit size1of2 truncate neutral rightify d1">Nybergsund</div>
                                    </div>
                                    <div class="truncate t3 sharp">Mercedes E200</div>
                                    <div class="mtn r-mbm strong truncate pbs sharp">
                                        <span class="prs">4&nbsp;500,-</span>
                                    </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>

                            <hr class="man">

                            <a id="58865568" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i3.finncdn.no/dynamic/300x225c/2015/5/vertical-5/04/3/588/653/03_1242698179.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="truncate neutral rightify d1">Førresfjorden</div>
                                    </div>
                                    <div class="truncate t3 sharp">Bringeduk til hardangerbunad</div>
                                        <div class="mtn r-mbm strong truncate pbs sharp">
                                            <span class="prs">1&nbsp;600,-</span>
                                        </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>

                            <hr class="man">

                            <a id="58865568" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i1.finncdn.no/dynamic/300x225c/2015/5/vertical-5/04/8/588/655/68_232989060.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="truncate neutral rightify d1">Førresfjorden</div>
                                    </div>
                                    <div class="truncate t3 sharp">Bringeduk til hardangerbunad</div>
                                        <div class="mtn r-mbm strong truncate pbs sharp">
                                            <span class="prs">1&nbsp;600,-</span>
                                        </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="line" style="margin-top: 150px;">
            <div class="unit r-size1of3">
                <div class="mod shadow profile profile-medium">
            <div class="inner pvn">
                <div class="bd profilebg profilebg-green">
                    <div class="centerify r-margin profileimg">
                        <img class="rounded-border r-mtm" src="http://i.imgur.com/ktHTmYw.jpg">
                    </div>
                    <div class="profiletxt r-mbl">
                        <h2 class="centerify verified"><a href="#">Skrotfinn Johansen</a></h2>
                        <p class="centerify">Har vært på FINN i 8 år.</p>
                    </div>
                </div>
                <div class="bd">
                    <div class="line r-margin">
                        <div class="unit size1of2">
                            <div class="centerify r-mvm">
                                <span class="rating-stars">
                                    <span class="stars" style="width: 80%;"></span>
                                </span>
                                <p class="centerify d2 mtn"><a href="#">18 vurderinger</a></p>
                            </div>
                        </div>
                        <div class="unit size1of2 rightify">
                            <button class="primary r-mvm">+ Følg</button>
                        </div>
                    </div>


                    <hr>

                    <div class="line r-cols3to4 mbn centerify opaque">
                        <div class="unit r-mbl">
                            <div class="t2">19</div>
                            <div class="d2">Måneder på<br aria-hidden="true"> småjobber</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">0</div>
                            <div class="d2">Småjobber<br aria-hidden="true"> vunnet</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">3</div>
                            <div class="d2">Småjobber<br aria-hidden="true"> lagt ut</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">63</div>
                            <div class="d2">Salg på<br aria-hidden="true"> Torget</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">14</div>
                            <div class="d2">Kjøp på<br aria-hidden="true"> Torget</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">97</div>
                            <div class="d2">Følgere på<br aria-hidden="true"> FINN</div>
                        </div>
                        <div class="unit r-mbl">
                            <div class="t2">8</div>
                            <div class="d2">År på<br aria-hidden="true"> FINN</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


                <div class="mod shadow">
                    <div class="inner pvn">
                        <div class="bd">
                            <a href="#" class="blockify r-phl r-pvm">
                                Alle aktive annonser <span class="neutral">(14)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Torget - til salgs <span class="neutral">(10)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Torget - ønskes kjøpt <span class="neutral">(1)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Bil <span class="neutral">(1)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Traktor <span class="neutral">(1)</span>
                            </a>
                            <hr class="man">
                            <a href="#" class="blockify r-phl r-pvm">
                                Trekkspell <span class="neutral">(1)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unit r-size2of3">
                <div class="mod shadow">
                    <div class="inner">
                        <div class="bd hover-background">
                            <h2>Aktive annonser</h2>
                            <hr class="man" role="presentation">
                            <a id="60007802" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i3.finncdn.no/dynamic/300x225c/2015/5/vertical-5/31/2/600/078/02_1160758429.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="unit size1of2 truncate green-lt d1">51 minutter siden</div>
                                        <div class="unit size1of2 truncate neutral rightify d1">Nybergsund</div>
                                    </div>
                                    <div class="truncate t3 sharp">Mercedes E200</div>
                                    <div class="mtn r-mbm strong truncate pbs sharp">
                                        <span class="prs">4&nbsp;500,-</span>
                                    </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>

                            <hr class="man">

                            <a id="58865568" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i3.finncdn.no/dynamic/300x225c/2015/5/vertical-5/04/3/588/653/03_1242698179.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="truncate neutral rightify d1">Førresfjorden</div>
                                    </div>
                                    <div class="truncate t3 sharp">Bringeduk til hardangerbunad</div>
                                        <div class="mtn r-mbm strong truncate pbs sharp">
                                            <span class="prs">1&nbsp;600,-</span>
                                        </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>

                            <hr class="man">

                            <a id="58865568" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i1.finncdn.no/dynamic/300x225c/2015/5/vertical-5/04/8/588/655/68_232989060.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="truncate neutral rightify d1">Førresfjorden</div>
                                    </div>
                                    <div class="truncate t3 sharp">Bringeduk til hardangerbunad</div>
                                        <div class="mtn r-mbm strong truncate pbs sharp">
                                            <span class="prs">1&nbsp;600,-</span>
                                        </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>

                                                        <hr class="man" role="presentation">
                            <a id="60007802" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i3.finncdn.no/dynamic/300x225c/2015/5/vertical-5/31/2/600/078/02_1160758429.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="unit size1of2 truncate green-lt d1">51 minutter siden</div>
                                        <div class="unit size1of2 truncate neutral rightify d1">Nybergsund</div>
                                    </div>
                                    <div class="truncate t3 sharp">Mercedes E200</div>
                                    <div class="mtn r-mbm strong truncate pbs sharp">
                                        <span class="prs">4&nbsp;500,-</span>
                                    </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>

                            <hr class="man">

                            <a id="58865568" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i3.finncdn.no/dynamic/300x225c/2015/5/vertical-5/04/3/588/653/03_1242698179.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="truncate neutral rightify d1">Førresfjorden</div>
                                    </div>
                                    <div class="truncate t3 sharp">Bringeduk til hardangerbunad</div>
                                        <div class="mtn r-mbm strong truncate pbs sharp">
                                            <span class="prs">1&nbsp;600,-</span>
                                        </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>

                            <hr class="man">

                            <a id="58865568" href="#" class="media linkblock man r-pal">
                                <div class="size1of3 img image small result">
                                    <img alt="" src="https://i1.finncdn.no/dynamic/300x225c/2015/5/vertical-5/04/8/588/655/68_232989060.jpg" style="width: 100%;">
                                </div>
                                <div class="bd r-pll result-body">
                                    <div class="line r-mbm">
                                        <div class="truncate neutral rightify d1">Førresfjorden</div>
                                    </div>
                                    <div class="truncate t3 sharp">Bringeduk til hardangerbunad</div>
                                        <div class="mtn r-mbm strong truncate pbs sharp">
                                            <span class="prs">1&nbsp;600,-</span>
                                        </div>
                                    <div class="d1 truncate">
                                       <span class="neutral"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
