

<div class="container">
<div class="page">
    <div class="mod green-skin">
        <div class="inner">
            <div class="bd">
                <p>Experimental example</p>
            </div>
        </div>
    </div>

<div class="mod transparent">
    <div class="inner">
        <div class="bd">
            <form class="hform640">

                <fieldset class="formelement">
                    <Legend>I want to</Legend>
                    <div class="input ">
                        <div class="button-group" role="radiogroup">
                            <input tabindex="0" data-selector="" id="radio-input-SELL" type="radio" value="SELL" name="trade_type" checked="">
                            <label class="pam" for="radio-input-SELL"> Selge</label>
                            <input tabindex="0" data-selector="" id="radio-input-GIVEAWAY" type="radio" value="GIVEAWAY" name="trade_type">
                            <label class="pam" for="radio-input-GIVEAWAY"> Gi bort</label>
                            <input tabindex="0" data-selector="" id="radio-input-WANTED" type="radio" value="WANTED" name="trade_type">
                            <label class="pam" for="radio-input-WANTED"> Kjøpe</label>
                        </div>
                    </div>
                </fieldset>


                    <div class="formelement">
                        <label for="inputaa33">I want to</label>
                        <div class="input select">
                            <div class="fancyselect">
                                <select id="inputaa33">
                                    <option>Sell stuff</option>
                                    <option>Buy stuff</option>
                                    <option>Steal stuff</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="formelement">
                        <label for="hf1">Title</label>
                        <div class="input">
                            <input id="hf1" type="text" />
                        </div>
                    </div>

                    <div class="formelement">
                        <label for="browsefile">Images</label>
                        <div class="input">
                            <a data-profile-image-change="" class="button file-input-button" tabindex="0" href="" role="button">
                                <span data-profile-image-change-text="">Last opp bilde</span>
                                <input data-profile-image-input="" type="file" name="files" accept="image/jpeg, image/png, image/gif" autocomplete="off" tabindex="-1" aria-hidden="true">
                            </a>
                        </div>
                    </div>

                    <div class="formelement">
                        <label for="inputaa33">Category</label>
                        <div class="input select">
                            <div class="fancyselect">
                                <select id="inputaa33">
                                    <option>Stuff for sale</option>
                                    <option>Stuff for hire</option>
                                    <option>Free stuff</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="formelement">
                        <label for="textarea">Description</label>
                        <div class="input">
                            <textarea id="textarea" rows="3"></textarea>
                        </div>
                    </div>

                    <!--<div class="formelement">
                        <details>
                            <summary role="button" class="input clickable mbt">Pris i kr</summary>
                            <label for="price">Pris i kr</label>
                            <div class="input">
                                <input type="text" id="price" class="">
                            </div>
                        </details>
                    </div>-->

                    <div>
                        <input type="checkbox" class="expandfields" id="expandfields">
                        <label for="expandfields" tabindex="0" class="input clickable expandlabel blue-dk">Pris i kr</label>
                        <div class="formelement">
                            <label for="price">Pris i kr</label>
                            <div class="input">
                                <input type="text" id="price" class="">
                            </div>
                        </div>
                    </div>

                    <div class="formelement">
                        <div class="input">
                            <label>
                                <input type="checkbox"> Varen kan sendes til kjøper
                            </label>
                        </div>
                    </div>

                    <div class="formelement">
                        <div class="input">
                            <div class="fancyinput">
                                <input type="checkbox" id="fancycheckbox1">
                                <label for="fancycheckbox1">Varen kan sendes til kjøper</label>
                            </div>

                            <div class="fancyinput">
                                <input type="checkbox" id="fancycheckbox2">
                                <label for="fancycheckbox2">Varen kan kanskje sendes til kjøper</label>
                            </div>
                        </div>
                    </div>

                    <div class="formelement">
                        <div class="input">
                            <div class="fancyinput">
                                <input type="radio" id="fancyradio1" name="fancyradio">
                                <label for="fancyradio1">Varen kan sendes til kjøper</label>
                            </div>

                            <div class="fancyinput">
                                <input type="radio" id="fancyradio2" name="fancyradio">
                                <label for="fancyradio2">Varen kan ikke sendes til kjøper</label>
                            </div>
                        </div>
                    </div>

                    <div class="formelement">
                        <label for="inputaa44">Postcode/city</label>
                        <div class="input">
                            <div class="line">
                                <div class="unit size1of6 prs">
                                    <input id="inputaa44" type="text">
                                </div>
                                <div class="unit size5of6">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <button class="primary">Yes sir!</button>
                        <button>No wai</button>
                    </div>

            </form>
        </div>
    </div>
</div>

</div>
</div>
