<div class="filter r-pvm">
    <h4 class="truncate t5">Number of things</h4>
    <div class="input r-margin">
        <div class="button-group line" role="radiogroup">
            <input tabindex="0" data-selector="" id="sr0" type="radio" value="1" name="bedrooms" checked>
            <label class="pas size1of6 centerify" for="sr0">All</label>
            <input tabindex="0" data-selector="" id="sr1" type="radio" value="1" name="bedrooms">
            <label class="pas size1of6 centerify" for="sr1">1+</label>
            <input tabindex="0" data-selector="" id="sr2" type="radio" value="2" name="bedrooms">
            <label class="pas size1of6 centerify" for="sr2">2+</label>
            <input tabindex="0" data-selector="" id="sr3" type="radio" value="3" name="bedrooms">
            <label class="pas size1of6 centerify" for="sr3">3+</label>
            <input tabindex="0" data-selector="" id="sr4" type="radio" value="4" name="bedrooms">
            <label class="pas size1of6 centerify" for="sr4">4+</label>
            <input tabindex="0" data-selector="" id="sr5" type="radio" value="5" name="bedrooms">
            <label class="pas size1of6 centerify" for="sr5">5+</label>
        </div>
    </div>
</div>
