<div class="filter r-pvm">
    <h4 class="truncate t5">Title</h4>
    <ul>
        <li>
            <div class="fancyinput">
                <input type="checkbox" id="fancycheckbox1">
                <label for="fancycheckbox1" class="blockify">Level 1 <span class="d1 neutral">(345)</span></label>
            </div>
        </li>
        <li>
            <div class="fancyinput">
                <input type="checkbox" id="fancycheckbox2">
                <label for="fancycheckbox2" class="blockify"><span class="opacity60">Level 1 - no hits<span class="d1 neutral">(0)</span></span></label>
            </div>
        </li>
        <li>
            <div class="fancyinput">
                <input type="checkbox" id="fancycheckbox3">
                <label for="fancycheckbox3" class="blockify">Level 1 <span class="d1 neutral">(195)</span></label>
            </div>
            <ul class="mvn">
                <li>
                    <div class="fancyinput">
                        <input type="checkbox" id="fancycheckbox1-1">
                        <label for="fancycheckbox1-1" class="blockify">Level 2 <span class="d1 neutral">(128)</span></label>
                    </div>
                </li>
                <li>
                    <div class="fancyinput">
                        <input type="checkbox" id="fancycheckbox1-2">
                        <label for="fancycheckbox1-2" class="blockify">Level 2 <span class="d1 neutral">(33)</span></label>
                    </div>
                    <ul class="mvn">
                        <li>
                            <div class="fancyinput">
                                <input type="checkbox" id="fancycheckbox2-1">
                                <label for="fancycheckbox2-1" class="blockify">Level 3 <span class="d1 neutral">(91)</span></label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="fancyinput">
                <input type="checkbox" id="fancycheckbox4">
                <label for="fancycheckbox4" class="blockify">Level 1 <span class="d1 neutral">(45)</span></label>
            </div>
        </li>
        <li>
            <div class="fancyinput">
                <input type="checkbox" id="fancycheckbox5">
                <label for="fancycheckbox5" class="blockify">Level 1 <span class="d1 neutral">(2)</span></label>
            </div>
        </li>
    </ul>
</div>
